<div>
<%= link_to(rails_blob_path(blob, disposition: 'attachment'), class: 'btn') do %>
  <% pdf = blob.filename.extension == 'pdf' %>
  <figure
    class="attachment attachment--<%= blob.representable? && !pdf ? 'preview' : 'file' %>
           attachment--<%= blob.filename.extension %>">
    <% if blob.representable? && !pdf %>
      <%=
        image_tag(blob.representation(
          resize_to_limit: local_assigns[:in_gallery] ? [400, 300] : [512, 384]
        ))
      %>
    <% end %>

    <figcaption class="attachment__caption">
      <% if caption = blob.try(:caption) %>
        <%= caption %>
      <% else %>
        <%= fa_icon('file-pdf') if pdf %>
        <span class="attachment__name"><%= blob.filename %></span>
        <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
      <% end %>
    </figcaption>
  </figure>
<% end %>
</div>
