<% if @register.proposing_publications.count > 1 %>
  <div class="alert alert-danger">
    The names in this list appear to be proposed in multiple publications.
    Once you notify the SeqCode of effective publication, all names in the
    list will be associated to the single publication reported. If this is
    not the desired result, please prepare two or more separate lists,
    one per effective publication.
  </div>
<% end %>

<% if @register.proposing_publications.present? && @register.submitted? &&
      !@register.notified? && !@register.validated? %>
  <div class="alert alert-warning">
    <h4>List ready for notification</h4>
    Some names in this list already include effective publication.
    Consider moving forward in the process to:<br/><br/>
    <%= link_to(
          notify_register_url(@register),
          class: 'btn btn-primary'
        ) do %>
      <%= fa_icon('file-upload') %> Notify about effective publication
    <% end %>
  </div>
<% end %>

<% if @register.registers_with_shared_publication.present? %>
  <div class="alert alert-<%= @register.validated? ? :info : :warning %>">
    <h4>Effective publication associated to multiple register lists</h4>
    The effective publication of this list
    (<%= @register.publication.short_citation %>) is also associated with:
    <ul>
      <% @register.registers_with_shared_publication.each do |register| %>
        <li><%= display_link(register) %>: <%= register.propose_title %></li>
      <% end %>
    </ul>
    <% if !@register.validated? && @register.can_edit?(current_user) %>
      <%= link_to(
            merge_register_path(@register), class: 'btn btn-primary'
          ) do %>
        <%= fa_icon('dolly', class: 'mr-1') %>
        Transfer register names
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @register.title_has_wrong_number_of_names? &&
      @register.can_edit?(current_user) %>
  <div class="alert alert-warning">
    <h4>Wrong number of names indicated in the title</h4>
    The title of this register list indicates a wrong number of names being
    proposed (it should be <%= @register.size %>)
  </div>
<% end %>
