<div class="container main-section name-details">
  <% if @register.title? %>
    <h2 class="mb-4 mx-3 border-bottom pb-1">
      <%= fa_icon('list-alt', class: 'float-right') %>
      <%= @register.title %>
      <% if @register.modal_form_id %>
        <sup style="font-size: 1rem;" class="mx-1">
        <%= modal_button(@register.modal_form_id,
              class: 'badge badge-pill badge-primary') do %>
          <%= fa_icon('edit') %> Edit
        <% end %>
        </sup>
      <% end %>
    </h2>
  <% end %>

  <div class="row pl-3">
    <dl class="col-md-7">
      <dt><%= fa_icon(:barcode) %> SeqCode Registry Accession</dt>
      <dd class="copyable"><%= @register.acc_url %></dd>

      <% if @register.reviewer_token? && @register.can_edit?(current_user) &&
            !@register.validated? %>
        <dt>
          <%= fa_icon('user-secret') %> Confidential reviewer link
          <%= help_message('Reviewer link') do %>
            You can share this link confidentially with editors and reviewers
            during the peer-review process. This link will grant reading access
            to the entire register list, including all listed names and their
            associated type genomes and reference strains.<br/><br/>
            If you have used this link for a peer-review process now concluded
            (for example, for a manuscript that has now been accepted or
            rejected) we recommend destroying this link using the action at the
            bottom of the page. If you are resubmitting your manuscript to a
            different journal after a rejection, you can destroy the link and
            create a new one to make sure that only the new reviewers have
            access.<br/><br/>
            Do not share this link publicly, and do not include it in the
            manuscript itself. Include instead the public version:<br/>
            <b><%= @register.acc_url %></b>
          <% end %>
        </dt>
        <dd class="copyable"><%=
          register_url(@register, token: @register.reviewer_token)
        %></dd>
      <% end %>

      <dt><%= fa_icon('clipboard-check') %> Status</dt>
      <dd>
        <%= @register.status_name.capitalize %>: <%= @register.status_help %>
      </dd>

      <% if @register.notified? %>
        <dt><%= fa_icon('pen-nib') %> Authorship</dt>
        <dd>
          <% if @register.submitter_is_author? && @register.authors_approval? %>
            The submitter has declared authorship and approval of coauthor(s)
            of the effective publication for submission
          <% elsif @register.submitter_is_author? %>
            <%= fa_icon('exclamation-circle', class: 'text-danger') %>
            The submitter has declared authorship of the effective publication
            but not coauthor approval for submission
          <% elsif @register.authors_approval? %>
            The submitter is not an author of the effective publication but has
            declared approval for submission from the author(s)
          <% else %>
            <%= fa_icon('exclamation-circle', class: 'text-danger') %>
            The submitter is not an author of the effective publication and has
            not declared approval for submission from the author(s)
          <% end %>
          <% unless @register.submitter_authorship_explanation.empty? %>
            <br/>
            <b>Submitter statement:</b>
            <%= @register.submitter_authorship_explanation %>
          <% end %>
        </dd>
      <% end %>

      <% if @register.validated? %>
        <dt><%= fa_icon('book-open') %> How to cite</dt>
        <dd class="copyable">
          <%= @register.user.display_name %>
          (<%= @register.validated_at.year %>).
          <%= @register.propose_title.gsub(/\.\z/, '') %>.
          <i>The SeqCode Registry</i>
          <%= @register.accession %>.
          <% if @register.published? %>
            https://doi.org/<%= @register.propose_doi %>
          <% else %>
            Pending DOI.
          <% end %>
        </dd>
      <% end %>
    </dl>

    <!-- Right column -->
    <dl class="col-md-5 border-left border-secondary">
      <% if @register.publication %>
        <dt><%= fa_icon('file-signature') %> Effective publication</dt>
        <dd class="mb-4">
          <p class="mb-1">
            <%= link_to(@register.publication, class: 'mr-1') do %>
              <%= fa_icon('arrow-circle-right') %><% end %>
            <%= @register.publication.long_citation_html %>
          </p>
          <% if @register.can_view_publication?(current_user) %>
            <% %i[publication_pdf supplementary_pdf].each do |attach| %>
              <% as = @register.send(attach) %>
              <% if as.attached? %>
                <%= link_to(
                      rails_blob_path(as, disposition: 'attachment'),
                      class: 'btn btn-secondary btn-sm'
                    ) do %>
                  <%= fa_icon('file-pdf') %>
                  <%= attach.to_s.sub(/_.*/, '') %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </dd>
      <% end %>

      <dt><%= fa_icon('download') %> Downloads</dt>
      <dd class="pt-2">
        <div class="btn-group btn-group-sm" role="group"
              aria-label="Table downloads">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <%= fa_icon('table', title: 'Table downloads') %>
            </div>
          </div>
          <%= link_to(
                table_register_url(@register, format: :pdf),
                class: 'btn btn-secondary'
              ) do %>
            <%= fa_icon('file-pdf') %> Table PDF
          <% end %>
          <%= link_to(
                table_register_url(@register),
                class: 'btn btn-secondary'
              ) do %>
            <%= fa_icon('file-code') %> Table HTML
          <% end %>
        </div>
        <%= help_message('Register Table') do %>
          The Register Table is the PDF or HTML version of the register
          list including all its names with their most up-to-date information
          in the system, in table format.
        <% end %>
        <br/>
        <div class="btn-group btn-group-sm mt-1" role="group"
              aria-label="List downloads">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <%= fa_icon('list-ul', title: 'List downloads') %>
            </div>
          </div>
          <%= link_to(
                list_register_url(@register, format: :pdf),
                class: 'btn btn-secondary'
              ) do %>
            <%= fa_icon('file-pdf') %> List PDF
          <% end %>
          <%= link_to(
                list_register_url(@register),
                class: 'btn btn-secondary'
              ) do %>
            <%= fa_icon('file-code') %> List HTML
          <% end %>
        </div>
        <%= help_message('Live Register List') do %>
          The Live Register List is the PDF or HTML version of the register
          list including all its names with their most up-to-date information
          in the system.
        <% end %>
        <% if @register.certificate_image? %>
          <br/>
          <div class="btn-group btn-group-sm mt-1" role="group"
                aria-label="Certificate of record">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">
                <%= fa_icon('archive', title: 'Certificate of record') %>
              </div>
            </div>
            <%= link_to(
                  certificate_image_register_url(@register, format: :pdf),
                  class: 'btn btn-sm btn-secondary'
                ) do %>
              <%= fa_icon('file-pdf') %> Certificate of Record PDF
            <% end %>
          </div>
          <%= help_message('Certificate of Record') do %>
            A certificate of record is the PDF version of the register list
            saved immediately upon validation. If later changes in taxonomy,
            format, or modifications of the name are recorded, the live list
            might change, but this version will remain unchanged.
          <% end %>
        <% end %>
      </dd>
    </div>
  </dl>
</div>

