<% if @register.can_edit?(current_user) %>
  <dl class="main-section name-details actions-section">
    <h2>Contributor Actions</h2>
    <dd>
      <% unless @register.notified? || @register.validated? %>
        <% unless @register.submitted? %>
          <% if Date.today < Date.new(2022, 1, 1) %>
            <% id = modal('Advance Preview') do %>
              This function will become available on 01/January/2022.
            <% end %>
            <%= modal_button(id, class: 'btn btn-primary btn-sm') do %>
              <%= fa_icon('paper-plane') %> Submit register list for evaluation
            <% end %>
          <% else %>
            <%= link_to(
                  submit_register_url(@register), method: :post,
                  class: 'btn btn-primary btn-sm',
                  data: { confirm: 'Are you sure? This will submit to reviewers' }
                ) do %>
              <%= fa_icon('paper-plane') %> Submit register list for evaluation
            <% end %>
          <% end %>
          &raquo; Evaluate the names in this list <b>before</b> publication
          <hr/>
        <% end %>
        <%= link_to(
              notify_register_url(@register),
              class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('file-upload') %> Notify about effective publication
        <% end %>
        &raquo; Notify the SeqCode about names <b>already</b> published
        <hr/>
      <% end %>
      <% unless @register.validated? %>
        <% if @register.reviewer_token? %>
          <%= link_to(
                reviewer_token_register_url(@register), method: :delete,
                class: 'btn btn-primary btn-sm',
                data: {
                  confirm: 'Are you sure? ' \
                           'The reviewer link will be permanently deactivated'
                }
              ) do %>
            <%= fa_icon('user-secret') %> Deactivate reviewer link
          <% end %>
          &raquo; Destroy reviewer link and remove reviewer reading access
          <hr/>
        <% else %>
          <%= link_to(
                reviewer_token_register_url(@register), method: :post,
                class: 'btn btn-primary btn-sm'
              ) do %>
            <%= fa_icon('user-secret') %> Create reviewer link
          <% end %>
          &raquo; Grant reading access to reviewers and editors
          <hr/>
        <% end %>

        <%= link_to(
              merge_register_url(@register),
              class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('dolly') %> Transfer register names
        <% end %>
        &raquo; Merge this register list into a different one
        <hr/>

        <%= link_to(
              coauthors_register_url(@register),
              class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('user-friends') %> Edit coauthors
        <% end %>
        &raquo; Add, remove, or reorder the coauthors of the list
        <hr/>
      <% end %>

      <% id = modal('Are you sure?') do %>
        <div class="alert alert-danger my-0">
          <h5>Remove register list</h5>
          <p>
            This action cannot be undone. Once you remove this list, all
            associated metadata will also be removed, including any validation
            or curation progress.
          </p>
          <%= link_to(
                @register, method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Final confirmation: Are you sure?' }
              ) do %>
            <%= fa_icon('trash-alt') %> Eliminate register list
          <% end %>
        </div>
      <% end %>
      <%= modal_button(id, class: 'btn btn-danger btn-sm') do %>
        <%= fa_icon('trash-alt') %> Eliminate register list
      <% end %>
      &raquo; Eliminate the list (the names will remain registered)
    </dd>
  </dl>
<% end %>
