<% if current_curator? && !@register.draft? %>
  <dl class="main-section name-details">
    <h2>Curator Actions</h2>
    <dd>
      <% if @register.validated %>
        <% id = modal('Correspondence with curators', size: 'lg') do %>
          <%= render(
                partial: 'correspondence',
                locals: { correspondence_history: true }) %>
        <% end %>
        <%= modal_button(id, class: 'btn btn-primary btn-sm') do %>
          <%= fa_icon('check-square') %> See correspondence
        <% end %>
        &raquo; Show historic record of communication with curators
      <% else %>
        <% unless @register.all_endorsed? %>
          <% id = modal('Are you sure?') do %>
            <h5>Endorse names in the list</h5>
            <p>
              This action will endorse
              <%= pluralize(@register.names.count, 'names') %>, and the
              submitter will be immediately notified.
            </p>
            <p>
              Endorsed names don't have
              standing in nomenclature, but indicate that the curation team can
              confirm the correctness of the names and (if available) sufficient
              genome quality.
            </p>
            <%= link_to(
                  endorse_register_url(@register), method: :post,
                  class: 'btn btn-primary'
                ) do %>
              <%= fa_icon('check-square') %> Endorse all names in the list
            <% end %>
          <% end %>
          <%= modal_button(id, class: 'btn btn-primary btn-sm') do %>
            <%= fa_icon('check-square') %> Endorse all names in the list
          <% end %>
          &raquo; Mark all names in the list as endorsed in batch
          <hr/>
        <% end %>
        <%= link_to(
              return_register_url(@register),
              class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('undo-alt') %> Return all names to submitter
        <% end %>
        &raquo; Return all names in this list to the status of draft and
        notify submitter
        <hr/>
        <% if @register.notified? %>
          <%= link_to(
                notify_register_url(@register),
                class: 'btn btn-primary btn-sm'
              ) do %>
            <%= fa_icon('file-upload') %> Edit notification
          <% end %>
          &raquo; Edit the notification form, including minor changes in title
          and abstract
          <hr/>
          <%= link_to(
                validate_register_url(@register), method: :post,
                class: 'btn btn-primary btn-sm',
                data: { confirm: 'Are you sure? This cannot be undone' }
              ) do %>
            <%= fa_icon('certificate') %> Validate list
          <% end %>
          &raquo; Validate all names under SeqCode and record the current list
          as permanent record of validation
        <% end %>
      <% end %>
    </dd>
  </dl>
  <% unless @register.published? %>
    <dl class="main-section name-details">
      <h2>Curator team tracking</h2>
      <dd>
        <%= render(partial: 'registers/curator_review_checks') %>
        <br/><br/>
        <%= render(partial: 'registers/curator_internal_notes') %>
      </dd>
    </dl>
  <% end %>
<% end %>
