<dl name="metadata" class="main-section name-details">
  <h2>Metadata</h3>

  <dt><%= fa_icon(:user) %> Created by</dt>
  <dd>
    <%= display_link(@register.created_by) %>
    <%= time_ago_with_date(@register.created_at) %>
  </dd>

  <dt><%= fa_icon 'calendar' %> Local history</dt>
  <dd>
    <ul>
      <li>
        <% if @register.created_at == @register.updated_at %>
          This list has not been modified since creation
        <% else %>
          This list was last modified
          <%= time_ago_with_date(@register.updated_at) %>
        <% end %>
      </li>

      <% if current_curator? %>
        <li>
          <% id = modal('Users with active alerts') do %>
            The following users will receive email alerts whenever this list
            changes status or when new correspondence is registered:
            <br/><br/>
            <ul>
              <% @register.observers.each do |user| %>
                <li><%= display_link(user) %></li>
              <% end %>
            </ul>
          <% end %>
          <%= modal_button(id, as_anchor: true) do %>
            Users with active alerts (only visible to curators)
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>

  <% unless @register.curators.empty? %>
    <dt><%= fa_icon('user-check') %> Curators</dt>
    <dd>
      <ul>
        <% @register.curators.each do |user| %>
          <li>
            <%= display_link(user) %>
            <% if @register.nomenclature_review_by?(user) %>
              <span class="text-muted">(nomenclature)</span>
            <% end %>
            <% if @register.genomics_review_by?(user) %>
              <span class="text-muted">(genomics)</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <% if @register.notes? %>
    <dt><%= fa_icon('sticky-note') %> Notes</dt>
    <dd><%= @register.notes %></dd>
  <% end %>

  <% if @register.published? %>
    <dt><%= fa_icon('newspaper') %> Edited by</dt>
    <dd>
      <%= display_link(@register.published_by) %>
      <%= time_ago_with_date(@register.published_at) %>
    </dd>
  <% end %>

</dl>

