<h2 class="mt-3">
  Names
  <div class="badge badge-count"><%= @names.count %></div>
</h2>

<%= pager @names %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Status</th>
      <th>Type Material</th>
      <% unless @register.validated? %>
        <th>Curation</th>
      <% end %>
      <% if @register.can_edit?(current_user) %>
        <th>Messages</th>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @names.each do |name| %>
      <tr>
        <td><%= link_to(name.name_html, name) %></td>
        <td><%= name.rank.try(:capitalize) %></td>
        <td>
          <%= name.status_name %>
          <%= help_message(name.status_name) { name.status_help } %>
        </td>
        <td>
          <% if name.type? %>
            <%= link_to_name_type(name) %>
          <% else %>
            <div class="text-danger">Missing</div>
          <% end %>
        </td>
        <% unless @register.validated? %>
          <% qc = name.qc_warnings.select { |i| !i[:can_endorse] } %>
          <td>
            <% if qc.empty? %>
              <div>
                <%= fa_icon('check-circle', class: 'text-success mr-1') %> Pass
              </div>
            <% else %>
              <%
                err = qc.select { |i| i[:fail] == :error }.count
                wrn = qc.count - err
              %>
              <% unless err.zero? %>
                <div>
                  <%= fa_icon('exclamation-triangle', class: 'text-danger mr-1') %>
                  <%= pluralize(err, 'error') %>
                </div>
              <% end %>
              <% unless wrn.zero? %>
                <div>
                  <%= fa_icon('exclamation-triangle', class: 'text-warning mr-1') %>
                  <%= pluralize(wrn, 'warning') %>
                </div>
              <% end %>
            <% end %>

            <% w = name.qc_warnings %>
            <% id = modal('Expert Curation Progress') do %>
              <dl class="main-section name-details p-4 mb-0">
                <% lists = { nomenclature: 'pen-fancy', genomics: 'dna' } %>
                <% lists.each do |i, icon| %>
                  <dt>
                    <%= fa_icon(icon) %>
                    <%= i.to_s.capitalize %> checklist
                  </dt>
                  <dd>
                    <% checks_i = w.checks.select { |j| j.checklist == i } %>
                    <% if checks_i.empty? %>
                      No expert checks for this name
                    <% else %>
                      <%= fa_icon('check-circle', class: 'mr-2') %>
                      <% checks_ik = checks_i.select { |j| j.check&.pass? } %>
                      <%= pluralize(checks_ik.count, 'passed check') %>
                      <br/>
                      <%= fa_icon('times-circle', class: 'mr-2') %>
                      <% checks_ik = checks_i.select { |j| j.check&.fail? } %>
                      <%= pluralize(checks_ik.count, 'failed check') %>
                      <br/>
                      <%= fa_icon('circle', class: 'mr-2') %>
                      <% checks_ik = checks_i.select { |j| !j.check } %>
                      <%= pluralize(checks_ik.count, 'pending check') %>
                    <% end %>
                  </dd>
                <% end %>
              </dl>
            <% end %>
            <% wp = 100 * w.checked_checks.count / w.checks.count %>
            <%= modal_button(id, class: 'text-primary', role: '') do %>
              <%= fa_icon('tasks', class: 'mr-1') %>
              (<%= wp.round %>%)
            <% end %>
          </td>
        <% end %>
        <% if @register.can_edit?(current_user) %>
          <td>
            <%= link_to(name_url(name, anchor: 'correspondence'), class: 'btn text-primary') do %>
              <%= fa_icon('comments', class: 'mr-1') %>
              <%= name.correspondences.count %>
            <% end %>
          </td>
          <td>
            <%= link_to(
                  name_url(
                    name, name: { register: nil },
                    return_to: url_for(@register)
                  ), method: :patch,
                  class: 'btn text-danger',
                  title: 'Unlink from register list',
                  data: { confirm: 'Are you sure?', toggle: 'tooltip' }
                ) do %>
              <%= fa_icon('eraser') %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pager @names %>
<hr/>
