<h2 class="mt-3">
  Names
  <small class='text-muted'>(<%= @names.count %>)</small>
</h2>

<%= pager @names %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Status</th>
      <th>Type</th>
      <% unless @register.validated? %>
        <th>Quality Checks</th>
      <% end %>
      <% if @register.can_edit?(current_user) %>
        <th>Messages</th>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @names.each do |name| %>
      <tr>
        <td><%= link_to(name.name_html, name) %></td>
        <td><%= name.rank %></td>
        <td>
          <%= name.status_name %>
          <%= help_message(name.status_name) { name.status_help } %>
        </td>
        <td>
          <% if name.type? %>
            <%= link_to_name_type(name) %>
          <% else %>
            <div class="text-danger">Missing</div>
          <% end %>
        </td>
        <% unless @register.validated? %>
          <% qc = name.qc_warnings.select { |i| !i[:can_endorse] } %>
          <td>
            <% if qc.empty? %>
              <div class="text-success">Pass</div>
            <% else %>
              <%
                err = qc.select { |i| i[:fail] == :error }.count
                wrn = qc.count - err
              %>
              <% unless err.zero? %>
                <div class="text-danger"><%= pluralize(err, 'error') %></div>
              <% end %>
              <% unless wrn.zero? %>
                <div class="text-warning"><%= pluralize(wrn, 'warning') %></div>
              <% end %>
            <% end %>

            <% w = name.qc_warnings %>
            <% id = modal('Expert curation advance') do %>
              <% %i[nomenclature genomics].each do |i| %>
                <h3><%= i.to_s.capitalize %> checks</h3>
                <div class="m-3">
                  <% checks_i = w.checks.select { |j| j.checklist == i } %>
                  <% if checks_i.empty? %>
                    No expert checks for this name
                  <% else %>
                    <%= pluralize(checks_i.count, 'total check') %><br/>

                    <% checks_i_k = checks_i.select { |j| j.check&.pass? } %>
                    <%= pluralize(checks_i_k.count, 'passed check') %><br/>

                    <% checks_i_k = checks_i.select { |j| j.check&.fail? } %>
                    <%= pluralize(checks_i_k.count, 'failed check') %><br/>

                    <% checks_i_k = checks_i.select { |j| !j.check } %>
                    <%= pluralize(checks_i_k.count, 'pending check') %><br/>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <% wp = 100 * w.checked_checks.count / w.checks.count %>
            <%= modal_button(id, class: 'text-primary', role: '') do %>
              (<%= wp.round %>%)
            <% end %>
          </td>
        <% end %>
        <% if @register.can_edit?(current_user) %>
          <td><%= name.correspondences.count %></td>
          <td>
            <%= link_to(
                  name_url(
                    name, name: { register: nil },
                    return_to: url_for(@register)
                  ), method: :patch,
                  class: 'btn text-danger',
                  title: 'Remove from register list',
                  data: { confirm: 'Are you sure?' }
                ) do %>
              <%= fa_icon('eraser') %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pager @names %>
<hr/>
