<h1>
  Modify the list of coauthors for the register list
</h1>
<hr/>

<p class="lead">
  The accuracy of the information provided and the access provided to other
  users as coauthors is the sole responsibility of the submitting user:
  <%= display_obj(@register.user) %>.
</p>

<%= simple_form_for(
      @register, url: coauthors_register_url(@register), method: :post
    ) do |f| %>
  <br/>

  <h2>Current authors</h2>
  <ul>
    <li><%= display_link(@register.user) %></li>
    <% @register.register_coauthors.each do |rc| %>
      <li>
        <% author = rc.user %>
        <%= display_link(author) %>
        <%= link_to(
              coauthors_register_url(@register, {
                action: :unlink,
                register: { coauthor: author.username }
              }),
              class: 'badge badge-pill badge-primary',
              method: :post, title: 'Unlink coauthor',
              data: { confirm: 'Are you sure?' }
            ) do %>
          <%= fa_icon('unlink') %> Remove as coauthor
        <% end %>
        <% unless rc.first? %>
          <%= link_to(
                coauthors_register_url(@register, {
                  action: :up,
                  register: { coauthor: author.username }
                }),
                class: 'badge badge-pill badge-primary',
                method: :post, title: 'Move coauthor up'
              ) do %>
            <%= fa_icon('arrow-up') %> Move coauthor up
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h2>Add authors</h2>
  <%= f.input(:coauthor, as: 'string', label: 'Coauthor (email or username)') %>

  <br/>
  <%= f.button(:submit, 'Register coauthor') %>
  <%= link_to('Cancel', @register, class: 'btn btn-secondary') %>
  <br/><br/>
<% end %>

