<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>

<%= render(partial: 'title') %>
<%= form_tag(
      curation_genomics_register_url(@register),
      method: :get, id: 'register-check', class: 'mb-3'
    ) do %>
  <%= label_tag(:check, 'Genomic check') %>
  <%= select_tag(
        :check,
        options_for_select(
          @checks.keys.map { |i| [i.to_s.titleize, i] },
          @check
        ),
        class: 'form-control'
      ) %>
<% end %>

<%= render(partial: 'registers/curation_genomics/%s' % @check) %>
<div class="check-links text-center m-4">
  <%= link_to('#', class: 'text-secondary m-2', id: 'skip-all-btn') do %>
    <%= fa_icon('minus-circle') %> Skip all checks
  <% end %>
  <%= link_to('#', class: 'text-success m-2', id: 'pass-all-btn') do %>
    <%= fa_icon('check-circle') %> Pass all checks
  <% end %>
  <%= link_to('#', class: 'text-danger m-2', id: 'fail-all-btn') do %>
    <%= fa_icon('exclamation-circle') %> Fail all checks
  <% end %>
</div>
<%= render(partial: 'shared/cc') %>

<script>
  $('#register-check select').on('change', function() {
    $('#register-check').trigger('submit');
  });
  $("#skip-all-btn").on("click",
    function() { $("[data-do=skip]").click(); return false; });
  $("#pass-all-btn").on("click",
    function() { $("[data-do=pass]").click(); return false; });
  $("#fail-all-btn").on("click",
    function() { $("[data-do=fail]").click(); return false; });
</script>
