<br/>
<h1>New Register</h1>
<% if @name %>
  <p class='lead'>
    Add name to register for submission:
    <%= link_to(@name) do %>
      <%= @name.name_html %>
    <% end %>
  </p>
<% end %>

<%= simple_form_for(@register) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :publication %>
    <%= f.input :publication_pdf %>
    <%= f.input :supplementary_pdf %>
    <%= f.input :record_pdf %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br/><br/>

