<% @without_layout = true %>

<div id="content">

<div class="text-center my-5 border-bottom">
  <h1><%= @register.propose_title %></h1>
  <h5 class="mx-5">
    Submitted by <%= @register.user.display_name %>
  </h5>
</div>

<% if @register.abstract? %>
  <div class="pdf-abstract m-4 px-2">
    <h2>Abstract</h2>
    <p><%= @register.abstract %></p>
  </div>
<% end %>

<div id="pdf-list">
  <% @register.sorted_names.each do |name| %>
    <%= render partial: 'names/name_pdf', locals: { name: name } %>
  <% end %>
</div>

<% if @register.citations.any? %>
  <div class="pdf-abstract m-4 px-2">
    <h2>References</h2>
    <ol>
      <% @register.citations.each do |publication| %>
        <li><%= publication.long_citation_html %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= render(partial: 'certification') %>

</div>
