<% @without_layout = true %>

<div id="content">

<div class="text-center my-5 border-bottom">
  <h1><%= @register.propose_title %></h1>
  <h5 class="mx-5">
    Submitted by <%= @register.user.display_name %>
  </h5>
</div>

<% if @register.abstract? %>
  <div class="pdf-abstract m-4 px-2">
    <h2>Abstract</h2>
    <p><%= @register.abstract %></p>
  </div>
<% end %>

<div id="pdf-list">
  <% @register.sorted_names.each do |name| %>
    <div class="pdf-list-entry main-section name-details my-3 rounded">
      <h2>
        <%= name.inferred_rank.capitalize %>
        <%= name.name_html(nil, true) %>
      </h2>
      <%
        @name = name
        @name.only_display = true
      %>
      <dl>
        <div class="avoid-page-break">
          <dt>Etymology</dt>
          <dd>
            <% if name.syllabication? %>
              [<%= name.syllabication %>]
            <% end %>
            <%= name.full_etymology(true) %>
          </dd>
        </div>
        <div class="avoid-page-break">
          <dt>Nomenclatural type</dt>
          <dd>
            <% if name.type_is_name? %>
              <%= name.type_name.rank.capitalize %>
              <% if @register.names.include? name.type_name %>
                <%= name.type_name.name_html(nil, true) %>
              <% else %>
                <%= name.type_name.name_html %>
              <% end %>
            <% elsif name.type? %>
              <%= link_to(name.type_text, name.type_link) %> <sup>Ts</sup>
            <% else %>
              <u>Unknown</u>
            <% end %>
          </dd>
        </div>
        <% if name.description? %>
          <div class="avoid-page-break">
            <dt>Description</dt>
            <dd>
              <%= name.description %>
            </dd>
          </div>
        <% end %>
        <div class="avoid-page-break">
          <dt>Classification</dt>
          <dd>
            <% if name.parent || name.incertae_sedis? %>
              <%= name_lineage(name, links: false, register: @register) %>
            <% else %>
              <u>Unknown</u>
            <% end %>
          </dd>
        </div>
        <% if name.citations.any? %>
          <div class="avoid-page-break">
            <dt>References</dt>
            <dd>
              <% if name.proposed_by %>
                Proposed: <%= name.proposed_by.short_citation %>
                <br/>
              <% end %>
              <% if name.corrigendum_by %>
                <i>Corrigendum</i>: <%= name.corrigendum_by.short_citation %>
                <% unless name.corrigendum_from.blank? %>
                  (from &#8220;<%= name.corrigendum_from %>&#8221;)
                <% end %>
                <br/>
              <% end %>
              <% if name.emended_by.any? %>
                 <i>Emendavit</i>:
                 <%= name.emended_by.map(&:short_citation).to_sentence %>
                 <br/>
              <% end %>
            </dd>
          </div>
        <% end %>
        <div class="avoid-page-break">
          <dt>Registry URL</dt>
          <dd><%= link_to(name.seqcode_url, name.seqcode_url) %></dd>
        </div>
      </dl>
    </div>
  <% end %>
</div>

<% if @register.citations.any? %>
  <div class="pdf-abstract m-4 px-2">
    <h2>References</h2>
    <ol>
      <% @register.citations.each do |publication| %>
        <li><%= publication.long_citation_html %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= render(partial: 'certification') %>

</div>
