<% @without_layout = true %>

<div class="text-center my-5 border-bottom">
  <h1><%= @register.propose_title %></h1>
  <% if @register.publication %>
    <h5 class="mx-5">
      <%= @register.publication.authors.map(&:abbreviated_name).to_sentence %>
    </h5>
  <% end %>
</div>

<% if @register.abstract? %>
  <div class="pdf-abstract m-4 px-2">
    <h2>Abstract</h2>
    <p><%= @register.abstract %></p>
  </div>
<% end %>

<div id="pdf-list">
  <% @register.names_by_rank.each do |name| %>
    <div class="pdf-list-entry main-section name-details my-3 rounded">
      <h2>
        <%= name.inferred_rank.capitalize %>
        <%= name.name_html(nil, true) %>
      </h2>
      <%
        @name = name
        @name.only_display = true
      %>
      <dl>
        <dt>Etymology</dt>
        <dd>
          <% if name.syllabication? %>
            [<%= name.syllabication %>]
          <% end %>
          <%= name.full_etymology(true) %>
        </dd>
        <dt>Nomenclatural type</dt>
        <dd>
          <% if name.type_is_name? %>
            <%= name.type_name.rank.capitalize %>
            <% if @register.names.include? name.type_name %>
              <%= name.type_name.name_html(nil, true) %>
            <% else %>
              <%= name.type_name.name_html %>
            <% end %>
          <% elsif name.type? %>
            <%= link_to(name.type_text, name.type_link) %> <sup>Ts</sup>
          <% else %>
            <u>Unknown</u>
          <% end %>
        </dd>
        <% if name.description? %>
          <dt>Description</dt>
          <dd>
            <%= name.description %>
          </dd>
        <% end %>
        <dt>Classification</dt>
        <dd>
          <% if name.parent %>
            <% name.lineage.each do |par| %>
              <% if @register.names.include? par %>
                <%= par.name_html(nil, true) %> &raquo;
              <% else %>
                <%= par.name_html %> &raquo;
              <% end %>
            <% end %>
            <%= name.name_html(nil, true) %>
          <% elsif name.incertae_sedis? %>
            <b><%= name.incertae_sedis_html %>:</b>
            <%= name.incertae_sedis_text %>
          <% else %>
            <u>Unknown</u>
          <% end %>
        </dd>
        <dt>Registry URL</dt>
        <dd><%= link_to(name.seqcode_url, name.seqcode_url) %></dd>
      </dl>
    </div>
  <% end %>
</div>

<%= render(partial: 'certification') %>

