<br/>
<h1>New Register List</h1>

<div class="my-4">
  <%= help_topic('register', 'What are Register Lists?') %>
</div>

<% name_n = 0 %>
<% if @name %>
  <p class="lead">
    Add name to register for submission:
    <%= link_to(@name) do %>
      <%= @name.name_html %>
    <% end %>
  </p>
  <% name_n = 1 %>
<% end %>

<% if @tutorial %>
  <% name_n = @tutorial.names.count %>
  <p class="lead">
    Add <%= pluralize(name_n, 'name') %>
    in <%= link_to('guided registration', @tutorial) %> to this register:
  </p>
<% end %>

<div class="alert alert-info">
  This action can be reversed, and you'll still have access to editing the
  name and the register list information until the list is submitted or
  notified.
  <hr/>
  Please note that all names proposed in a given publication should be added
  to the same register list, so select below the appropriate existing list or
  "Create a new register" if no register lists have been created for the
  effective publication.
</div>

<%= simple_form_for(@register) do |f| %>
  <div class="form-actions">
    <%= hidden_field_tag(:name, @name.try(:id)) %>
    <%= hidden_field_tag(:tutorial, @tutorial.try(:id)) %>
    <% unless @registers.empty? %>
      <%= label_tag(:existing_register) %>
      <% selected = @tutorial ? '' : @registers.last.accession %>
      <%=
        select_tag(
          :existing_register,
          options_for_select(
            @registers.reverse.map do |r|
              [
                "#{r.accession} " \
                  "(created #{time_ago_in_words(r.created_at)} ago, " \
                  "#{pluralize(r.names.size, 'name')}) -- " \
                  "#{r.propose_title}",
                r.accession
              ]
            end + [['Create a new register', nil]],
            selected # The last by default, a new one for guided registrations
          ),
          class: 'form-control'
        )
      %>
      <br/>
    <% end %>
    <%= f.button(:submit, "Register #{name_n == 1 ? 'name' : 'names' }") %>
  </div>
<% end %>
<br/><br/>

