<h1>
  Notification of Effective Publication
</h1>
<hr/>

<% unless @register.user.full_name? &&  @register.user.affiliation? %>
  <div class="alert alert-danger">
    <% if @register.user == current_user %>
      Please indicate your full name and affiliation before the validation of
      this list to ensure appropriate credit:
      <%= link_to('Edit user profile', edit_user_registration_path) %>
    <% else %>
      Please request the submitter (<%= @register.user.username %>) to
      complete their profile information (full name and affiliation) before
      validation to ensure appropriate credit
    <% end %>
  </div>
<% end %>

<p class="lead">
  Use this form to notify the SeqCode about the effective publication of the
  <%= 'name'.pluralize(@register.names.size) %> in this list in order to
  validate them. Remember that only peer-reviewed published manuscripts can
  serve as effective publication.
</p>

<%= simple_form_for(
      @register, url: notify_register_url(@register), method: :post,
      html: { multipart: true }
    ) do |f| %>
  <br/>
  <h2>Register List</h2>
  <%= render(partial: 'edit_title_abstract', locals: { f: f }) %>

  <br/>
  <h2>Effective Publication</h2>
  <%= f.input(
        :doi, as: :fake, label: 'DOI', required: true,
        input_html: { value: @register.publication.try(:doi) },
        hint: 'Digital Object Identifier (DOI) of the effective publication'
      ) %>
  <% unless @publications.empty? %>
    <ul>
      <% @publications.each do |publication| %>
        <li>
          <%= link_to(publication.short_citation, publication) %>:
          <%= publication.doi %>
          <%= content_tag(
                'span', role: 'button', cursor: 'pointer',
                class: 'badge badge-pill badge-primary',
                onclick: "$('#doi').val('#{publication.doi}'); false"
              ) do %>
            <%= fa_icon('check-circle') %> Select
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <br/>

  <%=
    f.input(
      :publication_pdf, label: 'Publication PDF', required: true,
      hint: 'Published manuscript in PDF: the preferred PDF is the final ' \
            'typeset version, but the author accepted manuscript version ' \
            'is also acceptable'
    )
  %>

  <%= f.input(
        :supplementary_pdf, label: 'Supplementary Material in PDF (optional)',
        hint: 'Please include all relevant supplementary material as a ' \
              'single PDF file'
      ) %>

  <br/>
  <h2>Authorship</h2>
  <%= f.input(
        :submitter_is_author, as: :boolean,
        label: 'I, the submitter, am an author of the effective publication',
        hint: 'Please indicate if you are listed as (co)author in the ' \
              'publication above'
      ) %>

  <%= f.input(
        :authors_approval, as: :boolean,
        label: 'I have approval of the coauthors of the effective publication',
        hint: 'Please indicate if you have the consent of the coauthors ' \
              'listed in the publication above to submit this entry'
      ) %>

  <%= f.input(
        :submitter_authorship_explanation, as: :rich_text_area,
        label: 'If either of the above are not selected, please explain your reasons',
        hint: 'Please make sure to indicate if the authors were contacted ' \
              'or not before submitting this entry, as well as the reason(s) ' \
              'the above authorship statements are not true but you want to ' \
              'continue the present submission'
      ) %>

  <br/>
  <%= f.button(:submit, 'Submit list for validation') %>
  <%= link_to('Cancel', @register, class: 'btn btn-secondary') %>
  <br/><br/>
<% end %>

