<h1>
  Register List: <%= link_to(@register.acc_url, @register) %>
</h1>
<hr/>

<%= render(partial: 'metadata') %>
<%= render(partial: 'names') %>
<%= render(partial: 'contributor') %>
<%= render(partial: 'curator') %>


