<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>
<%
  links = [
    [register_url(@register, format: :json), 'file-code', 'JSON'],
    [download_register_list_url(@register, format: :pdf), 'file-pdf', 'PDF'],
    [
      download_register_list_url(@register, format: :html),
      'file-code', 'Plain HTML'
    ]
  ]
  if @register.validated?
    links << [
      cite_register_list_url(@register, format: :xml), 'file-code',
      'DataCite XML'
    ]
  end
%>
<%= download_buttons(links) %>

<h1>
  Register List: <%= link_to(@register.acc_url, @register) %>
</h1>
<hr/>

<%= render(partial: 'alert_messages') %>
<%= render(partial: 'metadata') %>
<%= render(partial: 'abstract') %>
<%= render(partial: 'names') %>
<%= render(partial: 'correspondence') %>
<%= render(partial: 'contributor') %>
<%= render(partial: 'curator') %>
<%= render(partial: 'editor') %>

<br/>
<%= render(partial: 'shared/cc') %>

