<% @without_layout = true %>

<div class="text-center my-5">
  <h1><%= @register.propose_title %></h1>
  <% if @register.publication %>
    <h5 class="mx-5">
      <%= @register.publication.authors.map(&:abbreviated_name).to_sentence %>
    </h5>
  <% end %>
</div>

<p>
  <b>Table 1:</b> Complete list of names proposed in the current register list.
</p>
<table class="table-pdf mb-5">
  <thead>
    <tr>
      <th>Proposed Taxon</th>
      <th>Etymology</th>
      <th>Description</th>
      <th>Parent Taxon</th>
      <th>Type</th>
      <th>Registry URL</th>
    <tr>
  </thead>
  <tbody>
    <% @register.sorted_names.each do |name| %>
      <tr>
        <td>
          <%= name.inferred_rank.capitalize %>
          <%= name.name_html(nil, true) %>
        </td>
        <td>
          <% if name.syllabication? %>
            [<%= name.syllabication %>]
          <% end %>
          <%= name.full_etymology(true) %>
        </td>
        <td><%= name.description %></td>
        <td>
          <% if name.incertae_sedis? %>
            <b><%= name.incertae_sedis_html %>:</b>
            <%= name.incertae_sedis_text %>
          <% elsif !name.parent %>
            <u>Unknown</u>
          <% elsif @register.names.include? name %>
            <%= name.parent.name_html(nil, true) %>
          <% else %>
            <%= name.parent.name_html %>
          <% end %>
        </td>
        <td>
          <% if name.type_is_name? %>
            <% if @register.names.include? name.type_name %>
              <%= name.type_name.name_html(nil, true) %>
            <% else %>
              <%= name.type_name.name_html %>
            <% end %>
          <% elsif name.type? %>
            <%= name.type_text %> <sup>Ts</sup>
          <% else %>
            <u>Unknown</u>
          <% end %>
        </td>
        <td>
          <%= link_to(name.seqcode_url(false), name.seqcode_url) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

