<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>

<%= render(partial: 'title') %>
<%= render(partial: 'alert_messages') %>

<% def render_tree_node(n, contents) %>
  <% if n.present? %>
    <%= content_tag(@register.names.include?(n) ? :b : :span) do %>
      <%= display_link(n, :formal_html) %>
    <% end %>

    <% if n.type? %>
      <span class="text-muted ml-2 small">
        [Type: <%= display_link(n.nomenclatural_type) %>]
      </span>
    <% end %>
  <% end %>
  <ul>
    <% contents.each do |k, v| %>
      <li><% render_tree_node(k, v) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Tree view</h2>
<div><% render_tree_node(nil, @register.tree) %></div>
<p class="lead">
  The above <b>tree view</b> displays the names included in the present list
  (bold face) in their taxonomic context. Alternative taxonomic placements may
  exist, and this display is only meant as indicative of the preferred
  placements currently in the Registry.
</p>

<br/>
<%= render(partial: 'shared/cc') %>

