<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>

<%= render(partial: 'title') %>
<%= render(partial: 'alert_messages') %>

<% def render_tree_node(n, contents) %>
  <% if n.present? %>
    <%= '***' if @register.names.include?(n) %>
    <%= display_link(n, :formal_html) %>
    <% if n.type? %>
      <div class="text-muted ml-2 small">
        [Type: <%= display_link(n.nomenclatural_type) %>]
      </div>
    <% end %>
  <% end %>
  <ul class="ml-2">
    <% contents.each do |k, v| %>
      <li><% render_tree_node(k, v) %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <% render_tree_node(nil, @register.tree) %>
</div>

<br/>
<%= render(partial: 'shared/cc') %>

