<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>

<%= render(partial: 'title') %>
<%= render(partial: 'alert_messages') %>

<% def render_tree_node(n, contents) %>
  <% in_reg = @register.names.include?(n) %>
  <div class="ml-3 <%= in_reg ? 'bg-primary' : 'bg-secondary' %>">
    <% if n.present? %>
      <%= display_link(n, :formal_html) %>
      <% if n.type? %>
        <span class="text-muted ml-4">
          [Type: <%= display_link(n.nomenclatural_type) %>]
        </span>
      <% end %>
    <% end %>
    <% contents.each do |k, v| %>
      <% render_tree_node(k, v) %>
    <% end %>
  </div>
<% end %>

<div>
  <% render_tree_node(nil, @register.tree) %>
</div>

<br/>
<%= render(partial: 'shared/cc') %>

