<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>

<%= render(partial: 'title') %>
<%= render(partial: 'alert_messages') %>

<% def render_tree_node(n, contents) %>
  <% in_reg = @register.names.include?(n) %>
  <ul class="ml-4 <%= in_reg ? '' : 'bg-secondary' %>">
    <li>
    <% if n.present? %>
      <%= display_link(n, :formal_html) %>
      <% if n.type? %>
        <div class="text-muted ml-2 small">
          [Type: <%= display_link(n.nomenclatural_type) %>]
        </div>
      <% end %>
    <% end %>
    <% contents.each do |k, v| %>
      <% render_tree_node(k, v) %>
    <% end %>
    </li>
  </ul>
<% end %>

<div>
  <% render_tree_node(nil, @register.tree) %>
</div>

<br/>
<%= render(partial: 'shared/cc') %>

