<% if @register.title? %>
  <% provide(:title, @register.title) %>
<% end %>

<%= render(partial: 'title') %>

<% def render_tree_node(n, contents) %>
  <% if n.present? %>
    <% name_in_register = @register.names.include?(n) %>
    <% if current_curator? && name_in_register %>
      <%= render(
            partial: 'curations/name_ticks',
            locals: { name: n, btn_class: 'btn btn-sm p-0' }) %>
    <% end %>
    <% if n.incertae_sedis? %>
      <span class="text-muted small">(<i>incertae sedis</i>)</span>
    <% end %>
    <%= content_tag(name_in_register ? :b : :span) do %>
      <%= display_link(n, :formal_html) %>
    <% end %>

    <% if n.type? %>
      <% t = n.nomenclatural_type %>
      <span class="text-muted ml-2 small">
        [Type: <%=
          content_tag(
            n.type_is_name? && @register.names.include?(t) ? :b : :span
          ) { display_link(t) }
        %>]
      </span>
    <% end %>
  <% end %>
  <ul>
    <% contents.each do |k, v| %>
      <li><% render_tree_node(k, v) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Tree view</h2>
<div><% render_tree_node(nil, @register.tree) %></div>
<hr/>
<p class="lead">
  The above <b>tree view</b> displays the names included in the present register
  list (bold face) in their taxonomic context. Alternative taxonomic placements
  may exist, and this display is only meant as indicative of the preferred
  placements currently in the Registry.
</p>

<br/>
<%= render(partial: 'shared/cc') %>

