<p id="notice"><%= notice %></p>

<h1>Publication Names</h1>

<table>
  <thead>
    <tr>
      <th>Publication</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publication_names.each do |publication_name| %>
      <tr>
        <td><%= publication_name.publication_id %></td>
        <td><%= publication_name.name_id %></td>
        <td><%= link_to 'Show', publication_name %></td>
        <td><%= link_to 'Edit', edit_publication_name_path(publication_name) %></td>
        <td><%= link_to 'Destroy', publication_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication Name', new_publication_name_path %>
