<p id="notice"><%= notice %></p>

<p>
  <strong>Publication:</strong>
  <%= @publication_name.publication_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @publication_name.name_id %>
</p>

<%= link_to 'Edit', edit_publication_name_path(@publication_name) %> |
<%= link_to 'Back', publication_names_path %>
