<% if @name.can_edit?(current_user) %>
  <dl class="main-section name-details">
    <h2>Contributor Actions</h2>
    <dd class="pt-2">
      <%= link_to(
            @name, method: :delete,
            class: 'btn btn-sm btn-secondary',
            data: { confirm: 'Are you sure? This action cannot be undone' }
          ) do %>
        <%= fa_icon('minus-circle') %> Remove name
      <% end %>
      <%= link_to edit_name_url(@name), class: 'btn btn-sm btn-info' do %>
        <%= fa_icon('edit') %> Edit spelling
      <% end %>
      <%= link_to(
            edit_name_links_url(@name),
            class: 'btn btn-info btn-sm'
          ) do %>
        <%= fa_icon 'edit' %> Edit outside links
      <% end %>
      <% if @name.status < 10 %>
        <%= link_to(
              submit_name_url(@name),
              method: :post, class: 'btn btn-primary btn-sm',
              data: { confirm: 'Are you sure? This action can only be reversed by a curator' }
            ) do %>
          <%= fa_icon('paper-plane') %> Propose name
        <% end %>
      <% end %>
    </dd>
  </dl>
<% end %>
