<% if @name.can_edit?(current_user) || @name.can_claim?(current_user) %>
  <dl class="main-section name-details">
    <h2>Contributor Actions</h2>
    <dd class="pt-2">
      <% if @name.can_edit?(current_user) %>
        <%= link_to(
              @name, method: :delete,
              class: 'btn btn-sm btn-secondary',
              data: { confirm: 'Are you sure? This action cannot be undone' }
            ) do %>
          <%= fa_icon('minus-circle') %> Remove name
        <% end %>
        &raquo; Eliminate this name and all metadata from the Registry
        <hr/>
        <%= link_to edit_name_url(@name), class: 'btn btn-sm btn-info' do %>
          <%= fa_icon('edit') %> Edit spelling
        <% end %>
        &raquo; Change this name's spelling and description
        <hr/>
        <%= link_to(
              edit_name_links_url(@name),
              class: 'btn btn-info btn-sm'
            ) do %>
          <%= fa_icon 'edit' %> Edit outside links
        <% end %>
        &raquo; Report links to external databases (other than type)
        <hr/>
        <% unless @name.after_submission? || @name.register %>
          <%= link_to(
                new_register_url(name: @name),
                class: 'btn btn-primary btn-sm'
              ) do %>
            <%= fa_icon('paper-plane') %> Propose name
          <% end %>
          &raquo; Link this name to a Register List for validation
          <hr/>
      <% end %>
      <% if @name.can_claim?(current_user) %>
        <%= link_to(
              claim_name_url(@name),
              method: :post, class: 'btn btn-primary btn-sm',
              data: { confirm: 'Are you sure? This action cannot be undone' }
            ) do %>
          <%= fa_icon('flag') %> Claim name
        <% end %>
        &raquo; Claim ownership of this name to activate submission options
        <hr/>
      <% end %>
    <% end %>
    </dd>
  </dl>
<% end %>
