<% if @name.can_edit?(current_user) || @name.can_claim?(current_user) %>
  <dl name="contributor" class="main-section name-details actions-section">
    <h2>Contributor Actions</h2>
    <dd class="pt-2">
      <% if @name.can_claim?(current_user) && !@name.claimed?(current_user) %>
        <%= link_to(
              claim_name_url(@name),
              method: :post, class: 'btn btn-primary btn-sm',
              data: { confirm: 'Are you sure? This action cannot be undone' }
            ) do %>
          <%= fa_icon('flag') %> Claim name
        <% end %>
        &raquo; Claim ownership of this name to activate submission options
        <hr/>
      <% elsif @name.user?(current_user) && @name.status == 5 %>
        <%= link_to(
              unclaim_name_url(@name),
              method: :post, class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('user-slash') %> Unclaim name
        <% end %>
        &raquo; Give up ownership of this name and make it public
        <hr/>
      <% end %>
      <% if @name.can_edit?(current_user) %>
        <%= link_to(
              corrigendum_in_name_url(@name),
              class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('pen-fancy') %> Correct spelling
        <% end %>
        &raquo; Correct the name spelling directly or register a corrigendum
        <hr/>
        <%= link_to(
              edit_links_name_url(@name),
              class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('edit') %> Edit outside links
        <% end %>
        &raquo; Report links to external databases (other than type)
        <hr/>
        <% unless @name.after_submission? || @name.register %>
          <%= link_to(
                new_register_url(name: @name),
                class: 'btn btn-primary btn-sm'
              ) do %>
            <%= fa_icon('paper-plane') %> Propose name
          <% end %>
          &raquo; Link this name to a Register List for validation
          <hr/>
        <% end %>
        <% id = modal('Are you sure?') do %>
          <div class="alert alert-danger my-0">
            <h5>Remove name</h5>
            <p>
              <u>This action cannot be undone</u>. Once you remove this name,
              all associated metadata will also be removed, including any
              validation or curation progress.
            </p>
            <% if current_curator? %>
              <p>
                <u>Prefer redirections</u>. If you are removing this name
                because a different entry replaces it, a beter option is to
                <%= link_to('create a redirection',
                      edit_redirect_name_url(@name)) %>.
              </p>
            <% end %>
            <%= link_to(
                  @name, method: :delete,
                  class: 'btn btn-danger',
                  data: { confirm: 'Final confirmation: Are you sure?' }
                ) do %>
              <%= fa_icon('minus-circle') %> Remove name
          <% end %>
          </div>
        <% end %>
        <%= modal_button(id, class: 'btn btn-sm btn-danger') do %>
          <%= fa_icon('minus-circle') %> Remove name
        <% end %>
        &raquo; Eliminate this name and all metadata from the Registry
        <hr/>
      <% end %>
    </dd>
  </dl>
<% end %>
