<% if current_curator? %>
  <dl class="main-section name-details">
    <h2>Curator Actions</h2>
    <dd class="pt-2">
      <% unless @name.validated? %>
        <% if @name.status == 5 && @name.created_by %>
          <%= link_to(
                unclaim_name_url(@name),
                method: :post, class: 'btn btn-primary btn-sm'
              ) do %>
            <%= fa_icon('user-slash') %> Unclaim name
          <% end %>
          &raquo; Remove ownership of this name and make it public
          <hr/>
        <% end %>
        <% unless @name.after_approval? %>
          <%= link_to(
                approve_name_url(@name),
                method: :post,
                class: 'btn btn-primary btn-sm',
                data: { confirm: 'Are you sure? This action cannot be undone' }
              ) do %>
            <%= fa_icon('check-square') %> Approve name
          <% end %>
          &raquo; Recommend this name as a candidate for validation
          <hr/>
        <% end %>
        <%= link_to(
              validate_name_url(@name, code: :icnp),
              method: :post,
              class: 'btn btn-primary btn-sm',
              data: { confirm: 'Are you sure? This action cannot be undone' }
            ) do %>
          <%= fa_icon('stamp') %> Report valid under ICNP
        <% end %>
        &raquo; Indicate that this name has already been validly published under
        the ICNP
        <hr/>
      <% end %>
      <% if @name.after_submission? && !@name.validated? %>
        <%= link_to(
              return_name_url(@name),
              method: :post,
              class: 'btn btn-primary btn-sm',
              data: {
                confirm: 'Are you sure? The author will regain edit access'
              }
            ) do %>
          <%= fa_icon('undo-alt') %> Return to submitter
        <% end %>
        &raquo; Send this name back to the author for additional revisions
        <hr/>
      <% end %>
    </dd>
  </dl>
<% end %>
