<% if current_curator? && !@name.validated? %>
  <% unless @name.qc_warnings.checks.empty? && @name.qc_warnings.bypass.empty? %>
    <div>
      <%= link_to('#curator-checklist',
                  class: 'btn btn-primary btn-curator-checklist',
                  aria: { expanded: 'false', controls: 'curator-checklist' },
                  role: 'button', data: { toggle: 'collapse' }) do %>
        <h2 class="ml-4 my-1">
          <%= fa_icon('tasks') %>
          Expert Curation
          <%
            cur_c = @name.qc_warnings.checked_checks.count
            cur_t = @name.qc_warnings.checks.count
            cur_p = (100 * cur_c / cur_t).round
          %>
          (<span id="manual-curation-percent"
                 data-total="<%= cur_t %>"><%= cur_p %></span>%)
          <div style="display:inline-block; width:20rem;">
            <div class="progress mx-2">
              <div class="progress-bar bg-info" role="progressbar"
                   id="manual-curation-progressbar"
                   style="width: <%= cur_p %>%;" aria-valuenow="<%= cur_p %>"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </h2>
      <% end %>
    </div>
    <dl class="main-section name-details curator-checklist collapse border-primary"
        id="curator-checklist" style="border-left: 1em solid;">
      <% first = true %>
      <% %i[nomenclature genomics register].each do |section| %>
        <%
          unless @name.qc_warnings.checks.map(&:checklist).uniq.include? section
            next
          end
        %>
        <span> </span> <!-- Simply to avoid sticky titles --> 
        <h2 class="<%= 'mt-4' unless first %>">
          <%= section.to_s.capitalize %>
        </h2>
        <div class="alert alert-secondary">
          <% case section %>
          <% when :nomenclature %>
            <%= @name.full_etymology(true) %>
          <% when :genomics %>
            <% if @name.genome %>
              <%= genome_accession_links(@name.genome) %>
              <%= fa_icon('ellipsis-h', class: 'mx-2') %>
              <%= display_link(@name.genome, :title) %>
              <%= fa_icon('ellipsis-h', class: 'mx-2') %>
              <%= link_to(@name.genome.miga_url, target: '_blank') do %>
                MiGA <%= fa_icon('external-link-alt', class: 'ml-1') %>
              <% end %>
            <% else %>
              <%= fa_icon('exclamation-triangle', class: 'text-danger') %>
              No genome associated to this taxon
            <% end %>
          <% when :register %>
            These checks are automatically evaluated based on the submitted
            files, avoid modifying them manually<br/>
            <% if @name.register.publication_pdf.attached? %>
              <%= fa_icon('angle-double-right', class: 'mx-2') %>
              <%= link_to(
                    'publication',
                    rails_blob_path(
                      @name.register.publication_pdf,
                      disposition: 'attachment'
                    )
                  ) %>
              <% if @name.register.supplementary_pdf.attached? %>
                <%= fa_icon('ellipsis-h', class: 'mx-2') %>
                <%= link_to(
                      'supplementary',
                      rails_blob_path(
                        @name.register.supplementary_pdf,
                        disposition: 'attachment'
                      )
                    ) %>
              <% end %>
            <% else %>
              <%= fa_icon('exclamation-triangle', class: 'text-danger') %>
              No attached publication file
            <% end %>
          <% end %>
        </div>
        <% first = false %>
        <% @name.qc_warnings.checks.each do |warn| %>
          <% next unless warn.checklist == section %>
          <%= render(partial: 'checks/curator', locals: { warn: warn }) %>
        <% end %>
      <% end %>

      <% unless @name.qc_warnings.bypassed.empty? %>
        <h2 class="mt-4">Bypassed checks</h2>
        <% @name.qc_warnings.bypassed.each do |warn| %>
          <% warn.link_to = nil %>
          <%= render(partial: 'checks/check', locals: { warn: warn }) %>
        <% end %>
      <% end %>
    </dl>
    <script>
      $('.curator-checklist .check-links a[data-do]').on("click",
        function() {
          var path = "<%= check_path(@name, format: :json) %>";
          var data = $(this).data();
          var dt = $(this).parent().parent();
          dt.addClass("bg-warning");

          $.post(path, data, function(res) {
            dt.removeClass();
            dt.addClass("check-" + data["do"]);
            var mcp = $('#manual-curation-percent');
            var unchecked = $('#curator-checklist .check-skip').length;
            var total = mcp.data("total");
            var perc = Math.round(100 * (total - unchecked) / total);
            var mcb = $('#manual-curation-progressbar');
            mcp.html(perc);
            mcb.css("width", "" + perc + "%");
            mcb.attr("aria-valuenow", perc);
          })
          .fail(function(res) {
            alert(res["responseText"]);
          })
          .always(function() {
            dt.removeClass("bg-warning");
          });

          return(false);
        }
      );
    </script>
    <br/>
  <% end %>
<% end %>
