<% if current_curator? && !@name.validated? %>
  <% if !@name.qc_warnings.checks.empty? %>
    <div>
      <%= link_to('#curator-checklist',
                  class: 'btn btn-primary btn-curator-checklist',
                  aria: { expanded: 'false', controls: 'curator-checklist' },
                  role: 'button', data: { toggle: 'collapse' }) do %>
        <h2 class="ml-4 my-1">
          <%= fa_icon('tasks') %>
          Expert Curation
          <%
            cur_c = @name.qc_warnings.checked_checks.count
            cur_t = @name.qc_warnings.checks.count
            cur_p = (100 * cur_c / cur_t).round
          %>
          (<span id="manual-curation-percent"
                 data-total="<%= cur_t %>"><%= cur_p %></span>%)
          <div style="display:inline-block; width:20rem;">
            <div class="progress mx-2">
              <div class="progress-bar bg-info" role="progressbar"
                   id="manual-curation-progressbar"
                   style="width: <%= cur_p %>%;" aria-valuenow="<%= cur_p %>"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </h2>
      <% end %>
    </div>
    <dl class="main-section name-details curator-checklist collapse border-primary"
        id="curator-checklist" style="border-left: 1em solid;">
      <% @name.qc_warnings.checks.each do |warn| %>
        <%
          warn_class =
            if !warn.check
              'check-skip'
            elsif warn.check.pass
              'check-pass'
            else
              'check-fail'
            end
        %>
        <dt class="<%= warn_class %>">
          <span class="check-links">
            <%= link_to('#', title: 'Skip',
                        data: { do: 'skip', kind: warn.type }) do %>
              <%= fa_icon('minus-circle') %>
            <% end %>
            <%= link_to('#', title: 'Pass',
                        data: { do: 'pass', kind: warn.type }) do %>
              <%= fa_icon('check-circle') %>
            <% end %>
            <%= link_to('#', title: 'Fail',
                        data: { do: 'fail', kind: warn.type }) do %>
              <%= fa_icon('exclamation-circle') %>
            <% end %>
          </span>
          <span>
            <%= warn[:checklist].to_s.capitalize %> &raquo;
            <%= warn.title %>
          </span>
        </dt>
        <dd class="pb-2">
          <% if warn[:rules] || warn[:recommendations] || warn[:rule_notes] %>
            <%= warn[:message] %>
            <div class="text-muted">
              <b>ยง SeqCode</b>:
                <% %w[rule rule_note recommendation].each do |section| %>
                  <% warn[:"#{section}s"]&.each do |i| %>
                    โข
                    <% text = name_of_seqcode_section(section, i) %>
                    <%= link_to_seqcode_excerpt(section, i, text) %>
                  <% end %>
                <% end %>
            </div>
          <% end %>
        </dd>
      <% end %>
      </dd>
    </dl>
    <script>
      $('.curator-checklist .check-links a[data-do]').on("click",
        function() {
          var path = "<%= check_path(@name) %>";
          var data = $(this).data();
          var dt = $(this).parent().parent();
          dt.addClass("bg-warning");

          $.post(path, data, function(res) {
            dt.removeClass();
            dt.addClass("check-" + data["do"]);
            var mcp = $('#manual-curation-percent');
            var unchecked = $('#curator-checklist .check-skip').length;
            var total = mcp.data("total");
            var perc = Math.round(100 * (total - unchecked) / total);
            var mcb = $('#manual-curation-progressbar');
            mcp.html(perc);
            mcb.css("width", "" + perc + "%");
            mcb.attr("aria-valuenow", perc);
          })
          .fail(function(res) {
            alert(res["responseText"]);
          })
          .always(function() {
            dt.removeClass("bg-warning");
          });

          return(false);
        }
      );
    </script>
    <br/>
  <% end %>
<% end %>
