<% if current_curator? %>
  <dl name="curator" class="main-section name-details">
    <h2>Curator Actions</h2>
    <dd class="pt-2">
      <% if @name.validated? %>
        <%= link_to(
              edit_links_name_url(@name),
              class: 'btn btn-primary btn-sm'
            ) do %>
          <%= fa_icon('edit') %> Edit outside links
        <% end %>
        &raquo; Report links to external databases (other than type)
        <hr/>
      <% else %>
        <% if @name.can_unclaim?(current_user) %>
          <%= link_to(
                unclaim_name_url(@name),
                method: :post, class: 'btn btn-primary btn-sm'
              ) do %>
            <%= fa_icon('user-slash') %> Unclaim name
          <% end %>
          &raquo; Remove ownership of this name and make it public
          <hr/>
        <% end %>
        <% unless @name.after_endorsement? || !@name.register %>
          <% id = modal('Are you sure?') do %>
            <h5>Endorse individual name</h5>
            <p>
              Please consider that endorsing an individual name can cause
              confusion to authors. To track curation progress in each name,
              consider using the <b>Expert Curation</b> checks instead.
            </p>
            <%= link_to(
                  endorse_name_url(@name),
                  method: :post, class: 'btn btn-primary'
                ) do %>
              <%= fa_icon('check-square') %> Endorse name
            <% end %>
            <%= link_to(@name.register, class: 'btn btn-secondary') do %>
              <%= fa_icon('clipboard-list') %> Visit Register List
            <% end %>
          <% end %>
          <%= modal_button(id, class: 'btn btn-primary btn-sm') do %>
            <%= fa_icon('check-square') %> Endorse name
          <% end %>
          &raquo; Recommend this name as a candidate for validation
          <hr/>
        <% end %>
        <% id = modal('Select code of nomenclature') do %>
          <h5>Validly published under a different code</h5>
          <p>
            Has this name already been validly published under a code of
            nomenclature other than the SeqCode?
            You could also
            <%= link_to('search this name in LPSN',
                        'https://lpsn.dsmz.de/search?word=%s' % @name.name,
                        target: '_blank') %>.
          </p>
          <hr/>
          <h5 class="text-primary">Report valid under</h5>
          <%= link_to(
                validate_name_url(@name, code: :icnp),
                method: :post,
                class: 'btn btn-primary',
                data: { confirm: 'Are you sure? This action cannot be undone' }
              ) do %>
            <%= fa_icon('stamp') %> ICNP
          <% end %>
          <%= link_to(
                validate_name_url(@name, code: :icn),
                method: :post,
                class: 'btn btn-primary',
                data: { confirm: 'Are you sure? This action cannot be undone' }
              ) do %>
            <%= fa_icon('stamp') %> ICNafp (Botanical Code)
          <% end %>
        <% end %>
        <%= modal_button(id, class: 'btn btn-primary btn-sm') do %>
          <%= fa_icon('stamp') %> Report valid under other code
        <% end %>
        &raquo; Indicate that this name has been validly published under another
        code of nomenclature
        <hr/>
        <!-- This option is hidden as register-level actions are to be preferred
        <% if @name.after_submission? %>
          <%= link_to(
                return_name_url(@name),
                method: :post,
                class: 'btn btn-primary btn-sm',
                data: {
                  confirm: 'Are you sure? The author will regain edit access'
                }
              ) do %>
            <%= fa_icon('undo-alt') %> Return to submitter
          <% end %>
          &raquo; Send this name back to the author for additional revisions
          <hr/>
        <% end %>
        -->
      <% end %>
      <%= link_to(
            network_name_url(@name), class: 'btn btn-primary btn-sm'
          ) do %>
        <%= fa_icon('project-diagram') %> Taxonomic network
      <% end %>
      &raquo; Explore the taxonomic network representation of the current name
      <hr/>
      <%= link_to(
            wiki_name_url(@name), class: 'btn btn-primary btn-sm'
          ) do %>
        <%= fa_icon('code') %> Wiki pages
      <% end %>
      &raquo; Generate source for Wikipedia affiliated pages
      <hr/>
      <%= link_to(edit_redirect_name_url(@name),
            class: 'btn btn-sm btn-danger') do %>
        <%= fa_icon('directions') %> Create redirection
      <% end %>
      &raquo; Soft-remove this name and redirect to a different entry
      <hr/>
    </dd>
  </dl>
<% end %>
