
<h2>Video Tutorial</h2>
<div class="text-center mt-3 mb-5">
  <iframe width="560" height="315" frameborder="0"
          src="https://www.youtube.com/embed/y3T7yGgLD6E"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>

<hr/>

<h2>Worked Examples</h2>

<br/>
<h4>&raquo; Etymology of the word <u>aerophilum</u></h4>
<table class="table table-hover table-responsive-lg">
  <thead>
    <th>Component</th>
    <th>Language</th>
    <th>Grammar</th>
    <th>Particle</th>
    <th>Description or translation</th>
  </thead>
  <tbody>
    <tr>
      <td><b>1st morpheme</b></td>
      <td>Gr.</td>
      <td>masc. n.</td>
      <td><i>aêr</i></td>
      <td>air-loving, referring to this organism likely being aerobic</td>
    </tr>
    <tr>
      <td><b>2nd morpheme</b></td>
      <td>N.L.</td>
      <td>masc. adj. suff.</td>
      <td><i>-philus</i></td>
      <td>loving, from the Greek masc. adj. philos</td>
    </tr>
    <tr>
      <td><b>3rd morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>4th morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>5th morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-active">
      <td><b>Full word</b></td>
      <td>N.L.</td>
      <td>neut. adj.</td>
      <td><i>aerophilum</i></td>
      <td>air-loving, referring to this organism likely being aerobic</td>
    </tr>
  </tbody> 
</table>
<br/>

<br/>
<h4>&raquo; Etymology of the word <u>Geocrenenecus</u></h4>
<table class="table table-hover table-responsive-lg">
  <thead>
    <th>Component</th>
    <th>Language</th>
    <th>Grammar</th>
    <th>Particle</th>
    <th>Description or translation</th>
  </thead>
  <tbody>
    <tr>
      <td><b>1st morpheme</b></td>
      <td>Gr.</td>
      <td>fem. n.</td>
      <td><i>ge</i></td>
      <td>the earth</td>
    </tr>
    <tr>
      <td><b>2nd morpheme</b></td>
      <td>Gr.</td>
      <td>fem. n.</td>
      <td><i>krene</i></td>
      <td>a spring</td>
    </tr>
    <tr>
      <td><b>3rd morpheme</b></td>
      <td>N.L.</td>
      <td>masc. n.</td>
      <td><i>enecus</i></td>
      <td>inhabitant</td>
    </tr>
    <tr>
      <td><b>4th morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>5th morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-active">
      <td><b>Full word</b></td>
      <td>N.L.</td>
      <td>masc. n.</td>
      <td><i>Geocrenenecus</i></td>
      <td>inhabitant of a spring of the earth</td>
    </tr>
  </tbody> 
</table>
<br/>

<br/>
<h4>&raquo; Etymology of the word <u>gerlachensis</u></h4>
<table class="table table-hover table-responsive-lg">
  <thead>
    <th>Component</th>
    <th>Language</th>
    <th>Grammar</th>
    <th>Particle</th>
    <th>Description or translation</th>
  </thead>
  <tbody>
    <tr>
      <td><b>1st morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>2nd morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>3rd morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>4th morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>5th morpheme</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-active">
      <td><b>Full word</b></td>
      <td>N.L.</td>
      <td>masc. adj.</td>
      <td>gerlachensis</td>
      <td>
        of Gerlach, the region where Great Boiling Spring is located in Nevada,
        and this organism was obtained from
      </td>
    </tr>
  </tbody> 
</table>
<br/>

<hr/>

<h2>Additional Resources</h2>

<p class="my-3">
  To learn more about etymology and nomenclature of prokaryotes, we invite you
  to read these external resources:
</p>
<ul>
  <li>
    <b>Appendix 9 of the ICNP.</b>
    <%= link_to('https://doi.org/10.1099/ijsem.0.000778', target: :_blank) do %>
      DOI: 10.1099/ijsem.0.000778
      <%= fa_icon('external-link-alt') %>
    <% end %>
  </li>
  <li>
    <b>Oren A (2015).</b>
    <i>How to name new taxa of archaea and bacteria.</i>
    Bergey's Manual of Systematics of Archaea and Bacteria 17:1-24.
    <%= link_to(
          'https://doi.org/10.1002/9781118960608.bm00008.pub2',
          target: :_blank) do %>
      DOI: 10.1002/9781118960608.bm00008.pub2
      <%= fa_icon('external-link-alt') %>
    <% end %>
  </li>
  <li>
    <%= link_to('https://lpsn.dsmz.de/text/etymology', target: :_blank) do %>
      <b>Etymology (LPSN)</b>
      <%= fa_icon('external-link-alt') %>
    <% end %>
  </li>
  <li>
    <b>Lewis CT, Short C (1879).</b> <i>A Latin Dictionary.</i>
    <%= link_to(
         'https://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0059',
         target: :_blank) do %>
      Perseus, Latin-English Dictionary
      <%= fa_icon('external-link-alt') %>
    <% end %>
  </li>
</ul>

