<dl name="metadata" class="main-section name-details">
  <h2>Metadata</h2>

  <% if @name.links? %>
    <dt><%= fa_icon('link') %> Outside links</dt>
    <dd>
      <ul>
        <% if @name.ncbi_taxonomy? %>
          <li>
            <%= link_to(@name.ncbi_taxonomy_url, target: '_blank') do %>
              NCBI Taxonomy: <%= @name.ncbi_taxonomy %>
              <%= fa_icon('external-link-alt') %>
            <% end %>
          </li>
        <% end %>

        <% if @name.gtdb_genome? %>
          <li>
            <%= link_to(@name.gtdb_genome_url, target: '_blank') do %>
              GTDB Genome: <%= @name.type_accession %>
              <%= fa_icon('external-link-alt') %>
            <% end %>
          </li>
        <% end %>

        <% gbif = @name.gbif_homonyms(false, true) %>
        <% if gbif.present? %>
          <% id = modal('GBIF Links') do %>
            <ul>
              <% gbif.each do |link| %>
                <li>
                  <%= link.html_safe %>
                  <%= fa_icon('external-link-alt') %>
                </li>
              <% end %>
            </ul>
            <div class="text-muted border-top pt-2">
              Retrieved <%= time_ago_in_words(@name.gbif_at) %> ago
            </div>
          <% end %>
          <li>
            <%= modal_button(id, type: '', class: '', tag: 'a', href: '#') do %>
              Global Biodiversity Information Facility (GBIF)
            <% end %>
          </li>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <dt><%= fa_icon(:dna) %> Search sequences</dt>
  <dd>
    <ul>
      <li>
        <%= link_to(@name.ncbi_search_url, target: '_blank') do %>
          NCBI Nucleotide
          <%= fa_icon('external-link-alt') %>
        <% end %>
      </li>
      <% if @name.ncbi_taxonomy? %>
        <li>
          <%= link_to(@name.ncbi_genomes_url, target: '_blank') do %>
            NCBI Genomes
            <%= fa_icon 'external-link-alt' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>

  <dt><%= fa_icon 'calendar' %> Local history</dt>
  <dd>
    <% if @name.created_at == @name.updated_at %>
      This name has not been modified since creation
    <% else %>
      This name was last modified
      <u class="hover-help"
         title="<%= @name.updated_at %>"
         ><%= time_ago_in_words(@name.updated_at) %> ago</u>
    <% end %>
  </dd>

  <dt><%= fa_icon('user') %> Registered by</dt>
  <dd>
    <% if @name.created_by %>
      <%= link_to(@name.created_by.username, @name.created_by) %>
    <% else %>
      Excubia Bot
    <% end %>
    <u class="hover-help"
       title="<%= @name.created_at %>"
       ><%= time_ago_in_words(@name.created_at) %> ago</u>
  </dd>

  <% if @name.submitted_by %>
    <dt><%= fa_icon('paper-plane') %> Submitted by</dt>
    <dd>
      <%= link_to(@name.submitted_by.username, @name.submitted_by) %>
      <u class="hover-help"
         title="<%= @name.submitted_at %>"
         ><%= time_ago_in_words(@name.submitted_at) %> ago</u>
       <% unless @name.after_submission? %>
         (returned by curator)
       <% end %>
    </dd>
  <% end %>

  <% if @name.after_approval? && @name.approved_by %>
    <dt><%= fa_icon('check-square') %> Approved by</dt>
    <dd>
      <%= link_to(@name.approved_by.username, @name.approved_by) %>
      <u class="hover-help"
         title="<%= @name.approved_at %>"
         ><%= time_ago_in_words(@name.approved_at) %> ago</u>
    </dd>
  <% end %>

  <% if @name.valid? && @name.validated_by %>
    <% if @name.status == 15 %>
      <dt><%= fa_icon('certificate') %> Validated by</dt>
    <% else %>
      <dt><%= fa_icon('stamp') %> Reported valid by</dt>
    <% end %>
    <dd>
      <%= link_to(@name.validated_by.username, @name.validated_by) %>
      <u class="hover-help"
         title="<%= @name.validated_at %>"
         ><%= time_ago_in_words(@name.validated_at) %> ago</u>
    </dd>
  <% end %>
</dl>
