<dl name="metadata" class="main-section name-details">
  <h2>Metadata</h2>

  <% if @name.links? %>
    <dt><%= fa_icon('link') %> Outside links and data sources</dt>
    <dd>
      <ul>
        <% if @name.ncbi_taxonomy? %>
          <li>
            <%= link_to(@name.ncbi_taxonomy_url, target: '_blank') do %>
              NCBI Taxonomy: <%= @name.ncbi_taxonomy %>
              <%= fa_icon('external-link-alt') %>
            <% end %>
          </li>
        <% end %>

        <% if @name.gtdb_genome? %>
          <li>
            <%= link_to(@name.gtdb_genome_url, target: '_blank') do %>
              GTDB Genome: <%= @name.type_accession %>
              <%= fa_icon('external-link-alt') %>
            <% end %>
          </li>
        <% end %>

        <% gbif = @name.gbif_homonyms(false, true) %>
        <% if gbif.present? %>
          <% id = modal('GBIF Links') do %>
            <ul>
              <% gbif.each do |link| %>
                <li>
                  <%= link.html_safe %>
                  <%= fa_icon('external-link-alt') %>
                </li>
              <% end %>
            </ul>
            <div class="text-muted border-top pt-2">
              Retrieved <%= time_ago_in_words(@name.gbif_at) %> ago
            </div>
          <% end %>
          <li>
            <%= modal_button(id, as_anchor: true) do %>
              Global Biodiversity Information Facility (GBIF)
            <% end %>
          </li>
        <% end %>

        <% if @name.lpsn_url? %>
          <li>
            <%= link_to(@name.lpsn_url, target: '_blank') do %>
              List of Prokaryotic names with Standing in Nomenclature (LPSN)
              <%= fa_icon('external-link-alt') %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <dt><%= fa_icon(:dna) %> Search sequences</dt>
  <dd>
    <ul>
      <li>
        <%= link_to(@name.ncbi_search_url, target: '_blank') do %>
          NCBI Nucleotide
          <%= fa_icon('external-link-alt') %>
        <% end %>
      </li>
      <% if @name.ncbi_taxonomy? %>
        <li>
          <%= link_to(@name.ncbi_genomes_url, target: '_blank') do %>
            NCBI Genomes
            <%= fa_icon 'external-link-alt' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>

  <dt><%= fa_icon 'calendar' %> Local history</dt>
  <dd>
    <ul>
      <li>
        <% if @name.created_at == @name.updated_at %>
          This name has not been modified since creation
        <% else %>
            This name was last modified
            <%= time_ago_with_date(@name.updated_at) %>
        <% end %>
      </li>
      <% if @workflow_modal_id ||= nil %>
        <li>
          <%= modal_button(@workflow_modal_id, as_anchor: true) do %>
            Submission process status
          <% end %>
        </li>
      <% end %>
      <% if @name.validated? %>
        <li>
          <% id = modal('Quality Checks', size: 'xl') do %>
            <%= render(partial: 'quality_checks',
                       locals: { force_qc_view: true }) %>
          <% end %>
          <%= modal_button(id, as_anchor: true) do %>
            Quality checks before valid publication
          <% end %>
        </li>
      <% end %>

      <% if current_curator? %>
        <li>
          <% id = modal('Users with active alerts') do %>
            The following users will receive email alerts whenever this name
            changes status or when new correspondence is registered:
            <br/><br/>
            <ul>
              <% @name.observers.each do |user| %>
                <li><%= display_link(user) %></li>
              <% end %>
            </ul>
          <% end %>
          <%= modal_button(id, as_anchor: true) do %>
            Users with active alerts (only visible to curators)
          <% end %>
        </li>

        <% if @name.valid? %>
          <li>
            <% id = modal('Correspondence with curators', size: 'lg') do %>
              <%= render(
                    partial: 'shared/correspondence',
                    locals: { correspondence_history: true, object: @name }) %>
            <% end %>
          <%= modal_button(id, as_anchor: true) do %>
            Historic communication record (only visible to curators)
          <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </dd>

  <dt><%= fa_icon('user') %> Registered by</dt>
  <dd>
    <%= @name.created_by ?
          display_link(@name.created_by) : 'Excubia bot' %>
    <%= time_ago_with_date(@name.created_at) %>
  </dd>

  <% if @name.submitted_by %>
    <dt><%= fa_icon('paper-plane') %> Submitted by</dt>
    <dd>
      <%= display_link(@name.submitted_by) %>
      <%= time_ago_with_date(@name.submitted_at) %>
    </dd>
  <% end %>

  <% unless @name.curators.empty? %>
    <dt><%= fa_icon('user-check') %> Curators</dt>
    <dd>
      <ul>
        <% @name.curators.each do |user| %>
          <li>
            <%= display_link(user) %>
            <% if @name.nomenclature_review_by?(user) %>
              <span class="text-muted">(nomenclature)</span>
            <% end %>
            <% if @name.genomics_review_by?(user) %>
              <span class="text-muted">(genomics)</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <% if @name.after_endorsement? && @name.endorsed_by %>
    <dt><%= fa_icon('check-square') %> Endorsed by</dt>
    <dd>
      <%= display_link(@name.endorsed_by) %>
      <%= time_ago_with_date(@name.endorsed_at) %>
    </dd>
  <% end %>

  <% if @name.valid? && @name.validated_by %>
    <% if @name.status == 15 %>
      <dt><%= fa_icon('certificate') %> Validated by</dt>
    <% else %>
      <dt><%= fa_icon('stamp') %> Reported valid by</dt>
    <% end %>
    <dd>
      <%= display_link(@name.validated_by) %>
      <%= time_ago_with_date(@name.validated_at) %>
    </dd>
  <% end %>
</dl>
