<% @citations ||= name.citations %>
<div class="pdf-list-entry main-section name-details my-3 rounded">
  <h2 class="no-sticky">
    <%= name.inferred_rank.capitalize %>
    <%= name.name_html(nil, true) %>
  </h2>
  <%
    name.only_display = true
  %>
  <dl>
    <div class="avoid-page-break">
      <dt>Etymology</dt>
      <dd>
        <% if name.syllabication? %>
          [<%= name.syllabication %>]
        <% end %>
        <%= name.full_etymology(true) %>
      </dd>
    </div>
    <div class="avoid-page-break">
      <dt>Nomenclatural type</dt>
      <dd>
        <% if name.type_is_name? %>
          <%= name.type_name.rank.capitalize %>
          <% if @register&.names&.include?(name.type_name) %>
            <%= name.type_name.name_html(nil, true) %>
          <% else %>
            <%= name.type_name.name_html %>
          <% end %>
        <% elsif name.type_is_strain? %>
          <%= name.type_text %>
        <% elsif name.type? %>
          <% if name.type_link %>
            <%= link_to(name.type_text, name.type_link) %>
          <% else %>
            <%= name.type_text %>
          <% end %>
          <sup>Ts</sup>
        <% else %>
          <u>Unknown</u>
        <% end %>
      </dd>
    </div>
    <% if name.genome_strain? %>
      <div class="avoid-page-break">
        <dt>Reference Strain</dt>
        <dd>
          <%= strain_html(name, ext: false) %>
        </dd>
      </div>
    <% end %>
    <% if name.description? %>
      <div class="avoid-page-break">
        <dt>Description</dt>
        <dd>
          <%= name.description %>
        </dd>
      </div>
    <% end %>
    <div class="avoid-page-break">
      <dt>Classification</dt>
      <dd>
        <% if name.parent || name.incertae_sedis? %>
          <%= name_lineage(name, links: false, register: @register) %>
        <% else %>
          <u>Unknown</u>
        <% end %>
      </dd>
    </div>
    <% if @citations.any? %>
      <%
        def show_references(refs, citations)
          refs.map do |ref|
            citations << ref unless citations.include? ref
            ref.short_citation + ' [%i]' % (citations.find_index(ref) + 1)
          end.to_sentence
        end
      %>
      <div class="avoid-page-break">
        <dt>References</dt>
        <dd>
          <% if name.proposed_in %>
            Effective publication:
            <%= show_references([name.proposed_in], @citations) %>
            <br/>
          <% end %>
          <% if name.not_validly_proposed_in.any? %>
            Original (not valid) publication:
            <%= show_references(name.not_validly_proposed_in, @citations) %>
            <br/>
          <% end %>
          <% if name.corrigendum_in %>
            <i>Corrigendum</i>:
            <%= show_references([name.corrigendum_in], @citations) %>
            <% unless name.corrigendum_from.blank? %>
              (from &#8220;<%= name.corrigendum_from %>&#8221;)
            <% end %>
            <br/>
          <% end %>
          <% if name.emended_in.any? %>
            <i>Emendavit</i>:
            <%= show_references(name.emended_in, @citations) %>
            <br/>
          <% end %>
          <% if name.assigned_in %>
            Assigned taxonomically:
            <%= show_references([name.assigned_in], @citations) %>
          <% end %>
      </div>
    <% end %>
    <div class="avoid-page-break">
      <dt>Registry URL</dt>
      <dd><%= link_to(name.seqcode_url, name.seqcode_url) %></dd>
    </div>
  </dl>
</div>
