<%= adaptable_entry(list, name.abbr_name, name) do |entry| %>
  <% if effective_publication ||= false %>
    <%= adaptable_value(entry, 'Effective publication') do %>
      <% if name.proposed_in %>
        <%= display_link(name.proposed_in, :short_citation) %>
      <% else %>
        <em>Unknown</em>
      <% end %>
    <% end %>
  <% else %>
    <%= adaptable_value(entry, 'Reported in') do %>
      <% if name.publications.any? %>
        <%= display_link(name.publications.last, :short_citation) %>
      <% else %>
        <em>Unknown</em>
      <% end %>

      <% if name.publications.count > 2 %>
        and <%= name.publications.count - 1 %> other publications
      <% elsif name.publications.count == 2 %>
        and <%= display_link(name.publications.first, :short_citation) %>
      <% end %>
    <% end %>
  <% end %>

  <% if show_type ||= false %>
    <%= adaptable_value(entry, 'Nomenclatural type') do %>
      <%= link_to_name_type(name) %>
    <% end %>
  <% end %>

  <%= adaptable_value(entry, 'Status') do %>
    <%= name.status_name %>
    <%= help_message(name.status_name) { name.status_help } %>
  <% end %>

  <%= adaptable_value(entry, 'Registered by') do %>
    <%= name.created_by ?
          display_link(name.created_by) : 'Excubia bot' %>
    <%= time_ago_with_date(name.created_at) %>
  <% end %>

  <% entry.footer do %>
    <ul class="list-inline m-0 text-right">
      <% if name.genome %>
        <li class="list-inline-item m-0">
          <%= link_to(name.genome, title: 'Genome page') do %>
            <%= fa_icon('dna') %>
          <% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="list-inline-item m-0">
          <% if name.observing?(current_user) %>
            <%= link_to(unobserve_name_url(name),
                  title: 'Disable notifications') do %>
              <%= fa_icon('bell-slash') %>
            <% end %>
          <% else %>
            <%= link_to(observe_name_url(name),
                  title: 'Enable notifications') do %>
              <%= fa_icon('bell') %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <li class="list-inline-item m-0">
        <%= link_to(name, title: 'See more') do %>
          <%= fa_icon 'arrow-circle-right' %>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>

