<dl name="nomenclature" class="main-section name-details">
  <h2>Nomenclature</h2>

  <dt><%= fa_icon 'sitemap' %> Rank</dt>
  <dd>
    <% if @name.rank? %>
      <%= @name.rank.capitalize %>
    <% else %>
      <i><%= @name.inferred_rank.capitalize %> (inferred)</i>
    <% end %>

    <% if @name.can_edit?(current_user) %>
      <%= link_to(
            edit_rank_name_url(@name),
            class: 'badge badge-pill badge-info',
            title: 'edit rank'
          ) do %>
        <%= fa_icon 'edit' %> Edit
      <% end %>
    <% end %>
  </dd>

  <% if @name.syllabication? %>
    <dt><%= fa_icon('comment-dots') %> Syllabication</dt>
    <dd><%= @name.syllabication %></dd>
  <% end %>

  <dt><%= fa_icon('language') %> Etymology</dt>
  <dd>
    <%= @name.full_etymology(true) %>
    <% if @name.can_edit?(current_user) %>
      <br/>
      <%= link_to(
            edit_etymology_name_url(@name),
            class: 'badge badge-pill badge-info',
            title: 'edit etymology'
          ) do %>
        <%= fa_icon 'edit' %> Edit
      <% end %>
    <% end %>
  </dd>

  <% if @name.type? || @name.can_edit?(current_user) %>
    <dt><%= fa_icon('id-card') %> Nomenclatural type</dt>
    <dd>
      <% if @name.type? %>
        <%= link_to_name_type(@name) %>
      <% end %>
      <% if @name.can_edit?(current_user) %>
        <%= link_to(
              edit_type_name_url(@name),
              class: 'badge badge-pill badge-info',
              title: 'edit parent'
            ) do %>
          <%= fa_icon 'edit' %> Edit
        <% end %>
      <% end %>
    </dd>
  <% end %>

  <% if @name.nomenclatural_status? || @name.seqcode? %>
    <dt><%= fa_icon('clipboard-check') %> Nomenclatural status</dt>
    <dd><%= @name.nomenclatural_status&.upcase_first ||
              'Validly published under the SeqCode' %></dd>
  <% end %>
</dl>
