<dl name="nomenclature" class="main-section name-details">
  <h2><%= fa_icon('file-signature', class: 'float-right') %> Nomenclature</h2>

  <dt><%= fa_icon 'sitemap' %> Rank</dt>
  <dd>
    <% if @name.rank? %>
      <%= @name.rank.capitalize %>
    <% else %>
      <i><%= @name.inferred_rank.capitalize %> (inferred)</i>
    <% end %>

    <% if @name.can_edit?(current_user) %>
      <%= link_to(
            edit_rank_name_url(@name),
            class: 'badge badge-pill badge-primary',
            title: 'edit rank'
          ) do %>
        <%= fa_icon 'edit' %> Edit
      <% end %>
    <% end %>
  </dd>

  <% if @name.stem %>
    <dt><%= fa_icon('wave-square') %> Inferred stem</dt>
    <dd>
      <%= @name.stem %>-
      <% if @name.above_rank?('family') &&
            @name.base_name != "#{@name.stem}#{@name.rank_suffix}" %>
        <span class="text-muted">
          (unexpected name formation,
          expected: <i><%= "#{@name.stem}#{@name.rank_suffix}" %></i>)
        </span>
      <% end %>
    </dd>
  <% end %>

  <% if @name.syllabication? %>
    <dt><%= fa_icon('comment-dots') %> Syllabication</dt>
    <dd><%= @name.syllabication %></dd>
  <% end %>

  <dt><%= fa_icon('language') %> Etymology</dt>
  <dd>
    <%= @name.full_etymology(true) %>
    <% if @name.can_edit?(current_user) %>
      <br/>
      <%= link_to(
            edit_etymology_name_url(@name),
            class: 'badge badge-pill badge-primary',
            title: 'edit etymology'
          ) do %>
        <%= fa_icon 'edit' %> Edit
      <% end %>
    <% end %>
  </dd>

  <% if @name.notes? || @name.can_edit_validated?(current_user) %>
    <dt><%= fa_icon('sticky-note') %> Notes</dt>
    <dd>
      <%= @name.notes %>
      <% if @name.can_edit_validated?(current_user) %>
        <%= link_to(
              edit_notes_name_url(@name),
              class: 'badge badge-pill badge-primary',
              title: 'edit notes'
            ) do %>
          <%= fa_icon 'edit' %> Edit
        <% end %>
      <% end %>
    </dd>
  <% end %>

  <% if @name.type? || @name.can_edit_type?(current_user) %>
    <dt><%= fa_icon('id-card') %> Nomenclatural type</dt>
    <dd>
      <% if @name.type? %>
        <%= link_to_name_type(@name) %>
      <% end %>
      <% if @name.can_edit_type?(current_user) %>
        <%= link_to(
              edit_type_name_url(@name),
              class: 'badge badge-pill badge-primary',
              title: 'edit parent'
            ) do %>
          <%= fa_icon 'edit' %> Edit
        <% end %>
      <% end %>
    </dd>
  <% end %>

  <% if @name.type_genome.try(:strain).present? %>
    <dt>
      <%= fa_icon('flask') %> Reference strain
      <%= help_message('Reference Strain') do %>
        This cultured strain indicates the source of the genome used as type
        material. However, the strain itself is not considered type material and
        does not have standing in nomenclature.
      <% end %>
    </dt>
    <dd>
      <%= strain_html(@name.type_genome.strain, name: @name) %>
    </dd>
  <% end %>

  <% if @name.type_strain.try(:genomes).present? %>
    <dt>
      <%= fa_icon('dna') %> Type strain genomes
      <%= help_message('Type Strain Genomes') do %>
        The genomes linked to this cultured strain serve as reference material
        for the characterization of the taxon. However, the genome itself is not
        considered type material and does not have standing in nomenclature.
      <% end %>
    </dt>
    <dd>
      <ul>
        <% @name.type_strain.genomes.each do |genome| %>
          <li><%= display_link(genome) %></li>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <% if @name.nomenclatural_status? || @name.seqcode? %>
    <dt><%= fa_icon('clipboard-check') %> Nomenclatural status</dt>
    <dd><%= @name.nomenclatural_status&.upcase_first ||
              'Validly published under the SeqCode' %></dd>
  <% end %>

  <% if @name.basonym.present? %>
    <dt><%= fa_icon('file-import') %> Basonym</dt>
    <dd><%= display_link(@name.basonym) %></dd>
  <% end %>

  <% if @name.combinatorial_derivatives.any? %>
    <dt><%= fa_icon('file-export') %> Combinatorial derivatives</dt>
    <dd><ul>
      <% @name.combinatorial_derivatives.each do |comb_nov| %>
        <li><%= display_link(comb_nov) %></li>
      <% end %>
    </ul></dd>
  <% end %>
</dl>
