<div name="publications" class="main-section name-details">
  <h2>
    <%= fa_icon('newspaper', class: 'float-right') %>
    Publications
    <div class="badge badge-count"><%= @publication_names.count %></div>
  </h2>
  <%= pager @publication_names %>
  <table class='table table-hover table-responsive-md'>
    <thead>
      <tr>
        <th>Citation</th>
        <th>Title</th>
        <th></th>
        <% if @name.can_edit?(current_user) %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @publication_names.each do |publication_name| %>
        <% publication = publication_name.publication %>
        <tr>
          <td><%= link_to(publication.citation, publication) %></td>
          <td><%= publication.title_html %></td>
          <td>
            <% if @name.proposed_in? publication %>
              <div class="badge">
                <%= fa_icon('star') %> Effective publication
              </div>
            <% end %>
            <% if @name.corrigendum_in? publication %>
              <div class="badge"><%= fa_icon('pen-fancy') %> Corrigendum</div>
            <% end %>
            <% if @name.emended_in? publication %>
              <div class="badge">
                <%= fa_icon('asterisk') %> Emended this name
              </div>
            <% end %>
            <% if @name.assigned_in? publication %>
              <div class="badge">
                <%= fa_icon('arrow-alt-circle-up') %> Assigned this taxon
              </div>
            <% end %>
            <% if @name.not_validly_proposed_in? publication %>
              <div class="badge">
                <%= fa_icon('firstdraft', type: :fab) %>
                Original (not valid) publication
              </div>
            <% end %>
          </td>
          <td>
            <% if @name.can_edit?(current_user) %>
              <% if publication_name.proposes? ||
                    publication_name.not_valid_proposal? %>
                <div class="badge badge-pill badge-light text-secondary"
                     title="Invalid option"><%= fa_icon('star') %></div>
              <% else %>
                <%= link_to(
                      proposed_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-primary',
                      method: :post, title: 'Effective publication',
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                  <%= fa_icon('star') %>
                <% end %>
              <% end %>

              <% if publication_name.corrigendum? %>
                <div class="badge badge-pill badge-light text-secondary"
                     title="Invalid option"><%= fa_icon('pen-fancy') %></div>
              <% else %>
                <%= link_to(
                      corrigendum_in_name_url(
                        @name, publication_id: publication.id
                      ),
                      class: 'badge badge-pill badge-primary',
                      title: 'Corrigendum'
                    ) do %>
                  <%= fa_icon('pen-fancy') %>
                <% end %>
              <% end %>

              <% if publication_name.emends? %>
                <div class="badge badge-pill badge-light text-secondary"
                     title="Invalid option"><%= fa_icon('asterisk') %></div>
              <% else %>
                <%= link_to(
                      emended_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-primary',
                      method: :post, title: 'Emended this name',
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                  <%= fa_icon('asterisk') %>
                <% end %>
              <% end %>

              <% if publication_name.assigns? %>
                <div class="badge badge-pill badge-light text-secondary"
                     title="Invalid option">
                     <%= fa_icon('arrow-alt-circle-up') %></div>
              <% else %>
                <%= link_to(
                      assigned_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-primary',
                      method: :post, title: 'Taxonomically assigned this name',
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                  <%= fa_icon('arrow-alt-circle-up') %>
                <% end %>
              <% end %>

              <% if publication_name.not_valid_proposal? ||
                    publication_name.proposes? %>
                <div class="badge badge-pill badge-light text-secondary"
                     title="Invalid option">
                     <%= fa_icon('firstdraft', type: :fab) %></div>
              <% else %>
                <%= link_to(
                      not_validly_proposed_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-primary', method: :post,
                      title: 'Original (not valid) publication',
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                  <%= fa_icon('firstdraft', type: :fab) %>
                <% end %>
              <% end %>

              <%= link_to(
                    publication_name_url(publication_name, from_name: true),
                    class: 'badge badge-pill badge-primary',
                    method: :delete, title: 'Unlink this publication',
                    data: { confirm: 'Are you sure?' }
                  ) do %>
                <%= fa_icon('unlink') %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= pager @publication_names %>
  <br/>
  <% if @name.can_edit?(current_user) %>
    <div class="text-right">
      <%= link_to(new_publication_url(link_name: @name.id),
            class: 'btn btn-primary') do %>
        <%= fa_icon('plus-square') %>
        Link additional publications
      <% end %>
    </div>
  <% end %>
</div>
