<div name="publications" class="main-section name-details">
  <h2>
    Publications
    <small class='text-muted'>(<%= @publication_names.count %>)</small>
  </h2>
  <%= pager @publication_names %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Citation</th>
        <th>Title</th>
        <th></th>
        <% if @name.can_edit?(current_user) %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @publication_names.each do |publication_name| %>
        <% publication = publication_name.publication %>
        <tr>
          <td><%= link_to(publication.citation, publication) %></td>
          <td><%= publication.title_html %></td>
          <td>
            <% if @name.proposed_in? publication %>
              <div class="badge"><%= fa_icon('star') %> Proposed this name</div>
            <% end %>
            <% if @name.corrigendum_in? publication %>
              <div class="badge"><%= fa_icon('pen-fancy') %> Corrigendum</div>
            <% end %>
            <% if @name.emended_in? publication %>
              <div class="badge"><%= fa_icon('asterisk') %> Emended this name</div>
            <% end %>
            <% if @name.assigned_in? publication %>
              <div class="badge"><%= fa_icon('arrow-alt-circle-up') %> Assigned this taxon</div>
            <% end %>
          </td>
          <td>
            <% if @name.can_edit?(current_user) %>
              <% unless publication_name.proposes? %>
                <%= link_to(
                      proposed_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-info',
                      method: :post, title: 'Proposed this name',
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                  <%= fa_icon('star') %>
                <% end %>
              <% end %>

              <% unless publication_name.corrigendum? %>
                <%= link_to(
                      corrigendum_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-info',
                      title: 'Corrigendum'
                    ) do %>
                  <%= fa_icon('pen-fancy') %>
                <% end %>
              <% end %>

              <% unless publication_name.emends? %>
                <%= link_to(
                      emended_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-info',
                      method: :post, title: 'Emended this name',
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                  <%= fa_icon('asterisk') %>
                <% end %>
              <% end %>

              <% unless publication_name.assigns? %>
                <%= link_to(
                      assigned_in_name_url(@name, publication),
                      class: 'badge badge-pill badge-info',
                      method: :post, title: 'Taxonomically assigned this name',
                      data: { confirm: 'Are you sure?' }
                    ) do %>
                  <%= fa_icon('arrow-alt-circle-up') %>
                <% end %>
              <% end %>

              <%= link_to(
                    publication_name_url(publication_name, from_name: true),
                    class: 'badge badge-pill badge-info',
                    method: :delete, title: 'Unlink this publication',
                    data: { confirm: 'Are you sure?' }
                  ) do %>
                <%= fa_icon('trash-alt') %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= pager @publication_names %>
  <br/>
  <% if @name.can_edit?(current_user) %>
    <div class="text-right">
      <%= link_to(new_publication_url(link_name: @name.id), class: 'btn btn-info') do %>
        <%= fa_icon('plus-square') %>
        Link additional publications
      <% end %>
    </div>
  <% end %>
</div>
