<div name="publications" class="main-section name-details">
  <h2>
    <%= fa_icon('newspaper', class: 'float-right') %>
    Publications
    <div class="badge badge-count"><%= @publication_names.count %></div>
  </h2>
  <%= pager @publication_names %>
  <table class='table table-hover table-responsive-md'>
    <thead>
      <tr>
        <th>Citation</th>
        <th>Title</th>
        <th></th>
        <% if @name.can_edit?(current_user) %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @publication_names.each do |publication_name| %>
        <% publication = publication_name.publication %>
        <tr>
          <td><%= link_to(publication.citation, publication) %></td>
          <td><%= publication.title_html %></td>
          <td>
            <% if @name.proposed_in? publication %>
              <div class="badge">
                <%= fa_icon('star') %> Effective publication
              </div>
            <% end %>
            <% if @name.corrigendum_in? publication %>
              <div class="badge"><%= fa_icon('pen-fancy') %> Corrigendum</div>
            <% end %>
            <% if @name.emended_in? publication %>
              <div class="badge">
                <%= fa_icon('asterisk') %> Emended this name
              </div>
            <% end %>
            <% if @name.assigned_in? publication %>
              <div class="badge">
                <%= fa_icon('arrow-alt-circle-up') %> Assigned this taxon
              </div>
            <% end %>
            <% if @name.not_validly_proposed_in? publication %>
              <div class="badge">
                <%= fa_icon('firstdraft', type: :fab) %>
                Original (not valid) publication
              </div>
            <% end %>
          </td>
          <td>
            <% if @name.can_edit?(current_user) %>
              <% id = modal('Edit publication relationship') do %>
                <%= render(
                      partial: 'publication_names/edit',
                      locals: {
                        publication_name: publication_name,
                        name: @name,
                        publication: publication
                      }
                    ) %>
              <% end %>

              <%= modal_button(
                    id,
                    class: 'badge badge-pill badge-primary'
                  ) do %>
                <%= fa_icon('edit') %>
                Relationship
              <% end %>

              <%= link_to(
                    publication_name_url(publication_name, from_name: true),
                    class: 'badge badge-pill badge-primary',
                    method: :delete, title: 'Unlink this publication',
                    data: { confirm: 'Are you sure?' }
                  ) do %>
                <%= fa_icon('unlink') %>
                Unlink
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= pager @publication_names %>
  <br/>
  <% if @name.can_edit?(current_user) %>
    <div class="text-right">
      <%= link_to(new_publication_url(link_name: @name.id),
            class: 'btn btn-primary') do %>
        <%= fa_icon('plus-square') %>
        Link additional publications
      <% end %>
    </div>
  <% end %>
</div>
