<% if @name.taxonomic_data? || @name.can_edit?(current_user) ||
      @name.can_edit_placements?(current_user) %>
  <dl name="taxonomy" class="main-section name-details">
    <h2>Taxonomy</h2>

    <% if @name.description? || @name.can_edit?(current_user) %>
      <dt><%= fa_icon('file-alt') %> Description</dt>
      <dd>
        <%= @name.description %>
        <% if @name.can_edit?(current_user) %>
          <%= link_to(
                edit_name_url(@name),
                class: 'badge badge-pill badge-primary',
                title: 'edit description'
              ) do %>
            <%= fa_icon('edit') %> Edit
          <% end %>
        <% end %>
      </dd>
    <% end %>

    <% if @name.notes? || @name.can_edit?(current_user) %>
      <dt><%= fa_icon('sticky-note') %> Notes</dt>
      <dd>
        <%= @name.notes %>
        <% if @name.can_edit?(current_user) %>
          <%= link_to(
                edit_notes_name_url(@name),
                class: 'badge badge-pill badge-primary',
                title: 'edit notes'
              ) do %>
            <%= fa_icon 'edit' %> Edit
          <% end %>
        <% end %>
      </dd>
    <% end %>

    <% if @name.parent %>
      <dt><%= fa_icon('layer-group') %> Classification</dt>
      <dd><%= name_lineage(@name) %></dd>
    <% end %>

    <% if @name.parent || @name.incertae_sedis? ||
          @name.can_edit_placements?(current_user) %>
      <dt><%= fa_icon('sort-amount-up-alt') %> Parent</dt>
      <dd>
        <% if @name.incertae_sedis? %>
          <div class="border-left px-3">
            <b><%= @name.incertae_sedis_html %>:</b>
            <%= @name.incertae_sedis_explain %>
          </div>
        <% elsif @name.parent %>
          <%= link_to_name(@name.parent) %>
          <%= placement_preference(@name.placement) %>
        <% end %>

        <% if @name.assigned_in %>
          assigned in
          <%= link_to(@name.assigned_in.short_citation, @name.assigned_in) %>
        <% end %>

        <% if @name.can_edit_placements?(current_user) %>
          <%= link_to(
                @name.placement ?
                  edit_placement_path(@name.placement) :
                  new_placement_path(@name),
                class: 'badge badge-pill badge-primary',
                title: 'edit parent'
              ) do %>
            <%= fa_icon('edit') %> Edit
          <% end %>
          <% if @name.placement %>
            <%= link_to(
                  @name.placement,
                  method: :delete,
                  class: 'badge badge-pill badge-primary',
                  title: 'unlink placement'
                ) do %>
              <%= fa_icon('unlink') %> Unlink
            <% end %>
          <% end %>
        <% end %>
      </dd>
    <% end %>


    <% if @name.alt_placements.any? ||
          (@name.can_edit_placements?(current_user) && @name.parent) %>
      <dt><%= fa_icon('level-up-alt') %> Alternative placements</dt>
      <dd>
        <% if @name.alt_placements.any? %>
          <ul>
            <% @name.alt_placements.each do |placement| %>
              <li>
                <% if placement.incertae_sedis? %>
                  <div class="border-left px-3">
                    <b><%= placement.incertae_sedis_html %>:</b>
                    <%= placement.incertae_sedis_text %>
                  </div>
                <% elsif placement.parent %>
                  <%= link_to_name(placement.parent) %>
                  <%= placement_preference(placement) %>
                <% end %>

                <% if placement.publication %>
                  assigned in
                  <%= link_to(
                        placement.publication.short_citation,
                        placement.publication) %>
                <% end %>
                <% if @name.can_edit_placements?(current_user) %>
                  <%= link_to(
                        edit_placement_path(placement),
                        class: 'badge badge-pill badge-primary',
                        title: 'edit parent'
                      ) do %>
                    <%= fa_icon('edit') %> Edit
                  <% end %>
                  <%= link_to(
                        placement,
                        method: :delete,
                        class: 'badge badge-pill badge-primary',
                        title: 'unlink placement'
                      ) do %>
                    <%= fa_icon('unlink') %> Unlink
                  <% end %>
                  <% if current_curator? %>
                    <%= link_to(
                          prefer_placement_path(placement),
                          method: :post,
                          class: 'badge badge-pill badge-primary',
                          title: 'prefer placement'
                        ) do %>
                      <%= fa_icon('star') %> Prefer
                    <% end %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% if @name.can_edit_placements?(current_user) %>
          <%= link_to(
                new_placement_path(@name, alt: true),
                class: 'badge badge-pill badge-primary',
                title: 'add placement'
              ) do %>
            <%= fa_icon('plus-square') %>&nbsp; Report alternative placement
          <% end %>
        <% end %>
      </dd>
    <% end %>

    <% unless @name.children.empty? %>
      <dt><%= fa_icon('sort-amount-down-alt') %> Children
          <span class="text-muted">(<%= @name.children.count %>)</span><dt>
      <dd><ul class='pl-3'>
        <%
          set_type = @name.can_edit?(current_user) && @name.rank? &&
                     %w[genus family].include?(@name.rank)
        %>
        <% @name.children.each do |child| %>
          <li>
            <%= display_link(child) %>
            <%= placement_preference(child.placement) %>
            <% if set_type && @name.type_accession.to_i != child.id %>
              <%= link_to(
                    name_url(
                      @name,
                      name: { type_material: :name, type_accession: child.id }
                    ),
                    method: :patch,
                    class: 'badge badge-pill badge-primary',
                    data: { confirm: 'Are you sure?' }
                  ) do %>
                <%= fa_icon 'clipboard-check' %> Set as type
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul></dd>
    <% end %>

    <% unless @name.alt_children.empty? %>
      <dt>
        <%= fa_icon('sort-amount-down-alt', class: 'text-muted') %>
        Alternatively placed children
        <span class="text-muted">(<%= @name.alt_children.count %>)</span>
      <dt>
      <dd>
        <ul>
          <% @name.alt_child_placements.each do |placement| %>
            <li>
              <%= display_link(placement.name) %>
              <%= placement_preference(placement) %>
              <% if placement.name.parent %>
                (preferred placement in
                <%= display_link(placement.name.parent) %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </dd>
    <% end %>

    <% if @name.taxonomic_status? %>
      <dt><%= fa_icon('clipboard-check') %> Taxonomic status</dt>
      <dd><%= @name.taxonomic_status.upcase_first %></dd>
    <% end %>

    <% if @name.correct_name %>
      <dt><%= fa_icon('spell-check') %> Correct name</dt>
      <dd><%= link_to_name(@name.correct_name) %></dd>
    <% end %>

    <% if @name.synonyms.present? %>
      <dt><%= fa_icon('exchange-alt') %> Synonyms</dt>
      <dd><ul>
        <% @name.synonyms.each do |synonym| %>
          <li><%= link_to_name(synonym) %></li>
        <% end %>
      </ul></dd>
    <% end %>
  </dl>
<% end %>
