<%
  observe = nil
  if user_signed_in?
    from = name_path(@name)
    observe = @name.observing?(current_user) ?
      [
        unobserve_name_url(@name, from: from), 'bell', 'Alerts: On',
        { color: 'secondary', title: 'Disable email alerts' }
      ] :
      [
        observe_name_url(@name, from: from), 'bell-slash', 'Alerts: Off',
        { title: 'Enable email alerts' }
      ]
    observe[3].merge!(
      class: 'ml-3', data: { toggle: 'tooltip', placement: 'bottom' }
    )
  end
%>
<%=
  download_buttons([
    [name_url(@name, format: :json), 'file-code', 'JSON'],
    [name_url(@name, format: :pdf), 'file-pdf', 'PDF'],
    observe
  ].compact)
%>
<h1>
  <%= @name.name_html %>
</h1>

<% unless @name.public? %>
  <div class="text-muted">
    <%= fa_icon('eye-slash', class: 'mr-1') %>
    Only visible to you and curators
    <%= help_message('Name not public') do %>
      <div class="alert alert-warning">
        This name is undergoing the registration process, currently in the
        state of <b><%= @name.status_name %></b>.
        The entry and all of its metadata is currently not public, only visible
        to the submitter and the system curators.
        <% unless @name.embargo_expired? %>
          <hr/>
          This name has no standing or validity but it is reserved for up to a
          year, so no homonyms can be proposed until
          <%= @name.embargo_until.strftime('%b %-d / %Y') %>
        <% end %>
      </div>
      <hr/>
      <%= link_to(help_url(:open_data)) do %>
        &raquo; Learn more about data release
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @name.validated? && !@name.correct? %>
  <div class="text-muted">
    <%= fa_icon('times-circle', class: 'mr-1') %>
    Marked as incorrect name
    <%= help_message('Incorrect name') do %>
      <% if @name.illegitimate? %>
        This name has been marked as illegitimate, likely due to priority
        conflicts in its lineage.
      <% elsif @name.correct_name.present? %>
        This name has been marked as incorrect, with the correct name for this
        taxon being <%= display_link(@name.correct_name) %>.
      <% elsif @name.type_name_alt_placement.present? %>
        This name refers to a taxon that does not contain its nomenclatural
        type. If that taxonomic placement is correct, this name should be
        considered a synonym of
        <%= display_link(@name.type_name_alt_placement) %>.
      <% else %>
        This name has been marked as incorrect, but no further information is
        recorded. Please explore the name's page for additional information.
      <% end %>
      If you consider this to be a mistake, please
      <%= link_to('contact us', page_connect_url) %> to revise this assessment.
    <% end %>
  </div>
<% end %>
<hr/>

