<% unless @name.qc_warnings.empty? %>
  <dl class="main-section name-details border-danger" style="border-left: 1em solid;">
    <h2>Failed Quality Checks</h2>
    <hr/>
    <% @name.qc_warnings.each do |warn| %>
      <dt>
        <%
          blocking = warn[:rules] && !warn[:can_approve]
          icon_class = blocking ? 'text-danger' : 'text-warning'
        %>
        <%= fa_icon('exclamation-triangle', class: icon_class) %>
        <%= warn[:type].to_s.gsub(/_/, ' ').capitalize %>
      </dt>
      <dd class="pt-2">
        <%= warn[:message] %>
        <% if warn[:link_public] || @name.can_edit?(current_user) %>
          <%= link_to(send(*warn[:link_to]), class: icon_class) do %>
            [<%= warn[:link_text] %>]
          <% end %>
        <% end %>
        <% if warn[:rules] || warn[:recommendations] %>
          <div class="text-muted">
            <b>Contravenes SeqCode</b>:
            <% if warn[:rules] %>
              <%= warn[:rules].size == 1 ? 'Rule' : 'Rules' %>
              <%= warn[:rules].to_sentence %>
              <%= 'and' if warn[:recommendations] %>
            <% end %>
            <% if warn[:recommendations] %>
              <%= warn[:recommendations].size == 1 ? 'Recommendation' : 'Recommendations' %>
              <%= warn[:recommendations].to_sentence %>
            <% end %>
            <% if warn[:can_approve] && @name.status < 15 %>
              but can be safely ignored before validation
            <% end %>
          </div>
        <% end %>
      </dd>
    <% end %>
    </dd>
  </dl>
<% end %>
