<% unless @name.qc_warnings.empty? %>
  <dl class="main-section name-details border-danger" style="border-left: 1em solid;">
    <h2>Failed Quality Checks</h2>
    <hr/>
    <% @name.qc_warnings.each do |warn| %>
      <dt>
        <%= fa_icon('exclamation-triangle', class: 'text-danger') %>
        <%= warn[:type].to_s.gsub(/_/, ' ').capitalize %>
      </dt>
      <dd class="pt-2">
        <%= warn[:message] %>
        <% if warn[:link_public] || @name.can_edit?(current_user) %>
          <%= link_to(send(*warn[:link_to]), class: 'text-danger') do %>
            [<%= warn[:link_text] %>]
          <% end %>
        <% end %>
      </dd>
    <% end %>
    </dd>
  </dl>
<% end %>
