<h1>Type of <%= @name.name_html %></h1>
<hr/>

<%= simple_form_for(@name) do |f| %>
  <% if @name.expected_type_type == 'Name' %>
    <%=
      f.input(
        :nomenclatural_type_type, as: :hidden, input_html: { value: 'Name' }
      )
    %>
    <%=
      f.input(
        :nomenclatural_type_entry, as: :string, label: 'Type name',
        autofocus: true,
        input_html: {
          data: { behavior: 'autocomplete', autocomplete: 'names' },
          value: @name.type_name&.name
        }
      )
    %>
    <%= @name.type? %>
  <% else %>
    <h3>How to define the nomenclatural type?</h3>
    <p class="lead">
      Under the SeqCode, the type material of a species or subspecies must be a
      genome sequence. First, select the database where the genome is deposited.
      It must be <b>INSDC Nucleotide</b> or <b>NCBI Assembly</b>. Then report
      the accession number in the corresponding database.
      <!-- If you are following <b>Path 1</b> and the genome is not yet publicly
      available, you can select <b>Pending Genome</b>, and the genome accession
      can be reported upon notification. In that case use a unique identifier
      as the sequence accession, ideally a globally unique one. --><br/><br/>
      <b class="text-danger">Do not report MAG or SAG identifiers</b>
      as reference strains. If you report a <b>Reference strain</b>, the system
      will assume that the genome is derived from an isolate or another culture.
    </p>
    <hr/>

    <% legacy =  @name.nomenclatural_type.try(:old_type_definition) || [] %>
    <%=
      f.input(
        :nomenclatural_type_type, label: 'Type material',
        collection:
          @name.possible_nomenclatural_type_types.map { |k, v| [v[:name], k] },
        selected: legacy[0]
      )
    %>
    <%=
      f.input(
        :nomenclatural_type_entry, as: :string, label: 'Sequence accession',
        hint: 'Type accession', input_html: { value: legacy[1] }
      )
    %>
    <div id="name_genome_strain_container">
      <%=
        f.input(
          :genome_strain,
          label: 'Reference strain ' \
                 '(if the genome is derived from a culture, ' \
                 'otherwise leave empty)',
          hint: 'Strain associated to the type genome. ' \
                'Use "=" to separate multiple equivalent strain accessions.'
        )
      %>
    </div>
    <script>
      $('#name_nomenclatural_type_type').change(function() {
        var container = $('#name_genome_strain_container');
        var selected  = $(this).val();
        var is_genome = !["strain", "other", ""].includes(selected);
        var acc_label = $('label[for=name_nomenclatural_type_entry]');
        var acc_hint  = $('.name_nomenclatural_type_entry small.form-text');
        if (is_genome) {
          container.show();
          acc_label.html('Sequence accession');
          acc_hint.html('Use "," to separate multiple accessions');
        } else if (selected == "other") {
          container.hide();
          $('#name_genome_strain').val('');
          acc_label.html('Text');
          acc_hint.html('Describe in full the type material');
        } else {
          container.hide();
          $('#name_genome_strain').val('');
          acc_label.html('Accession');
          acc_hint.html('Use "=" to separate multiple equivalent accessions');
        }
        if (selected == "") acc_hint.html('');
      });
      $('#name_nomenclatural_type_type').change();
    </script>
  <% end %>
  <br/>

  <% if @tutorial %>
    <%= hidden_field_tag(:return_to, tutorial_path(@tutorial, next: true)) %>
  <% end %>
  <%= link_to('Cancel', @tutorial || @name, class: 'btn btn-secondary') %>
  <%= f.button(:submit, 'Submit') %>
  <br/><br/>
<% end %>
