<h1><%= @name.name_html %></h1>
<hr/>

<% @name.rank ||= @name.inferred_rank %>
<%= simple_form_for(@name) do |f| %>
  <%= f.input(:rank, collection: Name.ranks) %>
  <br/>

  <%= hidden_field_tag(:return_to, tutorial_path(@tutorial)) if @tutorial %>
  <%= f.button :submit, 'Submit' %>
  <%= link_to('Cancel', @name, class: 'btn btn-secondary') %>
  <br/><br/>
<% end %>

