<h1><%= @name.name_html %></h1>
<hr/>

<%= simple_form_for(@name) do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input(
        :description, as: :rich_text_area,
        hint: 'Indicate the properties of the taxon (not the etymology)'
      ) %>

  <br/>

  <%= hidden_field_tag(:return_to, tutorial_path(@tutorial)) if @tutorial %>
  <%= f.button :submit, 'Submit' %>
  <%= link_to('Cancel', @name, class: 'btn btn-secondary') %>
  <br/><br/>
<% end %>

