<h1>External links for <%= @name.name_html %></h1>
<hr/>

<%= simple_form_for(@name) do |f| %>
  <%= f.input(:ncbi_taxonomy, label: 'NCBI Taxonomy ID',
        hint: 'An integer uniquely identifying this taxon in NCBI Taxonomy') %>
  <%= f.input(:lpsn_url, label: 'LPSN Canonical URL',
        hint: 'The canonical URL in LPSN corresponding to this name') %>
  <%= f.input(:gtdb_accession, label: 'GTDB taxon accession',
        hint: 'The GTDB label to the name in the format d__Archaea') %>
  <% if @name.inferred_rank == 'species' %>
    <%= f.input(:algaebase_species, label: 'AlgaeBase Species ID') %>
  <% else %>
    <%= f.input(:algaebase_taxonomy, label: 'AlgaeBase Taxon ID') %>
  <% end %>
  <br/>

  <% if @tutorial %>
    <%= hidden_field_tag(:return_to, tutorial_path(@tutorial, next: true)) %>
  <% end %>
  <%= link_to('Cancel', @tutorial || @name, class: 'btn btn-secondary') %>
  <%= f.button(:submit, 'Submit') %>
  <br/><br/>
<% end %>
