<h1><%= @name.name_html %></h1>
<h3>&raquo; Etymology of the word <u><b><%= @name.last_epithet %></b></u></h3>
<hr/>

<div class="mt-3 mb-4">
  <% if @name.can_autofill_etymology? || !@name.syllabication? %>
    <% pars = {} %>
    <% pars[:tutorial] = @tutorial.id if @tutorial %>
    <%= link_to(
          autofill_etymology_name_path(@name, pars),
          class: 'btn btn-primary'
        ) do %>
      <%= fa_icon('magic') %> &nbsp;
      Automatically fill the etymology
    <% end %>
  <% end %>
  <%= help_topic('etymology',
        'How do I fill the etymology table?', size: 'xl') %>
  <%= help_topic('dictionary',
        'How do I use dictionary lookups?', size: 'xl') %>
</div>

<%= simple_form_for(@name) do |f| %>
  <%= f.input(:syllabication, label: 'Syllabification', required: false,
        autofocus: true) %>

  <% if @name.autofilled_etymology %>
    <div class="alert alert-info mt-4">
      <% case @name.autofilled_etymology_method %>
      <% when :type_genus %>
        The etymology below was inferred on the basis of the type genus,
        please revise carefully for consistency
      <% when :same_word %>
        The etymology below was inferred on the basis of a shared epithet with
        the name <%= @name.importable_etymology.name_html %>,
        please revise carefully for consistency
      <% end %>
    </div>
  <% end %>

  <%= render(partial: 'etymology_table', locals: { form: f, name: @name }) %>
  <br/>

  <% if @tutorial %>
    <%= hidden_field_tag(:return_to, tutorial_path(@tutorial, next: true)) %>
  <% end %>
  <%= link_to('Cancel', @tutorial || @name, class: 'btn btn-secondary') %>
  <%= f.button(:submit, 'Submit') %>
  <br/><br/>
<% end %>
