<h1>Type of <%= @name.name_html %></h1>
<hr/>

<%= simple_form_for(@name) do |f| %>
  <% if @name.possible_type_materials.size == 1 %>
    <%=
      f.input(
        :type_material, as: :hidden,
        input_html: { value: @name.possible_type_materials.keys.first }
      )
    %>
    <%=
      f.input(
        :type_accession, as: :string, label: 'Type name', autofocus: true,
        input_html: {
          data: { behavior: 'autocomplete', autocomplete: 'name' },
          value: @name.type_name&.name
        }
      )
    %>
  <% else %>
    <%=
      f.input(
        :type_material, label: 'Type material database',
        collection: @name.possible_type_materials.map { |k, v| [v[:name], k] }
      )
    %>
    <%= f.input(:type_accession, as: :string, label: 'Sequence accession') %>
  <% end %>
  <br/>

  <% if @tutorial %>
    <%= hidden_field_tag(:return_to, tutorial_path(@tutorial, next: true)) %>
  <% end %>
  <%= f.button(:submit, 'Submit') %>
  <%= link_to('Cancel', @tutorial || @name, class: 'btn btn-secondary') %>
  <br/><br/>
<% end %>
