<h1><%= @title %></h1>
<div class="container p-0">
  <div class="row">
    <div class="col-sm-9">
      <b>Sort by</b>
      <% %w[date citations alphabetically].map do |sort| %>
        <span class='text-muted'>·</span>
        <%=
          sort == @sort ?
            sort :
            link_to(
              sort,
              @submitted ?
                submitted_names_path(sort: sort, status: @status) :
                @drafts ?
                draft_names_path(sort: sort, status: @status) :
                names_path(sort: sort, status: @status)
            )
        %>
      <% end %>

      <br/>
      <b>Status</b>
      <% %w[public automated SeqCode ICNP valid].map do |status| %>
        <span class="text-muted">·</span>
        <%=
          status == @status ?
            status : link_to(status, names_path(status: status, sort: @sort))
        %>
      <% end %>
    </div>
    <div class="col-sm-3 text-right">
      <% if current_contributor? %>
        <%= link_to new_name_path do %>
          Register name
          <%= fa_icon 'plus-circle' %>
        <% end %>
      <% end %>

      <br/>
      <%= list_type_selector %>
    </div>
  </div>
</div>
<hr/>

<%= adaptable_list(set: @names) do |list| %>
  <% @names.each do |name| %>
    <%= render(partial: name, locals: { list: list }) %>
  <% end %>
<% end %>

