<%
  npar = {}
  npar[:status] = @status if @status.present?
  npar[:sort]   = @sort if @sort.present?
  npar[:user]   = @user.username if @user.present?
  ppar = { page: params[:page] || 1 }.merge(npar)
%>
<% provide(:canonical_url, canonical_url(ppar)) %>
<%= download_buttons(
      [[names_url(ppar.merge(format: :json)), 'file-code', 'JSON']]
    ) %>

<h1>
  <%= @title %>
  <div class="badge badge-count"><%= @count %></div>
</h1>

<div class="container p-0">
  <div class="row">
    <div class="col-sm-9">
      <b>Sort by</b>
      <% %w[date citations alphabetically].map do |sort| %>
        <span class="text-muted">•</span>
        <%=
          sort == @sort ?
            sort :
            link_to(
              sort,
              @submitted ?
                submitted_names_path(npar.merge(sort: sort)) :
                @draft ?
                draft_names_path(npar.merge(sort: sort)) :
                names_path(npar.merge(sort: sort))
            )
        %>
      <% end %>

      <br/>
      <b>Status</b>
      <% %w[public automated SeqCode ICNP ICNafp valid].map do |status| %>
        <span class="text-muted">•</span>
        <%=
          status == @status ?
            status : link_to(status, names_path(npar.merge(status: status)))
        %>
      <% end %>
    </div>
    <div class="col-sm-3 text-right">
      <% if current_contributor? %>
        <%= link_to(new_name_path) do %>
          Register name
          <%= fa_icon('plus-circle') %>
        <% end %>
      <% end %>

      <br/>
      <%= list_type_selector %>
    </div>
  </div>
</div>
<%= render(partial: 'names/filter') %>
<hr/>

<%= adaptable_list(set: @names) do |list| %>
  <% @names.each do |name| %>
    <%= render(partial: name, locals: { list: list }) %>
  <% end %>
<% end %>

