<h1>Names</h1>
Sort by
<% %w[date citations alphabetically].map do |sort| %>
  <span class='text-muted'>·</span>
  <%= sort == @sort ? sort : link_to(sort, names_path(sort: sort)) %>
<% end %>

<% if current_contributor? %>
  | <%= link_to new_name_path do %>
    <%= icon 'fas', 'plus-circle' %> Register names
  <% end %>
<% end %>
<hr/>

<%= pager @names %>
<div class='card-columns'>
  <% @names.each do |name| %>
    <%= render name %>
  <% end %>
</div>
<%= pager @names %>

<br>
