<br/>
<h1>New Name</h1>
<p class='lead'>
  Carefully revise the spelling of the name before submitting.<br/>
  <%= help_message('What is a name?', text: 'What is a name ') do %>
    <p>
      For the purposes of the SeqCode, a name can be defined as: The label
      applied to an object. A word or set of words by which a taxon is known,
      addressed, or referred to. A term used for identification.
      <br/><br/>
      Provide the novel name proposed for registration and validation under the
      SeqCode.
      If this is a species name, be sure to provide both the genus name and
      species epithet here (<i>e.g.</i>, <i>Wolframiiraptor gerlachensis</i>).
      Upon completion of the information for the species, continue to complete
      the information for registration of the genus
      (<i>e.g.</i>, <i>Wolframiiraptor</i>) and higher taxonomic ranks
      (<i>i.e.</i>, family, order, class, or phylum).
    </p>
  <% end %>
</p>

<%= simple_form_for(@name, html: { method: :post }) do |f| %>
  <%= f.input :name, required: true, autofocus: true %>
  <%= f.button :submit, 'Register' %>
<% end %>

<br/>
<hr/>
<h2>Do you need some inspiration?</h2>
<ul class="mb-5">
  <%
    fa_hash = {
      style: 'min-width: 2em;',
      class: 'text-center border-right border-dark mr-2 pr-2'
    }
  %>
  <li>
    <%= fa_icon('drafting-compass', fa_hash) %>
    <%= link_to(etymology_sandbox_names_url) do %>
      Try-out some ideas in the etymology sandbox
    <% end %>
  </li>
  <li>
    <%= fa_icon('question-circle', fa_hash) %>
    <%= link_to(help_url(:etymology)) do %>
      Read our etymology guide and explore additional resources
    <% end %>
  </li>
  <li>
    <%= fa_icon('compass', fa_hash) %>
    <%= link_to(names_url(status: :SeqCode)) do %>
      Explore names that have already been validly published under the SeqCode
    <% end %>
  </li>
  <li>
    <%= fa_icon('robot', fa_hash) %>
    Explore automated name generation tools like
    <%= link_to('https://github.com/telatin/gan', target: '_blank') do %>
      GAN <%= fa_icon('external-link-alt') %>
    <% end %> and
    <%= link_to('https://github.com/quadram-institute-bioscience/namingGTDB',
            target: '_blank') do %>
      namingGTDB <%= fa_icon('external-link-alt') %>
    <% end %>
  </li>
</ul>

<%= render(partial: 'shared/cc') %>

