<h1><%= @name.name_html %></h1>
<hr/>

<dl class='main-section'>
  <% if @name.proposed_by %>
    <dt>Proposed by</dt>
    <dd>
      <%= link_to @name.proposed_by.short_citation, @name.proposed_by %>
      <% if current_contributor? %>
        <%= link_to name_proposed_by_url(@name, publication_id: nil),
              class: 'badge badge-pill badge-info',
              method: :post, title: 'Did not propose this name',
              data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon 'unlink' %>
          <%= fa_icon 'star' %>
        <% end %>
      <% end %>
    </dd>
  <% end %>

  <% if @name.corrigendum_by %>
    <dt>Corrigendum</dt>
    <dd>
      <%= link_to @name.corrigendum_by.short_citation, @name.corrigendum_by %>
      <% unless @name.corrigendum_from.nil? || @name.corrigendum_from.empty? %>
        from &#8220;<%= @name.corrigendum_from %>&#8221;
      <% end %>
      <% if current_contributor? %>
        <%= link_to name_corrigendum_by_url(@name, publication_id: @name.corrigendum_by),
              class: 'badge badge-pill badge-info',
              title: 'Edit original name' do %>
          <%= fa_icon 'edit' %>
          <%= fa_icon 'pen-fancy' %>
        <% end %>
        <%= link_to name_corrigendum_by_url(@name, publication_id: nil),
              class: 'badge badge-pill badge-info',
              title: 'Did not correct this name',
              data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon 'unlink' %>
          <%= fa_icon 'pen-fancy' %>
        <% end %>
      <% end %>
    </dd>
  <% end %>

  <% unless @name.emended_by.empty? %>
    <dt>Emended by</dt>
    <dd>
      <% @name.emended_by.each do |emended| %>
        <%= link_to emended.short_citation, emended %>
        <% if current_contributor? %>
          <%= link_to name_emended_by_url(@name, emended, not: true),
                class: 'badge badge-pill badge-info',
                method: :post, title: 'Did not emend this name',
                data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon 'unlink' %>
            <%= fa_icon 'asterisk' %>
          <% end %>
        <% end %>
        <br/>
      <% end %>
    </dd>
  <% end %>

  <% unless @publication_names.empty? %>
    <dt>Oldest registered citation</dt>
    <dd><%= link_to @oldest_publication.short_citation, @oldest_publication %></dd>
  <% end %>

  <% if @name.syllabication? %>
    <dt>Syllabication</dt>
    <dd><%= @name.syllabication %></dd>
  <% end %>

  <% if @name.etymology? %>
    <dt>Etymology</dt>
    <dd><%= @name.full_etymology(true) %></dd>
  <% end %>

  <% unless @name.description.empty? %>
    <dt>Description</dt>
    <dd><%= @name.description %></dd>
  <% end %>

  <% unless @name.notes.empty? %>
    <dt>Notes</dt>
    <dd><%= @name.notes %></dd>
  <% end %>

  <% if @name.parent %>
    <dt>Parent</dt>
    <dd><%= link_to(@name.parent.name_html, @name.parent) %></dd>
  <% end %>

  <% unless @name.children.empty? %>
    <dt>Children<dt>
    <dd><ul class='pl-3'>
      <% @name.children.each do |child| %>
        <li><%= link_to(child.name_html, child) %></li>
      <% end %>
    </ul></dd>
  <% end %>

  <dt>Formal styling</dt>
  <dd><%= @name.formal_html %></dd>

  <dt>Search sequences</dt>
  <dd><%= link_to 'NCBI Nucleotide', @name.ncbi_search_url,
        target: '_blank' %></dd>

  <% if current_contributor? %>
    <dt>Actions</dt>
    <dd>
      <%= link_to @name, class: 'btn btn-sm btn-secondary',
            method: :delete, data: {confirm: 'Are you sure?'} do %>
        <%= fa_icon 'minus-circle' %> Remove name
      <% end %>
      <%= link_to edit_name_url(@name), class: 'btn btn-sm btn-info' do %>
        <%= fa_icon 'edit' %> Edit description
      <% end %>
      <%= link_to edit_name_notes_url(@name), class: 'btn btn-sm btn-info' do %>
        <%= fa_icon 'sticky-note' %> Edit notes
      <% end %>
      <%= link_to edit_name_etymology_url(@name), class: 'btn btn-sm btn-info' do %>
        <%= fa_icon 'language' %> Edit etymology
      <% end %>
      <%= link_to name_link_parent_url(@name), class: 'btn btn-sm btn-info' do %>
        <%= fa_icon 'code-branch' %> Link parent node
      <% end %>
    </dd>
  <% end %>
</dl>

<hr/>
<h2>
  Publications
  <small class='text-muted'>(<%= @publication_names.count %>)</small>
</h2>
<%= pager @publication_names %>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Citation</th>
      <th>Title</th>
      <th></th>
      <% if current_contributor? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @publication_names.each do |publication_name| %>
      <% publication = publication_name.publication %>
      <tr>
        <td><%= link_to publication.citation, publication %></td>
        <td><%= publication.title %></td>
        <td>
          <% if @name.proposed_by? publication %>
            <div class="badge"><%= fa_icon 'star' %> Proposed this name</div>
          <% end %>
          <% if @name.corrigendum_by? publication %>
            <div class="badge"><%= fa_icon 'pen-fancy' %> Corrigendum</div>
          <% end %>
          <% if @name.emended_by? publication %>
            <div class="badge"><%= fa_icon 'asterisk' %> Emended this name</div>
          <% end %>
        </td>
        <td>
          <% if current_contributor? %>
            <% unless publication_name.proposes? %>
              <%= link_to name_proposed_by_url(@name, publication_id: publication),
                    class: 'badge badge-pill badge-info',
                    method: :post, title: 'Proposed this name',
                    data: { confirm: 'Are you sure?' } do %>
                <%= fa_icon 'star' %>
              <% end %>
            <% end %>

            <% unless publication_name.corrigendum? %>
              <%= link_to(
                    name_corrigendum_by_url(@name, publication_id: publication),
                    class: 'badge badge-pill badge-info',
                    title: 'Corrigendum'
                  ) do %>
                <%= fa_icon 'pen-fancy' %>
              <% end %>
            <% end %>

            <% unless publication_name.emends? %>
              <%= link_to(
                    name_emended_by_url(@name, publication),
                    class: 'badge badge-pill badge-info',
                    method: :post, title: 'Emended this name',
                    data: { confirm: 'Are you sure?' }
                  ) do %>
                <%= fa_icon 'asterisk' %>
              <% end %>
            <% end %>

            <%= link_to(
                  publication_name, class: 'badge badge-pill badge-info',
                  method: :delete, title: 'Unlink this publication',
                  data: { confirm: 'Are you sure?' }
                ) do %>
              <%= fa_icon 'trash-alt' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pager @publication_names %>
