<% provide(:title, @name.abbr_name_raw) %>
<%=
  download_buttons([
    [name_url(@name, format: :json), 'file-code', 'JSON'],
    [name_url(@name, format: :pdf), 'file-pdf', 'PDF']
  ])
%>
<h1>
  <%= @name.name_html %>
</h1>
<hr/>

<%= render(partial: 'tutorial') %>
<%= render(partial: 'alert_messages') %>
<%= render(partial: 'workflow') %>
<%= render(partial: 'quality_checks') %>
<%# render(partial: 'curator_checks') %>
<%= render(partial: 'citation') %>
<%= render(partial: 'nomenclature') %>
<%= render(partial: 'taxonomy') %>
<%= render(partial: 'genomics') %>
<%= render(partial: 'metadata') %>
<%= render(partial: 'publications') %>
<hr/>
<%= render(partial: 'correspondence') %>
<%= render(partial: 'contributor') %>
<%= render(partial: 'curator') %>

<br/>
<%= render(partial: 'shared/cc') %>
