<h1><%= @name.name_html %></h1>
<hr/>

<%= render(partial: 'alert_messages') %>
<%= render(partial: 'quality_checks') %>
<%= render(partial: 'citation') %>
<%= render(partial: 'nomenclature') %>
<%= render(partial: 'taxonomy') %>
<%= render(partial: 'genomics') %>
<%= render(partial: 'metadata') %>
<%= render(partial: 'publications') %>
<hr/>
<%= render(partial: 'correspondence') %>
<%= render(partial: 'contributor') %>
<%= render(partial: 'curator') %>

<br/>
<%= render(partial: 'shared/cc') %>
