<%=
  download_buttons([
    [name_type_genomes_url(format: :json), 'file-code', 'JSON']
  ])
%>
<h1>
  Type genomes of valid names
  <div class="badge badge-count"><%= @names.count %></div>
</h1>
<div class="container p-0">
  <div class="row">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3 text-right">
      <%= list_type_selector %>
    </div>
  </div>
</div>
<hr/>

<%= adaptable_list(set: @names) do |list| %>
  <% @names.each do |name| %>
    <%=
      render(
        partial: name,
        locals: { list: list, show_type: true, effective_publication: true }
      )
    %>
  <% end %>
<% end %>

