<dt>Citation</dt>
<dd><%= publication_full_citation(publication) %></dd>

<% if current_contributor? || !publication.names.empty? %>
  <dt>
    Names <span class="text-muted">(<%= publication.names.count %>)</span>
  </dt>
  <dd>
    <% publication.publication_names.each do |publication_name| %>
      <% name = publication_name.name %>
      <div class="btn-group badge-pill-group" role="group">
        <%= link_to(
              name.abbr_name, name, class: 'badge badge-pill badge-primary') %>
        <% if current_contributor? %>
          <%= link_to(
                publication_name, method: :delete,
                class: 'badge badge-pill badge-info px-2', title: 'unlink name',
                data: { confirm: 'Are you sure?' }
              ) { %><%= fa_icon('trash-alt') %><% } %>
        <% end %>
      </div>
    <% end %>
    <% if current_contributor? %>
      <%= link_to(
            link_publication_name_path(publication),
            class: 'badge badge-pill badge-info', title: 'link names'
          ) { %><%= fa_icon('link') %><% } %>
    <% end %>
  </dd>
<% end %>

<% unless publication.subjects.empty? %>
  <dt>Subjects</dt>
  <dd>
  <% publication.subjects.each do |subject| %>
    <%= link_to(
          subject.name, subject,
          class: 'badge badge-pill badge-secondary'
        ) %>
  <% end %>
  </dd>
<% end %>

<% if publication.abstract %>
  <dt>Abstract</dt>
  <dd class='text-sm text-muted'><%= publication.clean_abstract %></dd>
<% end %>

