<%= adaptable_entry(list, publication.title_html, publication) do |entry| %>
  <%= adaptable_value(entry, 'Citation') do %>
    <%= publication_full_citation(publication) %>
  <% end %>

  <%= adaptable_value(entry, 'Names') do %>
    <% if publication.names.count > 10 %>
      <% id = modal(
            'Publication names',
            async: names_publication_url(publication, content: true),
            size: 'xl'
          ) { %> Loading names... <% } %>
       <%= modal_button(id, class: 'badge badge-secondary') do %>
         <%= fa_icon('ellipsis-h') %>
         <%= pluralize(publication.names.count, 'Name') %>
       <% end %>
    <% else %>
      <%= render(
            partial: 'publications/names',
            locals: { publication: publication }) %>
    <% end %>
  <% end %>

  <%= adaptable_value(entry, 'Abstract') do %>
    <% len = entry.list.type == :table ? 0 : 500 %>
    <% if publication.abstract? %>
      <div class='text-sm text-muted'>
        <%= publication.clean_abstract[0, len] %>
      </div>
      <% if publication.clean_abstract.length > len %>
        <% id = modal(publication.title_html, size: 'lg') do %>
          <%= publication.clean_abstract %>
        <% end %>
        <%= modal_button(id, class: 'badge-secondary badge') do %>
          <%= fa_icon('ellipsis-h') %> Text
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% entry.footer do %>
    <ul class="list-inline m-0 text-right">
      <li class="list-inline-item m-0">
        <%= link_to(
              publication.url,
              title: 'Link to publication', target: '_blank'
            ) { %><%= fa_icon('file-alt') %><% } %>
      </li>
      <li class="list-inline-item m-0">
        <%= link_to(publication, title: 'See more') do %>
          <%= fa_icon('arrow-circle-right') %>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>

