<br/>
<h1>New Publication</h1>
<p class="lead">
  Only publications with assigned Digital Object Identifier
  (<%= link_to('DOI', 'https://doi.org/', target: '_blank') %>)
  can be registered
</p>

<%= simple_form_for(@publication, hrml: { method: :post }) do |f| %>
  <%= f.input(:doi,
              required: true, autofocus: true, label: 'DOI of publication') %>
  <% if @name %>
    <%= hidden_field(:link_name, :id, value: @name.id) %>
    <p>
      This publication will be automatically linked to
      <%= link_to(@name) { @name.abbr_name } %>:
      <div class="m-3">
        <label>
          <%= radio_button(:link_name, :as, :propose) %>
          Proposing the name (effective publication)
          <%= help_message('Effective Publication') do %>
            For the purposes of the SeqCode, an <b>effective publication</b>
            refers to the peer-reviewed publication in which a name and evidence
            for the taxon first appears. Under the SeqCode, preprints are not
            eligible as an effective publication.<br/><br/>
            See <%= link_to_rule('24a', 'Rule 24') %> for additional
            explanation.
          <% end %>
        </label><br/>
        <label>
          <%= radio_button(:link_name, :as, :not_valid_proposal) %>
          Original (not validly published) proposal
          <%= help_message('Not Validly Published Proposal') do %>
            This is the original publication proposing the name or the
            establishment of this taxon, but it did not meet all minimum
            criteria for valid publication under the SeqCode. For example, it
            proposed this name on the basis of marker genes or low-quality
            genomes as nomenclatural type, or used a non-validly published
            name as type.
          <% end %>
        </label><br/>
        <label>
          <%= radio_button(:link_name, :as, :emend) %>
          Emending the name (<i>emend.</i>)
        </label><br/>
        <label>
          <%= radio_button(:link_name, :as, :corrig) %>
          Correcting the name (<i>corrig.</i>)
        </label><br/>
        <label>
          <%= radio_button(:link_name, :as, :cite, checked: true) %>
          Citing the name
        </label>
      </div>
    </p>
    <%= link_to('Cancel', @name, class: 'btn btn-secondary') %>
  <% end %>
  <%= f.button(:submit, 'Register') %>
<% end %>
