<% provide(:title, @publication.title) %>
<%= download_buttons(
      [[publication_url(@publication, format: :json), 'file-code', 'JSON']]) %>
<h1><%= @publication.title_html %></h1>
<hr/>

<dl class='main-section'>
  <%= render partial: 'basic_info', locals: { publication: @publication } %>
  <dt>Authors</dt>
  <dd>
    <ul>
      <% @publication.publication_authors.each do |publication_author| %>
        <% author = publication_author.author %>
        <li>
          <%= link_to author.full_name, author %>
          <% if publication_author.sequence %>
            (<%= publication_author.sequence %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>
  <dt>Publication date</dt>
  <dd><%= @publication.journal_date %></dd>
  <dt>DOI</dt>
  <dd><%= link_to(@publication.doi, @publication.url, target: '_blank') %></dd>
</dl>
<%# render(partial: 'curator') %>
<br/>
<%= render(partial: 'shared/cc') %>

