<% provide(:title, @publication.title) %>
<%= download_buttons(
      [[publication_url(@publication, format: :json), 'file-code', 'JSON']]) %>
<h1><%= @publication.title_html %></h1>
<hr/>

<dl class='main-section'>
  <%= render partial: 'basic_info', locals: { publication: @publication } %>
  <dt>
    <%= fa_icon('user-friends') %>
    <%= @publication.publication_authors.size == 1 ? 'Author' : 'Authors' %>
  </dt>
  <dd>
    <% @publication.publication_authors.each_with_key do |p_author, k| %>
      <% author = p_author.author %>
      <%= '; ' if k > 0 %>
      <%= link_to author.full_name, author %>
      <% if p_author.sequence %>
        (<%= p_author.sequence %>)
      <% end %>
    <% end %>
  </dd>
  <dt><%= fa_icon('calendar-day') %> Publication date</dt>
  <dd><%= @publication.journal_date %></dd>
  <dt><%= fa_icon('directions') %> DOI</dt>
  <dd>
    <%= link_to(@publication.url, target: '_blank') do %>
      <%= @publication.doi %>&nbsp;
      <%= fa_icon('external-link-alt') %>
    <% end %>
  </dd>
</dl>
<%= render(partial: 'curator') %>
<br/>
<%= render(partial: 'shared/cc') %>

