<%= adaptable_entry(
      list, '', notifiable, full_link: true
    ) do |entry| %>
  <%= adaptable_value(entry, 'Notification') do %>
    <%= fa_icon('caret-right', class: 'mr-3') %>
    <%= display_link(notifiable) %>
    <div class="container alerts">
      <% notifiable.notifications(current_user).each_with_index do |alert, k| %>
        <% if k > 4 %>
          <div class="row"><%= fa_icon('ellipsis-h', class: 'ml-4 p-1') %></div>
          <% break %>
        <% end %>
        <div class="row clickeable <%= 'unseen-alert' unless alert.seen? %>"
             data-href="<%= polymorphic_url(alert)%>"
             onclick="location.href=$(this).data('href');">
          <div class="col-8">
            <%= link_to(toggle_seen_notification_url(alert),
                  method: :post,
                  title: "Mark as #{'un' unless alert.seen?}seen",
                  class: 'btn btn-sm') do %>
              <%= fa_icon('circle', class: 'text-info',
                    type: alert.seen? ? :regular : :solid) %>
            <% end %>
            <%= alert.title || alert.action %>
          </div>
          <div class="col-4 text-right">
            <%= time_ago_with_date(alert.created_at) %>
            <%= link_to(alert, method: :delete, class: 'btn btn-sm') do %>
              <%= fa_icon('trash', class: 'text-danger') %>
            <% end %>
            <%= link_to(alert, class: 'btn btn-sm') do %>
              <%= fa_icon('arrow-circle-right', class: 'text-primary') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
