<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :given %>
    <%= form.text_field :given, id: :author_given %>
  </div>

  <div class="field">
    <%= form.label :family %>
    <%= form.text_field :family, id: :author_family %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
