<%= download_buttons(
      [[authors_url(format: :json), 'file-code', 'JSON']]
    ) %>

<h1>
  Authors
  <div class="badge badge-count"><%= @count %></div>
</h1>
Sort by
<% %w[date publications names alphabetically].map do |sort| %>
  <span class='text-muted'>·</span>
  <%= sort == @sort ? sort : link_to(sort, authors_path(sort: sort)) %>
<% end %>
<hr/>

<%= pager @authors %>
<div class='text-center'>
  <% @authors.each do |author| %>
    <%= render author %>
  <% end %>
</div>
<br/>
<%= pager @authors %>
