<h1>Actions</h1>
<hr/>
<ul class='nav flex-column'>
  <li class='nav-item'>
    <%= link_to edit_user_registration_path, class: 'nav-link' do %>
      <%= icon 'fas', 'user-edit' %>
      Edit profile information
    <% end %>
  </li>
  <% unless current_user.contributor? %>
    <li class='nav-item'>
      <%= link_to contributor_request_path, class: 'nav-link ' do %>
        <%= icon 'fas', 'user-astronaut' %>
        Request contributor status
      <% end %>
    </li>
  <% end %>
  <li class='nav-item'>
    <%= link_to user_registration_path, data: { confirm: 'Are you sure?' },
          method: :delete, class: 'nav-link ' do %>
      <%= icon 'fas', 'user-minus' %>
      Remove my account
    <% end %>
  </li>
</ul>
