<h2>Actions</h2>
<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to(edit_user_registration_path, class: 'nav-link') do %>
      <%= fa_icon('user-cog') %>
      Edit profile information and settings
    <% end %>
  </li>
  <% unless current_contributor? %>
    <li class="nav-item">
      <%= link_to(contributor_request_path, class: 'nav-link') do %>
        <%= fa_icon('user-plus') %>
        Request contributor status
      <% end %>
    </li>
  <% end %>
  <% unless current_curator? %>
    <li class="nav-item">
      <%= link_to(curator_request_path, class: 'nav-link') do %>
        <%= fa_icon('user-check') %> Request curator status
      <% end %>
    </li>
  <% end %>
  <% if false # Do not include this option for now %>
    <li class='nav-item'>
      <%= link_to(
            user_registration_path,
            data: { confirm: 'Are you sure?' },
            method: :delete, class: 'nav-link '
          ) do %>
        <%= fa_icon('user-minus') %> Remove my account
      <% end %>
    </li>
  <% end %>
</ul>
