<% if current_curator? %>
  <%= render(partial: 'pending_registers') %>
  <ul class="nav flex-column">
    <li class="nav-item mt-3"><h2>Review Register Lists</h2></li>
    <li class="nav-item">
      <%= link_to(dashboard_path(tab: :curator, snoozed: true)) do %>
        <%= fa_icon('stopwatch') %>
        Register lists snoozed for curation
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(registers_path(status: :notified)) do %>
        <%= fa_icon('check-circle') %>
        Notifications of effective publication (awaiting review)
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(registers_path(status: :submitted)) do %>
        <%= fa_icon('check-circle') %> Submitted lists (awaiting review)
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(registers_path(status: :draft)) do %>
        <%= fa_icon('pencil-ruler') %> Draft lists
      <% end %>
    </li>
    <li class="nav-item mt-3"><h2>Review Names</h2></li>
    <li class="nav-item">
      <%= link_to(submitted_names_path) do %>
        <%= fa_icon('check-circle') %>
        Submitted names (awaiting review)
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(draft_names_path) do %>
        <%= fa_icon('pencil-ruler') %>
        Draft names
      <% end %>
    </li>

    <li class="nav-item mt-3"><h2>Other Tasks</h2></li>
    <li class="nav-item">
      <%= link_to(user_contacts_path) do %>
        <%= fa_icon('envelope') %>
        Authors contacted through the Registry
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(unranked_names_path) do %>
        <%= fa_icon('check-circle') %>
        Names with unconfirmed ranks
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(unknown_proposal_names_path) do %>
        <%= fa_icon('check-circle') %>
        Names with unknown proposal
      <% end %>
    </li>
  </ul>
<% end %>
