<div class="card">
  <div class="card-header p-0">
    <%= link_to('#curator-dashboard',
                class: 'btn btn-light w-100 text-left m-0 px-4 py-2',
                aria: { expanded: 'false', controls: 'curator-dashboard' },
                role: 'button', data: { toggle: 'collapse' }) do %>
      <h1>Curator Dashboard</h1>
    <% end %>
  </div>
  <div class="card-body collapse show" id="curator-dashboard">
    <%= render(partial: 'pending_registers') %>
    <ul class="nav flex-column">
      <li class="nav-item mt-3"><h2>Review Register Lists</h2></li>
      <li class="nav-item">
        <%= link_to(registers_path(status: :notified)) do %>
          <%= fa_icon('check-circle') %>
          Notifications of effective publication (awaiting review)
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(registers_path(status: :submitted)) do %>
          <%= fa_icon('check-circle') %> Submitted lists (awaiting review)
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(registers_path(status: :draft)) do %>
          <%= fa_icon('pencil-ruler') %> Draft lists
        <% end %>
      </li>
      <li class="nav-item mt-3"><h2>Review Names</h2></li>
      <li class="nav-item">
        <%= link_to(submitted_names_path) do %>
          <%= fa_icon('check-circle') %>
          Submitted names (awaiting review)
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(draft_names_path) do %>
          <%= fa_icon('pencil-ruler') %>
          Draft names
        <% end %>
      </li>

      <li class="nav-item mt-3"><h2>Other Tasks</h2></li>
      <li class="nav-item">
        <%= link_to(check_ranks_path) do %>
          <%= fa_icon('check-circle') %>
          Names with unconfirmed ranks
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to(unknown_proposal_path) do %>
          <%= fa_icon('check-circle') %>
          Names with unknown proposal
        <% end %>
      </li>
    </ul>
  </div>
</div>
