<h2>
  Pending submissions
  <span class="text-muted">(<%= @pending_registers.count %>)</span>
</h2>

<% @pending_registers.each do |r| %>
  <div class="card my-3">
    <%= link_to(r, class: 'card-header btn btn-light text-left') do %>
      <%= r.acc_url %>: <b><%= r.propose_title %></b>
    <% end %>
    <div class="card-body row">
      <div class="col-md-6">
        Last updated <%= time_ago_in_words(r.updated_at) %> ago
        by <%= r.user.display_name %>
        <br/>
        <%= pluralize(r.names.count, 'name') %>,
        <%= r.status_name %>
      </div>
      <div class="col-md-6 border-left">
        <%= render(partial: 'registers/curator_review_checks',
                   locals: { register: r }) %>
      </div>
    </div>
    <div class="card-footer">
      <%= render(partial: 'registers/curator_internal_notes',
                 locals: { register: r }) %>
    </div>
  </div>
<% end %>
