<h2>
  Pending submissions
  <div class="badge badge-count"><%= @pending_registers.count %></div>
</h2>

<% @pending_registers.each do |r| %>
  <div class="card my-3 register-card">
    <%= link_to(r, class: 'card-header btn btn-light text-left') do %>
      <%= r.acc_url %>: <b><%= r.propose_title %></b>
    <% end %>
    <div class="card-body row">
      <div class="col-md-7">
        <div class="container row register-metadata">
          <div class="col-6">
            <% status_cl = r.status_name == 'notified' ? 'success' : 'info' %>
            <span class="text-<%= status_cl %>">
              <%= fa_icon('clipboard-check') %>&nbsp;
              <%= r.status_name %>
            </span>
          </div>
          <div class="col-6 text-right">
            <%= fa_icon('th-list') %>&nbsp;
            <%= pluralize(r.names.count, 'name') %>
          </div>
          <div class="col-6">
            <%= fa_icon('user') %>&nbsp;
            <%= r.user.display_name %>
          </div>
          <div class="col-6 text-right">
            <%= fa_icon('history') %>&nbsp;
            <%= time_ago_in_words(r.updated_at) %> ago
          </div>
        </div>
      </div>
      <div class="col-md-5 border-left">
        <%= render(partial: 'registers/curator_review_checks',
                   locals: { register: r }) %>
      </div>
    </div>
    <div class="card-footer">
      <%= render(partial: 'registers/curator_internal_notes',
                 locals: { register: r }) %>
    </div>
  </div>
<% end %>
