<% which   = params[:tab] %>
<% which ||= 'main' %>
<div class="container">
  <div class="row mb-3">
    <div class="col-lg-3">
      <%= render(partial: 'dashboard_links', locals: { which: which }) %>
    </div>
    <div class="col-lg-9">
      <% case which %>
      <% when 'main' %>
        <%= render(partial: 'about') %>
        <hr/>
        <%= render(partial: 'actions') %>
      <% when 'admin', 'editor', 'curator', 'contributor' %>
        <%= render(partial: which) %>
      <% end %>
    </div>
  </div>
</div>
<br/>
<%= render(partial: 'shared/cc') %>

