<div class="container">
  <div class="row">
    <div class="col-md-6 my-3">
      <%= render(partial: 'about') %>
    </div>
    <div class="col-md-6 my-3" id="dashboard-actions">
      <%= render(partial: 'actions') %>
    </div>
    <%= render(partial: 'admin') %>
    <%= render(partial: 'editor') %>
    <%= render(partial: 'curator') %>
    <%= render(partial: 'contributor') %>
  </div>
</div>
<br/>
<%= render(partial: 'shared/cc') %>

