<h1><%= @name.name_html %></h1>
<hr/>

<% unless @name.rank? %>
  <div class="alert alert-warning">
    The rank of this taxon has not been defined yet.
    Confirm the rank before registering the parent taxon:<br/><br/>
    <%= link_to(edit_rank_name_url(@name), class: 'btn btn-warning') do %>
      <%= fa_icon('edit') %> Edit rank
    <% end %>
  </div>
<% end %>

<%= simple_form_for(
      @placement,
      url: @placement.persisted? ? @placement : placements_url,
      html: { method: :post }
    ) do |f| %>

  <%= f.input(:name_id, as: :hidden) %>

  <h3>Parent taxon</h3>
  <p class="lead">
    Indicate the name of the parent taxon in the rank of
    <%= @name.expected_parent_rank %>
  </p>
  <%=
    f.input(
      :parent, autofocus: true,
      label: @name.expected_parent_rank.try(:capitalize),
      input_html: {
        value: @placement.parent.try(:name),
        data: {
          behavior: 'autocomplete', autocomplete: 'names',
          rank: @name.expected_parent_rank
        }
      }
    )
  %>
  <%=
    f.input(
      :publication,
      hint: 'Use DOI to search or register publication (preferred), ' \
            'or search by title',
      input_html: {
        value: @placement.publication.try(:doi_title, false),
        data: {
          behavior: 'autocomplete', autocomplete: 'publications'
        }
      }
    )
  %>

  <% if current_curator? %>
    <%= f.input(:preferred, label: 'Preferred placement') %>
  <% end %>
  <br/>

  <div class="border-left pl-3">
  <h3>Or declare <i>incertae sedis</i></h3>
  <p class="lead">
    Alternatively, you can indicate that the classification of this taxon is
    uncertain and why
  </p>
  <%=
    f.input(
      :incertae_sedis,
      collection: [
        'Incertae sedis',
        'Incertae sedis (Bacteria)',
        'Incertae sedis (Archaea)'
      ]
    )
  %>
  <%=
    f.input(
      :incertae_sedis_text,
      label: 'Description of the classification problems',
      as: :rich_text_area
    )
  %>
  </div>
  <br/>

  <%= f.button(:submit, 'Submit') %>
  <%= link_to('Cancel', @name, role: 'button', class: 'btn btn-secondary') %>
  <br/><br/>
<% end %>
