<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to(page_about_path, title: 'About the SeqCode Registry') do %>
      <span class="nav-item-text">About</span>
      <%= fa_icon('question-circle') %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= modal_button(@search_id, class: '', tag: :a) do %>
      <span class="nav-item-text">Search</span>
      <%= fa_icon('search') %>
    <% end %>
  </li>
  <li class="nav-text">
    •
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to(notifications_path, title: 'Alerts') do %>
        <span class="d-lg-none">Notifications</span>
        <% if current_user.unseen_notifications.any? %>
          <span
            class="nav-item-text badge badge-pill badge-info py-1 px-2 mr-1">
            <%= current_user.unseen_notifications.count %>
          </span>
        <% end %>
        <%= fa_icon('bell') %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(dashboard_path, title: 'Dashboard') do %>
        <span class="nav-item-text">Dashboard</span>
        <%= fa_icon('tachometer-alt') %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(
            destroy_user_session_path, method: :delete, title: 'Logout') do %>
        <span class="nav-item-text">Logout</span>
        <%= fa_icon('sign-out-alt') %>
      <% end %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to(new_user_session_path, title: 'Login') do %>
        <span class="nav-item-text">Login</span>
        <%= fa_icon('user-circle') %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(new_user_registration_path, title: 'Register') do %>
        <span class="nav-item-text">Register</span>
        <%= fa_icon('user-plus') %>
      <% end %>
    </li>
  <% end %>
</ul>
