<nav class="navbar small sticky-top navbar-expand text-white bg-dark-ce justify-content-between rounded">
  <div class="navbar-nav m-1">
    <%= link_to('Guided registrations', tutorials_url) %> &nbsp;&raquo;
    <%= @tutorial.title %> &raquo;
    Step <%= @tutorial.step %>: <%= @tutorial.step_name %>
  </div>
  <div>
    <% if @tutorial.step > 0 %>
      <%=
        link_to(
          '<',
          tutorial_url(@tutorial, step_back: true),
          method: :patch, class: 'btn btn-secondary btn-sm'
        )
      %>
    <% end %>
    <%= f.submit('>', class: 'btn btn-info btn-sm') %>
  </div>
</nav>
<%= f.input(:id, as: :hidden) %>

<% if @tutorial.invalid_record %>
  <div class="alert alert-danger">
    Errors detected for <%= display_link(@tutorial.invalid_record.record) %>
    <% id = modal('Record details', size: 'lg') do %>
      <% r = @tutorial.invalid_record.record %>
      <pre><%=
        JSON.pretty_generate(
          JSON.parse(r.to_json).select { |_k,v| v.present? }
        )
      %></pre>
    <% end %>
    <%= modal_button(id, as_anchor: true) do %>(record details)<% end %>:
    <ul>
      <% @tutorial.invalid_record.record.errors.full_messages.each do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

