<%= simple_form_for(@tutorial) do |f| %>
  <%= render(partial: 'bar', locals: { f: f }) %>
  <% if @tutorial.step < 2 || @name %>
    <%=
      render(
        partial: "tutorials/#{@tutorial.pipeline}/#{'%02i' % @tutorial.step}",
        locals: { f: f }
      )
    %>
  <% end %>
  <div class="actions">
    <% if @tutorial.step > 0 %>
      <%=
        link_to(
          'Back',
          tutorial_url(@tutorial, step_back: true),
          method: :patch, class: 'btn btn-secondary'
        )
      %>
    <% end %>
    <%= f.submit('Continue', class: 'btn btn-primary') %>
  </div>
<% end %>

<% if @tutorial.step < 7 && @tutorial.step > 1 %>
  <br/><hr/>
  <%= render(partial: 'names/correspondence', locals: { tutorial: @tutorial }) %>
<% end %>

