<h1>Register New Names</h1>
<hr/>

<% unless @tutorials.empty? %>
  <h3>Registration history</h3>
  <div class="list-group m-3">
    <% @tutorials.each do |tutorial| %>
      <div class="list-group-item list-group-item-action pb-3">
        <h5><%= tutorial.title %></h5>
        <b>Status:</b>
        <%= tutorial.ongoing ? 'Active' : 'Complete' %><br/>
        <b>Names:</b>
        <% if tutorial.names.any? %>
          <ul>
            <% tutorial.names.each do |name| %>
              <li><%= link_to(name.name_html, name) %></li>
            <% end %>
          </ul>
        <% else %>
          None yet
          <br/><br/>
        <% end %>
        <% if tutorial.ongoing %>
          <%= link_to(tutorial, class: 'btn btn-primary ml-4') do %>
            &raquo; Continue
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br/>
<% end %>

<h3>Select the option that best describes the name(s) you want to register:</h3>
<div class="list-group m-3">
  <% Tutorial.tutorials_hash.each do |k, v| %>
    <%= link_to(
          tutorials_url(pipeline: k), method: :post,
          class: 'list-group-item list-group-item-action'
        ) do %>
      <h5><%= v[:prompt] %></h5>
      <%= v[:description] %>
    <% end %>
  <% end %>
</div>
<br/><br/><br/>
