<h1>
  Guided Registrations
  <%= @extra_title %>
</h1>
<hr/>

<% unless @tutorials.empty? %>
  <h3>Registration history</h3>
  <div class="list-group m-3">
    <% @tutorials.each do |tutorial| %>
      <div class="list-group-item list-group-item-action pb-3">
        <h5><%= tutorial.title %></h5>
        <b>Status:</b>
        <%= tutorial.ongoing ? 'Active' : 'Complete' %><br/>
        <% if tutorial.names.any? %>
          <b>Name:</b>
          <% if tutorial.current_name %>
            <%= link_to_name(tutorial.current_name) %>
          <% else %>
            <%= link_to_name(tutorial.names.first) %>
          <% end %>
        <% else %>
          <i>No names yet</i>
        <% end %>
        <% if tutorial.ongoing %>
          <br/><br/>
          <%= link_to(tutorial, class: 'btn btn-primary ml-4') do %>
            <%= fa_icon('forward') %>
            Continue
          <% end %>
          <%= link_to(
                tutorial,
                method: :delete, class: 'btn btn-danger',
                data: { confirm: 'Are you sure? This action cannot be undone' }
              ) do %>
            <%= fa_icon('trash-alt') %>
            Delete
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br/>
<% end %>

<h3>Select the option that best describes the name(s) you want to register:</h3>
<div class="list-group m-3">
  <% Tutorial.tutorials_hash.each do |k, v| %>
    <% css_class = 'list-group-item list-group-item-action' %>
    <% css_class += ' disabled' if v[:steps].empty? %>
    <%= link_to(
          tutorials_url(pipeline: k), method: :post, class: css_class
        ) do %>
      <% if v[:steps].empty? %>
        <div class="text-info mx-1 mb-2">
          <%= fa_icon('wrench') %>&nbsp;
          <b>Under development</b>
        </div>
      <% end %>
      <h5><%= v[:prompt] %></h5>
      <%= v[:description] %>
    <% end %>
  <% end %>
</div>
<br/><br/><br/>
