<% provide(:title, 'About') %>
<div class="d-flex flex-row mb-5">
  <div class="">
    <h1>About the SeqCode Registry</h1>
    <hr/>

    <p class="lead mb-1">
      The SeqCode Registry is the central repository for names of prokaryotes
      proposed under the SeqCode
    </p>
  </div>
  <div class="col-3">
    <%= image_tag('logo-full.svg', size: '180x80', class: 'my-3') %>
  </div>
</div>


<h3>Using the SeqCode Registry</h3>
<ul class="mb-5">
  <li><%= link_to('Frequently Asked Questions', help_index_path) %></li>
  <li><%=
    link_to(
      'Contact us',
      # 'mailto:help@seqco.de?subject=SeqCode Registry Help Request',
      page_connect_url,
      target: '_blank'
    )
  %></li>
</ul>

<h3>The Team Behind the SeqCode Registry</h3>
<ul class="mb-5">
  <li>
    <%= link_to('Luis M Rodriguez-R',
          'https://rodriguez-r.com/', target: '_blank') %>
    (University of Innsbruck, Innsbruck, Austria)
  </li>
  <li>
    Marike Palmer
    (University of Manitoba, Winnipeg, MB, Canada)
  </li>
  <li>
    Maria Chuvochina
    (The University of Queensland, Brisbane, Australia)
  </li>
  <li>
    Fang Yuan
    (Georgia Institute of Technology, Atlanta GA, USA; former member)
  </li>
  <li>
    With contributions from the members of the
    <%= link_to('SeqCode Steering Committee',
          'https://www.isme-microbes.org/governance', target: '_blank') %>
    and the
    <%= link_to('SeqCode Committee', page_committee_url) %>
  </li>
</ul>

<h3>SeqCode Registry Curation Team</h3>
<ul class="mb-5">
  <li>
    Marike Palmer
    (University of Manitoba, Winnipeg, MB, Canada)
  </li>
  <li>
    Maria Chuvochina
    (The University of Queensland, Brisbane, Australia)
  </li>
  <li>
    <%= link_to('Luis M Rodriguez-R',
          'https://rodriguez-r.com/', target: '_blank') %>
    (University of Innsbruck, Innsbruck, Austria)
  </li>
  <li>
    <%= link_to('Melandre Van Lill',
          'https://www.fabinet.up.ac.za/index.php/people-profile?profile=1613',
          target: '_blank') %>
    (University of Pretoria, South Africa)
  </li>
  <li>
    Juan Valero Tebar
    (I2SysBio-CSIC-Universitat de València, Valencia, Spain)
  </li>
  <li>
    Giovanna Felis
    (University of Verona, Italy)
  </li>
</ul>

<h3>Additional SeqCode Materials</h3>
<ul class="mb-5">
  <li>
    <%= link_to('SeqCode Initiative', page_initiative_url, target: '_blank') %>:
    Learn more about the broader initiative, our community, and recent news
  </li>
  <li>
    <%= link_to('The SeqCode', page_seqcode_url) %>: Read the actual code
    guiding the proposal of names of prokaryotes described from sequence data
  </li>
  <li>
    <%= link_to('Publications', page_publications_url) %>: Read our recent
    manuscripts
  </li>
  <li>
    <%= link_to('SeqCode Committee', page_committee_url) %>: The governance
    structure behind the SeqCode
  </li>
  <li>
    <%= link_to('Join the Community', page_join_url, target: '_blank') %>:
    Become a member of the SeqCode Community
  </li>
  <li>
    <%= link_to('Contact us', page_connect_url, target: '_blank') %>: Join the
    discussion in Slack
  </li>
</ul>

