<h1>SeqCode Publications</h1>
<hr/>

<p class="blockquote mb-3 pb-3">
  The SeqCode and the SeqCode Registry are described in the publications below
</p>

<div class="container">
  <!-- Brian's paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        SeqCode, a nomenclatural code for prokaryotes described from sequence
        data
      </h2>
    </div>
    <div class="card-body">
      <p class="small"><i>
        Brian P. Hedlund, Maria Chuvochina, Philip Hugenholtz,
        Konstantinos T. Konstantinidis, Alison E. Murray, Marike Palmer,
        Donovan H. Parks, Alexander J. Probst, Anna-Louise Reysenbach,
        Luis M. Rodriguez-R, Ramon Rossello-Mora, Iain C. Sutcliffe,
        Stephanus N. Venter, and William B. Whitman
        <b>[under review]</b>
      </i></p>
      <hr/>
      <p>
        Most prokaryotes are not available as pure cultures and therefore
        ineligible for naming under the International Code of Nomenclature of
        Prokaryotes. Here we summarize the development of the SeqCode, a code of
        nomenclature under which genome sequences can serve as nomenclatural
        types. The SeqCode operates through self-registration
        (<a href="https://seqco.de/">https://seqco.de/</a>), provides a
        reproducible and objective framework for all prokaryotes, regardless of
        cultivability, and facilitates communication across microbiological
        disciplines.
      </p>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <%= download_link(
                'Hedlund_et_al.pdf',
                'SeqCode, a nomenclatural code for prokaryotes described ' \
                  'from sequence data'
              )
          %>
        </li>
        <li>
          <%= download_link(
                'Hedlund_et_al-SI.pdf',
                'Supplementary Information - SeqCode, a nomenclatural code ' \
                  'for prokaryotes...'
              )
          %>
        </li>
        <li>
          <%= download_link(
                'SeqCode-V1.01.pdf',
                'International Code of Nomenclature of Prokaryotes Described ' \
                  'from Sequence Data, V1.0.1'
              )
          %>
        </li>
      </ul>
    </div>
  </div>
  <br/>

  <%#
  <!-- Barny's paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Development of the SeqCode: a proposed nomenclatural code for
        uncultivated prokaryotes with DNA sequences as type
      </h2>
    </div>
    <div class="card-body">
      <p class="small"><i>
        William B Whitman, Maria Chuvochina, Brian P Hedlund,
        Philip Hugenholtz, Kostas T Konstantinidis, Alison Murray,
        Marike Palmer, Donovan H Parks, Alexander J Probst,
        Anna-Louise Reysenbach, Luis M Rodriguez-R, Ramon Rossello-Mora,
        Iain Sutcliffe, and Stephanus N Venter
        <b>[in press]</b>
      </i></p>
      <hr/>
      <p>
        Over the last fifteen years, genomics has become fully integrated into prokaryotic systematics.
        The genomes of most type strains have been sequenced, genome sequence similarity is widely
        used for delineation of species, and phylogenomic methods are commonly used for classification
        of higher taxonomic ranks. Additionally, environmental genomics has revealed a vast diversity of
        as-yet-uncultivated taxa. In response to these developments, a new code of nomenclature, the
        International Code of Nomenclature of Prokaryotes Described from Sequence Data (SeqCode),
        has been developed over the last two years to allow naming of Archaea and Bacteria using DNA
        sequences as the nomenclatural types. The SeqCode also allows naming of fastidious
        prokaryotes that cannot be deposited into culture collections. Several simplifications relative to
        the International Code of Nomenclature of Prokaryotes (ICNP) are implemented to make
        nomenclature more accessible, easier to apply and more readily communicated. By simplifying
        nomenclature with the goal of a unified taxonomy, inclusive of both cultured and uncultured taxa,
        the SeqCode will facilitate the naming of taxa in every biome on Earth, encourage the isolation
        and characterization of as-yet-uncultivated taxa, and promote synergies between the ecological,
        environmental, physiological, biochemical, and molecular biological disciplines to more fully
        describe prokaryotic life.
      </p>
    </div>
  </div>
  <br/>
  %>
  
  <!-- The SeqCode -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        The International Code of Nomenclature of Prokaryotes Described from
        Sequence Data
      </h2>
    </div>
    <div class="card-body">
      <p class="small"><i>
        Edited by William B Whitman, Maria Chuvochina, Brian P Hedlund,
        Philip Hugenholtz, Kostas T Konstantinidis, Alison Murray,
        Marike Palmer, Donovan H Parks, Alexander J Probst,
        Anna-Louise Reysenbach, Luis M Rodriguez-R, Ramon Rossello-Mora,
        Iain Sutcliffe, and Stephanus N Venter
      </i></p>
      <hr/>
      <p>
        <%= link_to(page_seqcode_url) do %>
          <%= fa_icon('satellite-dish') %>&nbsp;
          See also the live version of the SeqCode
        <% end %>
      </p>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <%= download_link(
                'SeqCode-V1.0.pdf',
                'International Code of Nomenclature of Prokaryotes Described ' \
                  'from Sequence Data, V1.0'
              )
          %>
        </li>
      </ul>
    </div>
  </div>
  <br/>

</div>


