<% provide(:title, 'Publications') %>
<h1>SeqCode Publications</h1>
<hr/>

<p class="blockquote mb-3 pb-3">
  The SeqCode and the SeqCode Registry are described in the publications below,
  currently under review
</p>

<div class="container mb-5">
  <!-- Brian's paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        SeqCode: a nomenclatural code for prokaryotes described from sequence
        data
      </h2>
    </div>
    <div class="card-body">
      <p class="small"><i>
        Brian P. Hedlund, Maria Chuvochina, Philip Hugenholtz,
        Konstantinos T. Konstantinidis, Alison E. Murray, Marike Palmer,
        Donovan H. Parks, Alexander J. Probst, Anna-Louise Reysenbach,
        Luis M. Rodriguez-R, Ramon Rossello-Mora, Iain C. Sutcliffe,
        Stephanus N. Venter, and William B. Whitman.
        <b>
          <i>Nature Microbiology</i> (2022).
          <a href="https://doi.org/10.1038/s41564-022-01214-9" target=_blank>
            https://doi.org/10.1038/s41564-022-01214-9
          </a>
        </b>
      </i></p>
      <hr/>
      <p>
        Most prokaryotes are not available as pure cultures and therefore
        ineligible for naming under the rules and recommendations of the
        International Code of Nomenclature of Prokaryotes (ICNP). Here we
        summarize the development of the SeqCode, a code of nomenclature under
        which genome sequences serve as nomenclatural types. This code enables
        valid publication of names of prokaryotes based upon isolate genome,
        metagenome-assembled genome or single-amplified genome sequences.
        Otherwise, it is similar to the ICNP with regard to the formation of
        names and rules of priority. It operates through the SeqCode Registry
        (<a href='https://seqco.de/'>https://seqco.de/</a>), a registration
        portal through which names and nomenclatural types are registered,
        validated and linked to metadata. We describe the two paths currently
        available within SeqCode to register and validate names, including
        <i>Candidatus</i> names, and provide examples for both. Recommendations
        on minimal standards for DNA sequences are provided. Thus, the SeqCode
        provides a reproducible and objective framework for the nomenclature of
        all prokaryotes regardless of cultivability and facilitates
        communication across microbiological disciplines.
      </p>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <%= download_link(
                'Hedlund_et_al.pdf',
                'SeqCode, a nomenclatural code for prokaryotes described ' \
                  'from sequence data'
              )
          %>
        </li>
        <li>
          <%= download_link(
                'Hedlund_et_al-SI.pdf',
                'Supplementary Information - SeqCode, a nomenclatural code ' \
                  'for prokaryotes...'
              )
          %>
        </li>
        <li>
          <%= link_to(page_seqcode_url) do %>
            <%= fa_icon('satellite-dish') %>&nbsp;&nbsp;
            Live version of the SeqCode
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <br/>

  <!-- Barny's paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Development of the SeqCode: A proposed nomenclatural code for
        uncultivated prokaryotes with DNA sequences as type
      </h2>
    </div>
    <div class="card-body">
      <p class="small"><i>
        William B Whitman, Maria Chuvochina, Brian P Hedlund,
        Philip Hugenholtz, Kostas T Konstantinidis, Alison Murray,
        Marike Palmer, Donovan H Parks, Alexander J Probst,
        Anna-Louise Reysenbach, Luis M Rodriguez-R, Ramon Rossello-Mora,
        Iain Sutcliffe, and Stephanus N Venter.
        <b>
          <i>Systematic and Applied Microbiology</i> (2022).
          <a href="https://doi.org/10.1016/j.syapm.2022.126305">
            https://doi.org/10.1016/j.syapm.2022.126305
          </a>
        </b>
      </i></p>
      <hr/>
      <p>
        Over the last fifteen years, genomics has become fully integrated into
        prokaryotic systematics. The genomes of most type strains have been
        sequenced, genome sequence similarity is widely used for delineation of
        species, and phylogenomic methods are commonly used for classification
        of higher taxonomic ranks. Additionally, environmental genomics has
        revealed a vast diversity of as-yet-uncultivated taxa. In response to
        these developments, a new code of nomenclature,
        the <i>Code of Nomenclature of Prokaryotes Described from Sequence
        Data</i> (SeqCode), has been developed over the last two years to allow
        naming of Archaea and Bacteria using DNA sequences as the nomenclatural
        types. The SeqCode also allows naming of cultured organisms, including
        fastidious prokaryotes that cannot be deposited into culture
        collections. Several simplifications relative to the <i>International
        Code of Nomenclature of Prokaryotes</i> (ICNP) are implemented to make
        nomenclature more accessible, easier to apply and more readily
        communicated. By simplifying nomenclature with the goal of a unified
        classification, inclusive of both cultured and uncultured taxa, the
        SeqCode will facilitate the naming of taxa in every biome on Earth,
        encourage the isolation and characterization of as-yet-uncultivated
        taxa, and promote synergies between the ecological, environmental,
        physiological, biochemical, and molecular biological disciplines to more
        fully describe prokaryotes.
      </p>
    </div>
  </div>
  <br/>

  <!-- Candidatus genus priority paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Request for public discussion and ballot to amend SeqCode rules on
        priority of Candidatus names and correction of typographic and
        orthographic errors
      </h2>
    </div>
    <div class="card-body">
      <p class="small"><i>
        William B. Whitman, Brian P. Hedlund, Marike Palmer, Iain Sutcliffe,
        and Maria Chuvochina.
        <b>
          <i>ISME Communications</i> (2023).
          <a href="https://doi.org/10.1038/s43705-023-00303-y">
            https://doi.org/10.1038/s43705-023-00303-y
          </a>
        </b>
      </i></p>
    </div>
  </div>
  <br/>

  <!-- The SeqCode -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        The International Code of Nomenclature of Prokaryotes Described from
        Sequence Data
      </h2>
    </div>
    <div class="card-body">
      <p class="small"><i>
        Edited by William B Whitman, Maria Chuvochina, Brian P Hedlund,
        Philip Hugenholtz, Kostas T Konstantinidis, Alison Murray,
        Marike Palmer, Donovan H Parks, Alexander J Probst,
        Anna-Louise Reysenbach, Luis M Rodriguez-R, Ramon Rossello-Mora,
        Iain Sutcliffe, and Stephanus N Venter.
      </i></p>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <%= link_to(page_seqcode_url) do %>
            <%= fa_icon('satellite-dish') %>&nbsp;
            Live version of the SeqCode
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <br/>

  <div class="card">
    <div class="card-header">
      <h2>Would you like to contribute?</h2>
    </div>
    <div class="card-body text-center">
      <%=
        link_to(
          'Join the Conversation', page_connect_url,
          target: '_blank', class: 'btn btn-lg btn-primary'
        )
      %>
    </div>
  </div>
  <br/>

</div>
