<% provide(:title, 'Publications') %>

<div class="container mb-5">
  <h1>SeqCode Publications</h1>
  <hr/>

  <!-- Brian's paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        SeqCode: a nomenclatural code for prokaryotes described from sequence
        data
      </h2>
    </div>
    <div class="card-body">
      <%= link_to('https://doi.org/10.1038/s41564-022-01214-9',
            class: 'btn btn-light text-left w-100', target: '_blank') do %>
        Brian P. Hedlund, Maria Chuvochina, Philip Hugenholtz,
        Konstantinos T. Konstantinidis, Alison E. Murray, Marike Palmer,
        Donovan H. Parks, Alexander J. Probst, Anna-Louise Reysenbach,
        Luis M. Rodriguez-R, Ramon Rossello-Mora, Iain C. Sutcliffe,
        Stephanus N. Venter, and William B. Whitman.
        <b>
          <i>Nature Microbiology</i> (2022).
          https://doi.org/10.1038/s41564-022-01214-9
        </b>
      <% end %>
    </div>
  </div>

  <!-- Barny's paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Development of the SeqCode: A proposed nomenclatural code for
        uncultivated prokaryotes with DNA sequences as type
      </h2>
    </div>
    <div class="card-body">
      <%= link_to('https://doi.org/10.1016/j.syapm.2022.126305',
            class: 'btn btn-light text-left w-100', target: '_blank') do %>
        William B Whitman, Maria Chuvochina, Brian P Hedlund,
        Philip Hugenholtz, Kostas T Konstantinidis, Alison Murray,
        Marike Palmer, Donovan H Parks, Alexander J Probst,
        Anna-Louise Reysenbach, Luis M Rodriguez-R, Ramon Rossello-Mora,
        Iain Sutcliffe, and Stephanus N Venter.
        <b>
          <i>Systematic and Applied Microbiology</i> (2022).
          https://doi.org/10.1016/j.syapm.2022.126305
        </b>
      <% end %>
    </div>
  </div>

  <!-- Candidatus genus priority paper -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Request for public discussion and ballot to amend SeqCode rules on
        priority of Candidatus names and correction of typographic and
        orthographic errors
      </h2>
    </div>
    <div class="card-body">
      <%= link_to('https://doi.org/10.1038/s43705-023-00303-y',
            class: 'btn btn-light text-left w-100', target: '_blank') do %>
        William B. Whitman, Brian P. Hedlund, Marike Palmer, Iain Sutcliffe,
        and Maria Chuvochina.
        <b>
          <i>ISME Communications</i> (2023).
          https://doi.org/10.1038/s43705-023-00303-y
        </b>
      <% end %>
    </div>
  </div>

  <br/>
  <h1>Other Materials</h1>
  <hr/>

  <!-- The SeqCode -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        The International Code of Nomenclature of Prokaryotes Described from
        Sequence Data
      </h2>
    </div>
    <div class="card-body">
      <%= link_to(page_seqcode_url, class: 'btn btn-light text-left') do %>
        Edited by William B Whitman, Maria Chuvochina, Brian P Hedlund,
        Philip Hugenholtz, Kostas T Konstantinidis, Alison Murray,
        Marike Palmer, Donovan H Parks, Alexander J Probst,
        Anna-Louise Reysenbach, Luis M Rodriguez-R, Ramon Rossello-Mora,
        Iain Sutcliffe, and Stephanus N Venter.&nbsp;
        <b>
          <%= fa_icon('satellite-dish') %> Live version of the SeqCode.
        </b>
      <% end %>
    </div>
  </div>

  <!-- Zenodo Community Space -->
  <div class="card my-3">
    <div class="card-header">
      <h2>
        Minutes of the meetings of the SeqCode Committee administrative
        components
      </h2>
    </div>
    <div class="card-body">
      <%= link_to('https://doi.org/10.1038/s43705-023-00303-y',
            class: 'btn btn-light text-left w-100', target: '_blank') do %>
        SeqCode Matters - Zenodo Community Space
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Would you like to contribute?</h2>
    </div>
    <div class="card-body text-center">
      <%= link_to(page_connect_url, target: '_blank',
            class: 'btn btn-primary') do %>
        <%= fa_icon('comment-dots') %>
        Join the Conversation
      <% end %>
      <%= link_to(page_join_url, target: '_blank',
            class: 'btn btn-primary') do %>
        <%= fa_icon('users') %>
        Join the SeqCode Community
      <% end %>
    </div>
  </div>
  <br/>

</div>
