
<div class="card my-3">
  <div class="card-body">
    <h4><%= @name.inferred_rank.capitalize %></h4>
    <%= @name.name_html %>
    <%= link_to(@name, class: 'ml-2') do %>
      [<%= fa_icon('vial') %> Edit in expert mode]
    <% end %>
    <%= f.input(:id, as: :hidden) %>
    <hr/>
    <%= f.submit('Continue registration', class: 'btn btn-primary') %>
  </div>
</div>

<% @name.only_display = true %>
<%= render(partial: 'names/taxonomy') %>
<%= render(partial: 'names/nomenclature') %>
<%= render(partial: 'names/genomics') %>
<% @name.only_display = nil %>


