<% name_s = @register.names.count == 1 ? 'name' : 'names' %>
<% case @action %>
<% when 'approve' %>
  <p>
    The register list
    <%= link_to(@register.acc_url, @register.acc_url(true)) %>
    has been approved.
  </p>
  <br/>
  <h2>What does this mean?</h2>
  <p>
    Our team of curators have marked this list and all the included names
    and their associated metadata as suitable for validation.
    However, names are not valid (and do not have priority) until they have
    been published and the Registry is notified of publication.
  </p>
  <br/>
  <h2>What to do next?</h2>
  <p>
    If you are currently writing the manuscript that describes these taxa,
    undergoing peer-review, or the manuscript is currently in press, please
    remember to notify the SeqCode registry once the paper has been
    published.
    <br/>
    If the paper has already been published and a DOI has been assigned,
    <%= link_to('Notify the SeqCode Registry',
                notification_register_url(@register)) %>.
  </p>
<% when 'validate' %>
  <p>
    The register list
    <%= link_to(@register.acc_url, @register.acc_url(true)) %>
    has been validated.
  </p>
  <br/>
  <h2>What does this mean?</h2>
  <p>
    All the names in this list are now considered valid under the SeqCode.
    The exact priority date for all included names is:
    <b><%= @register.priority_date %></b>.
  </p>
  <br/>
  <h2>What to do next?</h2>
  <p>
    You can now cite the registration list using the assigned DOI:
    <%= link_to(@register.doi_url, @register.doi_url) %>
    (it may take a few days before the DOI is properly registered).
    <br/>
    You can also cite the <%= name_s %> without quotation marks now.
    The formal recommended styling for the included <%= name_s %> is:
    <ul>
      <% @register.names.each do |name| %>
        <li><%= link_to(name.formal_html, name) %></li>
      <% end %>
    </ul>
  </p>
<% when 'return' %>
  <p>
    The register list
    <%= link_to(@register.acc_url, @register.acc_url(true)) %>
    has been returned to you.
  </p>
  <br/>
  <h2>What does this mean?</h2>
  <p>
    Our team of curators have identified at least one blocking issue with
    your list, and have returned it to you for inspection.
  </p>
  <br/>
  <h2>What to do next?</h2>
  <p>
    Please visit the <%= link_to('register list page', @register) %>, and
    revise the correspondence with curators to identify the next steps.
  </p>
  <% unless @register.notes.empty? %>
    <h2>System and curator notes</h2>
    <p>
      <%= @register.notes.body %>
    </p>
  <% end %>
<% end %>

