<%= download_buttons(
      [[subjects_url(format: :json), 'file-code', 'JSON']]
    ) %>

<h1>
  Subjects
  <div class="badge badge-count"><%= @subjects.count %></div>
</h1>
<hr/>

<%= pager @subjects %>
<div class="text-center mb-4">
  <% @subjects.each do |subject| %>
    <%= render(subject) %>
  <% end %>
</div>
<%= pager @subjects %>
<br/><br/>

