<% provide(:title, @subject.name) %>
<div class="float-right"><%= list_type_selector %></div>
<h1><%= @subject.name %></h1>
<hr/>

<h2>
  Publications
  <div class="badge badge-count"><%= @publications.count %></div>
</h2>

<%= adaptable_list(set: @publications) do |list| %>
  <% @publications.each do |i| %>
    <%= render(partial: i, locals: { list: list }) %>
  <% end %>
<% end %>

