<% provide(:title, @subject.name) %>

<%= download_buttons(
      [[subject_url(@subject, format: :json), 'file-code', 'JSON']]
    ) { content_tag(:div, class: 'mt-1') { list_type_selector } } %>

<h1><%= @subject.name %></h1>
<hr/>

<h2>
  Publications
  <div class="badge badge-count"><%= @publications.count %></div>
</h2>

<%= adaptable_list(set: @publications) do |list| %>
  <% @publications.each do |i| %>
    <%= render(partial: i, locals: { list: list }) %>
  <% end %>
<% end %>

