<% if object&.can_view_correspondence?(current_user) ||
      correspondence_history ||= false %>
  <dl id="correspondence" class="main-section name-details">
    <% if correspondence_history %>
      <%= render(
            partial: 'correspondences/history',
            locals: { object: object }) %>
    <% else %>
      <h2>
        <%= fa_icon('comments', class: 'float-right') %>
        Correspondence with curators
      </h2>
      <% if object.correspondences.count > 3 %>
        <% id = modal('Full correspondence history', size: 'lg') do %>
          <%= render(
                partial: 'correspondences/history',
                locals: { object: object }) %>
        <% end %>
        <%= modal_button(id, class: 'my-3 btn btn-secondary') do %>
          <%= pluralize(object.correspondences.count - 3, 'earlier message') %>
          &hellip;
        <% end %>
      <% end %>
      <% object.correspondences.last(3).each do |correspondence| %>
        <%= render(
              partial: 'correspondences/message',
              locals: { correspondence: correspondence }) %>
      <% end %>

      <dt>New message</dt>
      <dd class="pt-2">
        <% unless object.correspondence_monitored? %>
          <div class="alert alert-warning">
            <h5>Unmonitored correspondence</h5>
            The correspondence here is unmonitored and won't be seen by the
            curators. To ensure that your correspondence is monitored, please
            submit your list. Once you submit the list, all correspondence here
            will become visible to the curation team.
          </div>
        <% end %>
        <%
          fpar =
            if object.is_a? Register
              [RegisterCorrespondence.new(notify: true),
                new_correspondence_register_url(accession: object.accession)]
            elsif object.is_a? Name
              par = { id: object.id }
              tutorial ||= nil
              par[:tutorial] = tutorial if tutorial
              [NameCorrespondence.new(notify: true),
                new_correspondence_name_url(par)]
            end
        %>
        <%= simple_form_for(fpar[0], url: fpar[1], method: :post) do |f| %>
          <%= f.input(:message, as: :rich_text_area, label: false) %>
          <%= f.input(:notify, as: :boolean, label_html: { class: 'text-dark' },
                label: 'Notify corresponding users by email') %>
          <%= f.button(:submit, 'Send message', class: 'btn-action') %>
          &raquo; The messages will be in the permanent record,
          visible only to submitter and curators
          <hr/>
          <% if current_curator? && !object.user?(current_user) %>
            <%
              id = modal(
                'Correspondence templates',
                size: 'lg', async: template_correspondences_url(content: true)
              )
            %>
            <%= modal_button(id, class: 'btn btn-secondary btn-action') do %>
              Load template
            <% end %>
            &raquo; Browse and use pre-formatted template messages
            (curators only)
            <hr/>
          <% end %>
        <% end %>
      </dd>
    <% end %>
  </dl>
<% end %>
