<h1>
  Journals
  <div class="badge badge-count"><%= @journals.total_entries %></div>
</h1>
<hr/>

<%= pager @journals %>
<div class="text-center mb-4">
  <% @journals.each do |journal| %>
    <%= link_to(
          journal_path(journal),
          class: 'btn btn-sm btn-secondary', style: 'margin: 0.2em;'
        ) { %><%= journal %><% } %>
  <% end %>
</div>
<%= pager @journals %>
<br/><br/>

