<% if current_curator? %>
  <dl name="curator" class="main-section name-details actions-section">
    <h2>Curator Actions</h2>
    <dd class="pt-2">
      <%= link_to(
            update_external_genome_url(@genome),
            method: :post, class: 'btn btn-primary btn-sm'
          ) do %>
        <%= fa_icon('external-link-square-alt') %> Update external metadata
      <% end %>
      &raquo; Queue the genome to retrieve all external metadata
      <hr/>
      <%= link_to(
            recalculate_miga_genome_url(@genome),
            method: :post, class: 'btn btn-primary btn-sm'
          ) do %>
        <%= fa_icon('redo-alt') %> Recalculate MiGA entry
      <% end %>
      &raquo; Queue the genome to recalculate all MiGA statistics
      <hr/>
      <% id = modal('Change database and/or accession') do %>
        <%= simple_form_for(@genome, url: update_accession_genome_path(@genome)) do |f| %>
          <div class="alert alert-info">
            Please be very careful with accession changes, as they can have
            unexpected consequences. Use only when absolutely necessary.
          </div>
          <%=
            f.input(:database, collection: Genome.db_names.to_a.map(&:reverse))
          %>
          <%= f.input(:accession) %>
          <br/>
          <%= f.submit('Update', class: 'btn btn-primary') %>
        <% end %>
      <% end %>
      <%= modal_button(id, class: 'btn btn-primary btn-sm') do %>
        <%= fa_icon('tags') %> Change accession
      <% end %>
      &raquo; Change database and/or accession entry for genome
      <hr/>
    </dd>
  </dl>
<% end %>
