
<%= simple_form_for(@genome) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :database %>
    <%= f.input :accession %>
    <%= f.input :type %>
    <%= f.input :gc_content %>
    <%= f.input :completeness %>
    <%= f.input :contamination %>
    <%= f.input :seq_depth %>
    <%= f.input :most_complete_16s %>
    <%= f.input :number_of_16s %>
    <%= f.input :most_complete_23s %>
    <%= f.input :number_of_23s %>
    <%= f.input :number_of_trnas %>
    <%= f.input :updated_by %>
    <%= f.input :auto_check %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
