<% if @genome.try(:source_hash).present? %>
  <dl name="samples" class="main-section name-details">
    <h2>Sample Metadata</h2>

    <%
      attributes_icon = {
        date: 'calendar', location: 'map-marked', toponym: 'map-signs',
        environment: 'leaf', other: 'binoculars', package: 'cubes'
      }
    %>
    <% attributes_icon.each do |group, icon| %>
      <dt><%= fa_icon(icon) %> <%= group.to_s.capitalize %></dt>
      <dd>
        <% if @genome.source_attribute_groups[group].present? %>
          <% @genome.source_attribute_groups[group].each do |k, v| %>
            <div>
              <b><%= k.to_s.tr('_', ' ').titleize %>:</b>
              <%
                case group
                when :environment
                  osl4 = 'https://www.ebi.ac.uk/ols4/ontologies/envo/classes/'
                  purl = 'http://purl.obolibrary.org/obo/ENVO_'
                  envo = osl4 + ERB::Util.u(purl)
                  v.map! do |i|
                    sanitize(i).gsub(
                      /(^\s*|[^A-Z\d])ENVO:(\d{8})(\s*$|[^A-Z\d])/i,
                      "\\1<a href='#{envo}\\2' target='_blank'>ENVO:\\2</a>\\3"
                    )
                  end
                when :package
                  # ENA Checklists
                  ena = 'https://www.ebi.ac.uk/ena/browser/view/'
                  v.map! do |i|
                    sanitize(i).sub(
                      /(^\s*)(ERC\d{6})(\s*$)/i,
                      "\\1<a href='#{ena}\\2' target='_blank'>\\2</a>\\3"
                    )
                  end
                  # BioSample Packages
                  ncbi = 'https://www.ncbi.nlm.nih.gov/biosample/docs/packages/'
                  top = /(?:#{%w[
                    OneHealthEnteric Microbe Model\\.organism Metagenome
                    Invertebrate Human Plant Virus Beta-lactamase Pathogen
                    MIGS MIMAG MIMARKS MIMS MISAG MIUVIG
                  ].join('|')})/
                  ver = /(?:\.[\d\.]+)?/
                  v.map! do |i|
                    i.sub(
                      /(^\s*)(#{top}\.[A-Z\.\-_]+#{ver})?(\s*$)/i,
                      "\\1<a href='#{ncbi}\\2' target='_blank'>\\2</a>\\3"
                    )
                  end
                else
                  v.map! { |i| sanitize(i) }
                end
              %>
              <%= v.join(' • ').html_safe %>
            </div>
          <% end %>
        <% else %>
          <%= fa_icon('exclamation-triangle', class: 'text-warning mr-1') %>
          Not detected
        <% end %>
      </dd>
    <% end%>

    <% if @genome.source_extra_biosamples.present? %>
      <dt><%= fa_icon('link') %> Additional Accessions</dt>
      <dd>
        <%= @genome.source_extra_biosamples.join(', ') %>
        <% if @genome.can_edit?(current_user) &&
              @genome.source_database == 'biosample' %>
          <%
            par = { genome: {}, return_to: genome_path(@genome) }
            par[:genome][:source_accession] =
              @genome.source_accession + ', ' +
              @genome.source_extra_biosamples.join(', ')
          %>
          <%= link_to(
                genome_url(@genome, par),
                method: :patch,
                class: 'badge badge-pill badge-info'
              ) do %>
            <%= fa_icon('plus-square') %> Append as BioSamples
          <% end %>
        <% end %>
      </dd>
    <% end %>

    <dt><%= fa_icon('flask') %> All retrieved samples</dt>
    <dd>
      <% if @genome.source_hash[:samples].empty? %>
        <div class="alert alert-warning">
          No BioSample metadata was found associated to this genome.
        </div>
      <% else %>
        <ul>
          <% @genome.source_hash[:samples].each do |acc, sample| %>
            <% id = modal(acc, size: 'lg') do %>
              <% if sample[:from_sra] %>
                <div class="alert alert-info">
                  Retrieved via <%= to_sentence(sample[:from_sra]) %>
                </div>
              <% end %>
              <p class="lead mx-2">
                <%= sample[:description] %>
              </p>
              <dl class="main-section">
                <% sample[:attributes].each do |k, v| %>
                  <dt><%= k %></dt>
                  <dd><%= v %></dd>
                <% end if sample[:attributes].present? %>
              </dl>
            <% end %>

            <li>
              <%= modal_button(id, as_anchor: true) do %>
                <b><%= acc %></b>: <%= sample[:title] %>
               <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </dd>

    <% if @genome.source_hash[:retrieved_at] %>
      <div class="text-muted">
        <hr/>
        Metadata retrieved
        <%= time_ago_with_date(@genome.source_hash[:retrieved_at]) %>
        <% if @genome.queued_for_external_resources %>
          (queued for update <%= time_ago_with_date(@genome.queued_external) %>)
        <% end %>
      </div>
    <% end %>
  </dl>
<% end %>
