<p id="notice"><%= notice %></p>

<h1>
  Genomes
  <small class='text-muted'>(<%= @genomes.count %>)</small>
</h1>

<table>
  <thead>
    <tr>
      <th>Database</th>
      <th>Accession</th>
      <th>Type</th>
      <th>Gc content</th>
      <th>Completeness</th>
      <th>Contamination</th>
      <th>Seq depth</th>
      <th>Most complete 16s</th>
      <th>Number of 16s</th>
      <th>Most complete 23s</th>
      <th>Number of 23s</th>
      <th>Number of trnas</th>
      <th>Updated by</th>
      <th>Auto check</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @genomes.each do |genome| %>
      <tr>
        <td><%= genome.database %></td>
        <td><%= genome.accession %></td>
        <td><%= genome.kind %></td>
        <td><%= genome.gc_content %></td>
        <td><%= genome.completeness %></td>
        <td><%= genome.contamination %></td>
        <td><%= genome.seq_depth %></td>
        <td><%= genome.most_complete_16s %></td>
        <td><%= genome.number_of_16s %></td>
        <td><%= genome.most_complete_23s %></td>
        <td><%= genome.number_of_23s %></td>
        <td><%= genome.number_of_trnas %></td>
        <td><%= genome.updated_by %></td>
        <td><%= genome.auto_check %></td>
        <td><%= link_to 'Show', genome %></td>
        <td><%= link_to 'Edit', edit_genome_path(genome) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genome', new_genome_path %>
