
<%
  npar = {}
  ppar = { page: params[:page] || 1 }.merge(npar)
%>
<% provide(:canonical_url, canonical_url(ppar)) %>
<%= download_buttons(
      [[genomes_url(ppar.merge(format: :json)), 'file-code', 'JSON']]
    ) %>

<h1>
  Genomes
  <div class="badge badge-count"><%= @genomes.count %></div>
</h1>

<div class="container p-0">
  <div class="row">
    <div class="col-sm-9">
      <b>Browse by</b>
      <span class="text-muted">•</span>
      <%= link_to('type genomes', name_type_genomes_path) %>
    </div>
    <div class="col-sm-3 text-right">
      <%= list_type_selector %>
    </div>
  </div>
</div>
<hr/>

<%= adaptable_list(set: @genomes) do |list| %>
  <% @genomes.each do |genome| %>
    <%= render(partial: 'genome_item', locals: { list: list, genome: genome }) %>
  <% end %>
<% end %>

