
<% unless params[:content].present? %>
  <h2><%= display_link(@genome, :title) %> - Sample location</h2>
  <hr/>
<% end %>

<% locs = @genome.source_sample_locations.compact %>
<% if locs.present? %>
  <% if params[:content].present? %>
    <div id="map" style="width: 400px; height: 300px;" class="mx-auto"></div>
    <hr/>
    <%= link_to(sample_map_genome_path(@genome)) do %>
      View in full page
    <% end %>
  <% else %>
    <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css" rel="stylesheet" />
    <div id="map" style="width: 800px; height: 600px;" class="mx-auto"></div>
  <% end %>

  <script>
    function load_map(lat, lon) {
      return(
        new maplibregl.Map({
          container: 'map',
          style:
            'https://api.maptiler.com/maps/hybrid/style.json?' +
              'key=<%= ENV["RAILS_SEQCODE_MAPTILER_KEY"] %>',
          center: [lon, lat], // starting position [lng, lat]
          zoom: 9 // starting zoom
        })
      );
    }
    function add_marker(map, lat, lon) {
      return(
        new maplibregl.Marker()
          .setLngLat([lon, lat])
          .addTo(map)
      );
    }
    var map = load_map(<%= locs.first[0] %>, <%= locs.first[1] %>);
    <% locs.each do |lat_lon| %>
      var marker = add_marker(map, <%= lat_lon[0] %>, <%= lat_lon[1] %>);
    <% end %>
  </script>
<% else %>
  <div class="alert alert-warning">
    Could not parse location metadata
  </div>
<% end %>
