
<% unless params[:content].present? %>
  <h2>Sample locations</h2>
  <hr/>
<% end %>

<% locs = @sample_set.locations.compact %>
<% if locs.present? %>
  <% if params[:content].present? %>
    <div id="map" style="width: 400px; height: 300px;" class="mx-auto"></div>
  <% else %>
    <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"
      ></script>
    <link href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css"
      rel="stylesheet" />
    <div id="map" style="width: 800px; height: 600px;" class="mx-auto"></div>
  <% end %>

  <script>
    function load_map(lat1, lon1, lat2, lon2) {
      return(
        new maplibregl.Map({
          container: 'map',
          style:
            'https://api.maptiler.com/maps/hybrid/style.json?' +
              'key=<%= ENV["RAILS_SEQCODE_MAPTILER_KEY"] ||
                         "get_your_own_OpIi9ZULNHzrESv6T2vL" %>',
          bounds: [lon1, lat1, lon2, lat2]
        })
      );
    }
    function add_marker(map, lat, lon) {
      return(
        new maplibregl.Marker()
          .setLngLat([lon, lat])
          .addTo(map)
      );
    }
    <% bounds = @sample_set.locations_area %>
    var map = load_map(<%= bounds.join(', ') %>);
    map.addControl(new maplibregl.FullscreenControl());
    <% locs.each do |lat_lon| %>
      var marker = add_marker(map, <%= lat_lon[0] %>, <%= lat_lon[1] %>);
    <% end %>
  </script>
<% else %>
  <div class="alert alert-warning">
    <% if @sample_set.empty? %>
      There are no available samples to find their location
    <% else %>
      Location metadata is missing or could not be parsed
    <% end %>
  </div>
<% end %>

<% unless params[:content].present? %>
  <br/>
  <%= render(partial: 'shared/cc') %>
<% end %>
