<% all ||= false %>

<div class="container news">
  <div class="row mx-1">
    <div class="col-lg-12 text-center">
      <h1>SeqCode News</h1>
      <hr/>
    </div>
    <dl class="col-lg-12">
      <dt>
        <div class="date">May 24, 2024</div>
        New feature in Registry: Dictionary lookups
      </dt>
      <dd>
        We recognize that completing etymology tables correctly is challenging.
        In order to help users and ease curation, the Registry now includes a
        built-in Latin dictionary lookup to simplify the process of grammatical
        analysis and morpheme descriptions. To learn more, see
        <%= link_to('How do I use dictionary lookups?',
            help_url('dictionary')) %>
      </dd>
      <dt>
        <div class="date">May 03, 2024</div>
        New server domain for the Registry
      </dt>
      <dd>
        The SeqCode Registry is now migrating all traffic to the domain
        <code>https://registry.seqco.de/</code>. This means you might need
        to login again (with the same credentials), but it should otherwise
        cause no interruptions. For reference, the previous location was
        <code>https://disc-genomics.uibk.ac.at/seqcode</code>.
      </dd>

      <dt>
        <div class="date">March 18, 2024</div>
        SeqCode Prize 2024 to Dr. Jiménez Avella
      </dt>
      <dd>
        The SeqCode Committee congratulates Dr. Diego Javier Jiménez Avella,
        recipient of the SeqCode Prize 2024. Learn more at the
        <%= link_to('SeqCode Prize page', page_prize_url) %>.
      </dd>

      <% if all %>
        <dt>
          <div class="date">October 12, 2023</div>
          Proposal to amend the SeqCode
        </dt>
        <dd>
          A proposal to amend the SeqCode has recently been published by Whitman
          et al.
          (<%=
            link_to('ISME Commun, 2023',
              'https://doi.org/10.1038/s43705-023-00303-y') 
          %>).
          In line with the the SeqCode statutes, a public discussion
          will now be held via the
          <%= link_to('SeqCode Slack workspace', page_connect_url) %>,
          in the channel
          <b>#discussion-of-whitmanetal-2023-proposed-seqcode-amendments</b>.
          The public discussion will be open until 10 January 2024.
        </dd>

        <dt>
          <div class="date">August 30, 2023</div>
          Call for Nominations for the SeqCode Prize 2024
        </dt>
        <dd>
          Announcing the SeqCode Prize 2024! 
          This prize will recognize significant achievements in prokaryotic
          systematics advancing the aims and reach of the SeqCode. Please share
          as widely as possible, early career scientists and graduate students
          are particularly encouraged to participate. For more information,
          visit <b><%= link_to('https://seqco.de/prize', page_prize_url) %></b>.
        </dd>

        <dt>
          <div class="date">June 23, 2023</div>
          The Reconciliation Comission is seeking your contribution
        </dt>
        <dd>
          <% disc2_url = 'https://github.com/seq-code/seqcode/discussions/2' %>
          Please share your opinion on the validation of the species name
          ‘<i>Omnitrophus fodinae</i>’ by commenting on this discussion:
          <b><%= link_to(disc2_url, disc2_url, target: '_blank') %></b>.
        </dd>
      <% else %>
        <p class="text-right my-2">
        <%= link_to(page_news_url, class: '') do %>
          Previous news &raquo;
        <% end %>
        </p>
      <% end %>
    </dl>
  </div>
</div>
