<div class="text-center bg-light rounded-lg border my-5 mx-3 p-5 ">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-3 mb-2 text-right">
        <h3>User</h3>
      </div>
      <div class="col-md-9 mb-2 text-left">
        <%= link_to(dashboard_path, class: 'btn btn-secondary btn-sm') do %>
          <%= fa_icon('tachometer-alt') %> User Dashboard
        <% end %>
        <%= link_to(destroy_user_session_path,
                    method: :delete, class: 'btn btn-secondary btn-sm') do %>
          <%= fa_icon('sign-out-alt') %> Logout
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-2 text-right">
        <h3>Contributor</h3>
      </div>
      <div class="col-md-9 mb-2 text-left">
        <% if current_contributor? %>
          <%= link_to('Register a new name',
                      new_name_path, class: 'btn btn-info btn-sm') %>
          <%= link_to('My names',
                      user_names_path, class: 'btn btn-info btn-sm') %>
          <%= link_to('My register lists',
                      registers_path(status: :user),
                      class: 'btn btn-info btn-sm') %>
          <%# link_to('Create names in batch',
                      new_batch_name_path, class: 'btn btn-info btn-sm') %>
        <% else %>
          <%= link_to('Request contributor status',
                      contributor_request_path, class: 'btn btn-info btn-sm') %>
          <%= help_message('Contributor status') do %>
            Users must have a contributor status before they're able to
            contribute new names or curate existing entries. To apply for
            contributor status, simply indicate in
            <%= link_to('a brief application text', contributor_request_path) %>
            what are your expected contributions to the system and their
            current status. This is primarily a measure to combat spam, and not
            an evaluation of academic merit.
          <% end %>
        <% end %>
      </div>
    </div>

    <% if current_curator? %>
      <div class="row">
        <div class="col-md-3 mb-2 text-right">
          <h3>Curator</h3>
        </div>
        <div class="col-md-9 mb-2 text-left">
          <%= link_to('Names awaiting review',
                      submitted_names_path,
                      class: 'btn btn-primary btn-sm') %>
          <%= link_to('Lists awaiting review',
                      registers_path(status: :submitted),
                      class: 'btn btn-primary btn-sm') %>
          <%= link_to('Notifications awaiting review',
                      registers_path(status: :notified),
                      class: 'btn btn-primary btn-sm') %>
        </div>
      </div>
    <% end %>
  <% else %>
    To contribute new names and curate existing ones,
    <%= link_to('Create a User', new_user_registration_path) %> or
    <%= link_to('Login', new_user_session_path) %>
  <% end %>
</div>
