<!--
<div class="alert alert-info mx-3 py-4 text-center">
  <h2>
    New server domain for the Registry
  </h2>
  <hr/>
  The SeqCode Registry is now migrating all traffic to the domain
  <code>https://registry.seqco.de/</code>. This means you might need
  to login again (with the same credentials), but it should otherwise
  cause no interruptions.<br/> For reference, the previous location was
  <code>https://disc-genomics.uibk.ac.at/seqcode</code>.
</div>
-->

<% if user_signed_in? %>
  <div id="notification-permission" class="text-center" style="display: none;">
    <%= button_tag(class: 'btn btn-primary', id: 'enable') do %>
      <%= fa_icon('bell') %>
      Enable notifications
    <% end %>
  </div>
<% end %>

<div class="main-page-box text-center bg-light rounded-lg border my-5 mx-3 p-5">
  <h1>SeqCode Registry</h1>
  <p class="lead">
    Part of the
    <a href="https://isme-microbes.org/seqcode-initiative"
       target=_blank>SeqCode initiative</a>, a path forward for naming
    the uncultivated
  </p>
  <hr/>
  <div class="container p-0">
    <ul class="row nav nav-pills" role="tablist" id="lead-tab">
      <%
        tabs = {
          register: ['pen-fancy', 'Register New Entries', false],
          search: [
            'search',
            'Search and Explore',
            true
          ],
          read: ['book-reader', 'Read and Learn More', false]
        }
      %>
      <% tabs.each do |k, v| %>
        <li class="col-md-4 px-3 nav-item" role="presentation">
          <%= link_to(
                "##{k}-content", id: "#{k}-tab",
                data: { toggle: 'pill' }, # role: 'tab',
                aria: { controls: "#{k}-content", selected: v[2] },
                class: 'p-3 w-100 h-100 rounded border w-100 text-primary ' \
                       'border-primary nav-link main-tab-button ' \
                       '' + (v[2] ? 'active' : '')
              ) do %>
            <%= fa_icon(v[0], style: 'font-size: 300%;', class: 'mb-3') %><br/>
            <b><%= v[1] %></b>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Dynamic content -->
  <div class="tab-content mt-0" style="font-size: 150%;" id="lead-tabContent">
    <div class="tab-pane fade jumbotron p-5"
          id="register-content" role="tabpanel" aria-labelledby="register-tab">
      <%= fa_icon('caret-down', class: 'text-primary mb-4 d-md-none d-block') %>
      <% if !user_signed_in? %>
        In order to contribute to SeqCode Registry,
        <%= link_to('Create a User', new_user_registration_path) %> or
        <%= link_to('Login', new_user_session_path) %>
      <% elsif !current_contributor? %>
        You are currently not registered as a contributor, please
        <%= link_to('Request contributor status',
            contributor_request_path) %>
      <% else %>
        <%= link_to(new_name_url) do %>
          <%= fa_icon('plus-circle', class: 'mr-2') %>
          Register individual new names in our standard mode
        <% end %>
        or <br/>
        <%= link_to(tutorials_url) do %>
          <%= fa_icon('shoe-prints', class: 'mr-2') %>
          Follow a guided registration for multiple novel names
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade show active jumbotron p-5"
          id="search-content" role="tabpanel" aria-labelledby="search-tab">
      <%= fa_icon('caret-down', class: 'text-primary mb-4 d-md-none d-block') %>
      <div class='mx-2'>
        <%= render(partial: 'shared/search_bar') %>
      </div>
      <p class="small mt-4">
        We have identified
        <%= link_to(pluralize(@names.count, 'name'), names_path) %>, including
        <%= link_to(
              pluralize(@validated[:names].count, 'name'),
              names_path(status: 'SeqCode')
            )
        %> validly published under the SeqCode in
        <%= link_to(
              pluralize(@validated[:registers].count, 'register list'),
              registers_path(status: 'validated')
            )
        %>.
      </p>
    </div>
    <div class="tab-pane fade jumbotron p-5"
          id="read-content" role="tabpanel" aria-labelledby="read-tab">
      <%= fa_icon('caret-down', class: 'text-primary mb-4 d-md-none d-block') %>
      Interested in learning more about the SeqCode?
      <br/>
      <%= link_to(page_about_url) do %>
        <%= fa_icon('question-circle') %>
        Visit the <i>About</i> page of the SeqCode Registry<% end %>,
      <br/>
      <%= link_to(page_seqcode_url) do %>
        <%= fa_icon('book') %>
        Read the current version of the SeqCode<% end %> or
      <br/>
      <%= link_to(page_publications_url) do %>
        <%= fa_icon('newspaper') %>
        Check-out the SeqCode publications<% end %>
    </div>
  </div>
</div>

<%= render(partial: 'user_actions') %>
<%= render(partial: 'news') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
      <h1>Recent entries</h1>
      <hr/>
    </div>
    <div class="col-lg-4 pb-5">
      <div class="text-center bg-light rounded-lg border p-5 h-100 recent-entries-list">
        <h2>Names</h2>
        <% @names.first(5).each do |name| %>
          <%= link_to(name) do %>
            <div><%= name.abbr_name %></div>
          <% end %>
        <% end %>
        <%= link_to(names_path(sort: :date)) do %>
          <div>more...</div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 pb-5">
      <div class="text-center bg-light rounded-lg border p-5 h-100 recent-entries-list">
        <h2>Publications</h2>
        <% @publications.first(5).each do |publication| %>
          <%= link_to(publication) do %>
            <div><%= publication.short_citation %></div>
          <% end %>
        <% end %>
        <%= link_to(publications_path(sort: :date)) do %>
          <div>more...</div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 pb-5">
      <div class="text-center bg-light rounded-lg border p-5 h-100 recent-entries-list">
        <h2>Validly published</h2>
        <% @validated[:names].first(5).each do |name| %>
          <%= link_to(name) do %>
            <div><%= name.abbr_name %></div>
          <% end %>
        <% end %>
        <%= link_to(names_path(sort: :date, status: :SeqCode)) do %>
          <div>more...</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br/>
<%= render(partial: 'shared/cc') %>
