<div class="alert alert-info mx-3">
  The SeqCode Registry is currently in <b>beta testing</b> phase, and
  changes to the layout are being actively introduced. If you have any
  questions or suggestions,
  <%= link_to('contact us', page_connect_url) %>.
</div>

<div class="text-center bg-light rounded-lg border my-5 mx-3 p-5">
  <h1>SeqCode Registry</h1>
  <p class="lead">
    Part of the
    <a href="https://isme-microbes.org/seqcode-initiative"
       target=_blank>SeqCode initiative</a>, a path forward for naming
    the uncultivated
  </p>
  <hr/>
  <div class="container">
    <ul class="row nav nav-pills" role="tablist" id="lead-tab">
      <%
        tabs = {
          register: ['pen-fancy', 'Register New Names or New Types', false],
          search: [
            'search',
            'Search and Explore Registered Names and Publications',
            true
          ],
          read: ['book-reader', 'Read and Learn More About the SeqCode', false]
        }
      %>
      <% tabs.each do |k, v| %>
        <li class="col-md-4 px-3 nav-item" role="presentation">
          <%= link_to(
                "##{k}-content", id: "#{k}-tab",
                data: { toggle: 'pill' }, role: 'tab',
                aria: { controls: "#{k}-content", selected: v[2] },
                class: 'p-3 w-100 h-100 rounded border w-100 text-primary ' \
                       'border-primary btn btn-light nav-link' \
                       ' ' + (v[2] ? 'active' : '')
              ) do %>
            <%= fa_icon(v[0], style: 'font-size: 300%;', class: 'mb-3') %><br/>
            <%= v[1] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- Dynamic content -->
  <div class="tab-content mt-3" style="font-size: 150%;" id="lead-tabContent">
    <div class="tab-pane fade jumbotron p-5" id="register-content" role="tabpanel" aria-labelledby="register-tab">
      <% if !user_signed_in? %>
        In order to contribute to SeqCode Registry,
        <%= link_to('Create a User', new_user_registration_path) %> or
        <%= link_to('Login', new_user_session_path) %>
      <% elsif !current_contributor? %>
        You are currently not registered as a contributor, please
        <%= link_to('Request contributor status',
            contributor_request_path) %>
      <% else %>
        <!--
        <%= link_to(tutorials_url) do %>
          <%= fa_icon('shoe-prints') %>
          Follow our step-by-step registration of novel names
        <% end %> or <br/>
        -->
        We are developing a step-by-step registration system, but you can
        already<br/>
        <%= link_to(new_name_url) do %>
          <%= fa_icon('plus-circle') %>
          Register new names in our expert mode
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade show active jumbotron p-5" id="search-content" role="tabpanel" aria-labelledby="search-tab">
      <div class='mx-2'>
        <%= render(partial: 'shared/search_bar') %>
      </div>
      <p class="small mt-4">
        We have identified
        <%= link_to(pluralize(@names.count, 'name'), names_path) %> from
        <%= link_to(
              pluralize(@publications.count, 'publication'),
              publications_path
            )
        %>, including
        <%= link_to(
              pluralize(@validated[:names].count, 'valid name'),
              names_path(status: 'SeqCode')
            )
        %> in
        <%= link_to(
              pluralize(@validated[:registers].count, 'list'),
              registers_path(status: 'validated')
            )
        %>.
      </p>
    </div>
    <div class="tab-pane fade jumbotron p-5" id="read-content" role="tabpanel" aria-labelledby="read-tab">
      Interested in learning more about the SeqCode?
      <br/>
      <%= link_to(page_seqcode_url) do %>
        <%= fa_icon('book') %> Read the current version of the SeqCode
      <% end %> or
      <br/>
      <%= link_to(page_publications_url) do %>
        <%= fa_icon('newspaper') %> Check-out the SeqCode publications
      <% end %>
    </div>
  </div>
</div>

<%= render(partial: 'user_actions') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
      <h1>Recent entries</h1>
      <hr/>
    </div>
    <div class="col-lg-4 pb-5">
      <div class="text-center bg-light rounded-lg border p-5 h-100">
        <h2>Names</h2>
        <% @names.first(5).each do |name| %>
          <hr/><%= link_to(name.abbr_name, name) %>
        <% end %>
        <hr/><%= link_to('more...', names_path(sort: :date)) %>
      </div>
    </div>
    <div class="col-lg-4 pb-5">
      <div class="text-center bg-light rounded-lg border p-5 h-100">
        <h2>Publications</h2>
        <% @publications.first(5).each do |publication| %>
          <hr/><%= link_to(publication.short_citation, publication) %>
        <% end %>
        <hr/><%= link_to('more...', publications_path(sort: :date)) %>
      </div>
    </div>
    <div class="col-lg-4 pb-5">
      <div class="text-center bg-light rounded-lg border p-5 h-100">
        <h2>Validated names</h2>
        <% @validated[:names].first(5).each do |name| %>
          <hr/><%= link_to(name.abbr_name, name) %>
        <% end %>
        <hr/><%= link_to('more...', names_path(sort: :date, status: :SeqCode)) %>
      </div>
    </div>
  </div>
</div>

<br/>
<%= render(partial: 'shared/cc') %>
