<%= pager(@names) %>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name, Type</th>
      <th>Checks</th>
      <th>Discrepancies</th>
      <th>MiGA Distances (top 3 AAI)</th>
      <th>MiGA Taxonomy (top 3 AAI)</th>
    </tr>
  </thead>
  <tbody>
    <% @names.each do |name| %>
      <% genome = name.type_genome %>
      <tr>
        <td><%= display_link(name) %>, <%= display_link(genome) %></td>
        <td class="curator-checklist">
          <% @checks[@check].each do |check_type| %>
            <% warn = name.qc_warnings[check_type] or next %>
            <%= render(
                  partial: 'checks/curator',
                  locals: { warn: warn, no_message: true, no_section: true }
                ) %>
          <% end %>
        </td>
        <td>
          <% name.qc_warnings.each do |warn| %>
            <% if warn.type.to_s =~ /^discrepant_/ %>
              <%= render(
                    partial: 'checks/check',
                    locals: { warn: warn, no_message: true, no_action: true }
                  ) %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% cr = genome.miga_object&.closest_relatives(3, false, :aai) || [] %>
          <% cr.each { |r| %><%= r[1] %>% - <%= r[0].unmiga_name %><br/><% } %>
        </td>
        <td>
          <b><%= (genome.miga_object&.metadata || {})[:tax] %></b><br/>
          <% cr = genome.miga_object&.closest_relatives(3, true, :aai) || [] %>
          <% cr.each { |r| %><%= r[1] %>% - <%= r[0].unmiga_name %><br/><% } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render(partial: 'checks/curator_script') %>
<%= pager(@names) %>
