<%= pager(@names) %>

<% def show_aai(cr) %>
  <% cr.each do |r| %>
    <div class="<%=
      r[1].to_f > 95.0 ? 'text-danger' : r[1].to_f > 60.0 ? '' : 'text-muted'
    %> mb-2">
      <%= r[1] %>% -
      <% if r[0] =~ /^genome_(\d+)$/%>
        <%= link_to(r[0].unmiga_name, genome_url($1)) %>
      <% else %>
        <%= r[0].unmiga_name %>
      <% end %>
    </div>
  <% end %>
<% end %>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name, Type</th>
      <th>Checks</th>
      <th>Discrepancies</th>
      <th>MiGA Distances (top 3 AAI)</th>
      <th>MiGA Taxonomy (top 3 AAI)</th>
    </tr>
  </thead>
  <tbody>
    <% @names.each do |name| %>
      <% genome = name.type_genome %>
      <tr>
        <td><%= display_link(name) %>, <%= display_link(genome) %></td>
        <td class="curator-checklist">
          <% @checks[@check].each do |check_type| %>
            <% warn = name.qc_warnings[check_type] or next %>
            <%= render(
                  partial: 'checks/curator',
                  locals: { warn: warn, no_message: true, no_section: true }
                ) %>
          <% end %>
        </td>
        <td>
          <% name.qc_warnings.each do |warn| %>
            <% if warn.type.to_s =~ /^discrepant_/ %>
              <%= render(
                    partial: 'checks/check',
                    locals: { warn: warn, no_message: true, no_action: true }
                  ) %>
            <% end %>
          <% end %>
        </td>
        <% if genome %>
          <% miga_obj = genome.miga_object %>
          <td rowspan=2>
            <% cr = miga_obj&.closest_relatives(3, false, :aai) || [] %>
            <% show_aai(cr) %>
          </td>
          <td rowspan=2>
            <b><%= (miga_obj&.metadata || {})[:tax] %></b><br/>
            <% cr = miga_obj&.closest_relatives(3, true, :aai) || [] %>
            <% show_aai(cr) %>
          </td>
        <% else %>
          <td colspan=2 rowspan=2 class="text-danger">Undefined type genome</td>
          <% next %>
        <% end %>
      </tr>
      <tr>
        <td colspan=3>
          <b>Reported Classification:</b><br/>
          <%= show_tax_string(
                name.lineage.map { |i| "#{i.inferred_rank}:#{i.name}" },
                id: "tax-#{name.id}-reported"
              ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render(partial: 'checks/curator_script') %>
<%= pager(@names) %>
