<%= pager(@names) %>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name, Type</th>
      <th>Checks</th>
      <th>Reported Classification</th>
      <th>RDP Classification</th>
      <th>MiGA Classification</th>
    </tr>
  </thead>
  <tbody>
    <% @names.each do |name| %>
      <% genome = name.type_genome %>
      <tr>
        <td><%= display_link(name) %>, <%= display_link(genome) %></td>
        <td class="curator-checklist">
          <% @checks[@check].each do |check_type| %>
            <% warn = name.qc_warnings[check_type] or next %>
            <%= render(
                  partial: 'checks/curator',
                  locals: { warn: warn, no_message: true, no_section: true }
                ) %>
          <% end %>
        </td>
        <td><%= name.lineage.map(&:name).join(' > ') %></td>
        <td>
          <% rdp_file =
              genome&.miga_object&.result(:ssu)&.file_path(:classification) %>
          <% if rdp_file %>
            <% Zlib::GzipReader.open(rdp_file) do |fh| %>
              <% fh.each do |ln| %>
                <% next if ln =~ /^#/ %>
                <% row = ln.chomp.split("\t") %>
                <b><%= row.shift %></b>
                <ul>
                  <% row.shift %>
                  <% while (tax = row.shift(3)).any? %>
                    <li>
                      <%= tax[0] %>
                      <span class="text-muted">(<%= tax[2] %>)</span>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% miga_classif = genome&.miga_object&.metadata&.[](:tax) %>
          <%= miga_classif %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render(partial: 'checks/curator_script') %>
<%= pager(@names) %>
