<script type="text/javascript">
  var ROOT_PATH = '<%= root_url %>';
</script>

<% @search_id = modal('Search', size: 'lg') do %>
  <div class="my-3">
    <%= render(partial: 'shared/search_bar') %>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-dark bg-vdark-ce">
  <div class="container-fluid d-flex flex-row">
    <div class="navbar-brand p-0 m-0">
      <%= link_to(root_url, class: 'navbar-brand') do %>
        <%= image_tag('logo.svg', size: 20, class: 'mr-1',
              style: 'margin-bottom: 0.25rem;') %>
        SeqCode Registry
      <% end %>
    </div>

    <div class="navbar-text flex-fill text-left">
      <span class="mx-3 navbar-lemma">cognitis nomina</span>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
      <%= render partial: 'shared/user_links' %>
    </div>
  </div>
</nav>
<% if @crumbs %>
  <nav class="navbar small sticky-top navbar-expand navbar-dark bg-dark-ce
              justify-content-between overflow-hidden">
    <div class="navbar-nav">
      <div class="collapse navbar-collapse crumbs">
        <%= link_to(root_url,
              class: 'nav-item nav-link only-stuck', title: 'Home') do %>
          <%= fa_icon('university') %>
        <% end %>
        <% @crumbs.each do |i| %>
          <% if i.is_a?(Array) %>
            <%= link_to(i[0], i[1], class: 'nav-item nav-link') %>
          <% else %>
            <%= content_tag(:span, i, class: 'nav-item nav-link active') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <%= modal_button(@search_id, class: 'only-stuck', tag: :a) do %>
        <%= fa_icon('search') %>
      <% end %>
    </div>
  </nav>
<% end %>
