<!DOCTYPE html>
<html>
  <head>
    <!-- Page identity -->
    <title><%= full_title(content_for(:title)) %></title>
    <% if content_for?(:canonical_url) %>
      <%= tag(:link, rel: 'canonical', href: content_for(:canonical_url)) %>
    <% end %>
    <% if content_for?(:description) %>
      <%= tag(:meta, name: 'description', content: content_for(:description)) %>
    <% end %>
    <%= tag(:meta, charset: 'utf-8') %>

    <!-- Base infrastructure -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag(
          'application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag(
          'application', 'data-turbolinks-track': 'reload') %>
    <%= javascript_pack_tag('application') %>
    <%= stylesheet_link_tag(
          '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/' \
            'jquery-ui.min.css'
        ) %>
    <%= tag(:meta,
          name: 'viewport', content: 'width=device-width, initial-scale=0.8') %>

    <!-- Plausible -->
    <% if Rails.configuration.try(:plausible_server).present? %>
      <script
        defer
        event-app="registry"
        data-domain="<%= Rails.configuration.plausible_domain %>"
        src="<%= Rails.configuration.plausible_server %>/js/script.pageview-props.js"
      ></script>
    <% end %>

    <!-- MapLibre -->
    <script
      defer
      src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"
    ></script>
    <link rel="stylesheet" defer
          href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css" />

    <!-- Favicons -->
    <%= tag(:link, rel: 'apple-touch-icon', sizes: '180x180',
            href: File.join(root_path, 'apple-touch-icon.png')) %>
    <%= tag(:link, rel: 'icon', type: 'image/png', sizes: '32x32',
            href: File.join(root_path, 'favicon-32x32.png')) %>
    <%= tag(:link, rel: 'icon', type: 'image/png', sizes: '16x16',
            href: File.join(root_path, 'favicon-16x16.png')) %>
    <%= tag(:link, rel: 'manifest',
            href: File.join(root_path, 'site.webmanifest')) %>
  </head>

  <body>
    <% if !(@without_layout ||= false) %>
      <%= render(partial: 'layouts/header') %>
      <%= render(partial: 'layouts/flash') %>
      <br/>
    <% elsif @register ||= nil %>
      <div id="container">
        <div class="row mx-5 px-5 py-2 border-bottom font-weight-bold">
          <div class="col-6">SeqCode Registry</div>
          <div class="col-6 text-right">
            Register List <%= link_to(@register.acc_url(true), @register.acc_url(true)) %>
            [<%= @register.priority_date&.year || @register.status_name %>]
          </div>
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
	<% if devise_controller? %>
          <div class="col-md-9 col-lg-6">
            <div id="devise-well"
                 class="rounded-lg bg-light border my-5 p-5 text-right">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <div class="col-12">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
    <% unless @without_layout ||= false %>
      <div class="position-fixed bottom-0 right-0 p-3"
            style="z-index: 5; right: 0; bottom: 0;" id="toastCont"></div>
      <%= render partial: 'layouts/footer' %>
    <% end %>
  </body>
</html>
